<!--<button (click)="debugpre = !debugpre" style="position:fixed;top:0;left:100px;color:black;z-index: 99999999;">Show debug</button>
<pre *ngIf="debugpre" style="position: absolute;width:70%;top:0;z-index: 9999999;">
    <div style="float:left;width:50%">
        <button (click)="createDummy()">createdummy</button>
    </div>
    <div style="float:left;width:50%">

    </div>
</pre>-->
<div class="main_content devicelist">
    <div class="devicelist_block">
        <config-tab></config-tab>
        <div class="tab-content">
            <div role="tabpanel"  class="device_modus" id="device_modus" *ngIf="showDeviceList" >
                <h2>Devices</h2>
                <input autocomplete="off" id="devicefilter" class="devicefilter" [(ngModel)]="devicefilter" placeholder="Search device"/>
                <!--<button class="adddevice" (click)="createDevice()" title="Add new device"><span class="glyphicon glyphicon-plus"></span></button>-->
                <!--     <button class="adddevice" (click)="createDevice()" title="Extended filters"><span class="glyphicon glyphicon-cog"></span></button> -->

                <div *ngIf="advancedConfig" class="ng-hide">
                    <div class="row ng-hide filter hidden_filters" *ngIf="advancedConfig">
                        <div class="col-md-3 block-2-1" >
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="dDeviceName" type="text" [(ngModel)]="filter.dicomDeviceName" placeholder="Device name" title="Device name" class="col-md-12" />
                                </div>
                                <div class="col-md-6">
                                    <input id="dicomDeviceDescription" type="text" [(ngModel)]="filter.dicomDeviceDescription" placeholder="Device description" title="Device description" class="col-md-12" />
                                </div>
                                <div class="col-md-6">
                                    <input id="dicomManufacturer" type="text" [(ngModel)]="filter.dicomManufacturer" placeholder="Manufacturer" title="Manufacturer" class="col-md-12" />
                                </div>
                                <div class="col-md-6">
                                    <input id="dicomManufacturerModelName" type="text" [(ngModel)]="filter.dicomManufacturerModelName" placeholder="Manufacturer model name" title="Manufacturer model name" class="col-md-12" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 block-2-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="dicomSoftwareVersion" type="text" [(ngModel)]="filter.dicomSoftwareVersion" placeholder="Software version" title="Software version" class="col-md-12 clearable" />
                                </div>
                                <div class="col-md-6">
                                    <input id="dicomStationName" type="text" [(ngModel)]="filter.dicomStationName" placeholder="Station name" title="Station name" class="col-md-12 clearable" />
                                </div>
                                <div class="col-md-6">
                                    <input id="dicomPrimaryDeviceType" type="text" [(ngModel)]="filter.dicomPrimaryDeviceType" placeholder="Primary device type" title="Primary device type" class="col-md-12 clearable" />
                                </div>
                                <div class="col-md-6">
                                    <input id="dicomInstitutionName" type="text" [(ngModel)]="filter.dicomInstitutionName" placeholder="Institution name" title="Institution name" class="col-md-12 clearable" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 block-2-1">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="dicomInstitutionDepartmentName" type="text" [(ngModel)]="filter.dicomInstitutionDepartmentName" placeholder="Institution department name" title="Institution department name" class="col-md-12 clearable" />
                                </div>
                                <div class="col-md-6">
                                    <div class="dummyinput"></div>
                                </div>
                                <div class="col-md-6">
                                    <select id="dicomInstalled" [(ngModel)]="filter.dicomInstalled" class="col-md-12" title="Installed" [ngClass]="{empty:filter.dicomInstall === ''}">
                                        <option value="">-- Installed --</option>
                                        <option value="true">True</option>
                                        <option value="false">False</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <button class="col-md-12" (click)="searchDevices()">Search</button>
                                </div>
                            </div>
                        </div>
                        <a class="clearform_button" title="Clear all filters" href="" (click)="$event.preventDefault();clearForm()">
                            Clear <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </div>
                <div class="morefunctionblock">
                    <a href="" (click)="$event.preventDefault();advancedConfig=true" *ngIf="!advancedConfig" class="more">Extended search<i class="glyphicon glyphicon-triangle-bottom"></i></a>
                    <a href="" (click)="$event.preventDefault();advancedConfig=false" *ngIf="advancedConfig" class="more ng-hide">Close extended search<i class="glyphicon glyphicon-triangle-top"></i></a>
                    <div class="more functions" (clickOutside)="moreFunctionsButtons = false" [clickOutsideExceptionClass]="['mainbutton','mainbutton_more_icon','glyphicon']" [permission]="{id:'action-devicelist-device_configuration',param:'visible'}">
                        <div class="mainbutton" (click)="moreFunctionsButtons = !moreFunctionsButtons">
                            <span class="mainbutton_more_icon" *ngIf="!moreFunctionsButtons" >More functions<i class="glyphicon glyphicon-triangle-bottom"></i></span>
                            <span class="mainbutton_more_icon" *ngIf="moreFunctionsButtons">Close more functions<i class="glyphicon glyphicon-triangle-top"></i></span>
                        </div>
                        <ul *ngIf="moreFunctionsButtons">
                            <li (click)="moreFunctionsButtons = false;createExporter()" title="Create new exporter">Create exporter</li>
                            <li (click)="moreFunctionsButtons = false;createDevice()" title="Create new device">Create device</li>
                        </ul>
                    </div>
                </div>
                <table class="j4care-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Device Name</th>
                        <th>Department Name</th>
                        <th>Device Description</th>
                        <th>Manufacturer</th>
                        <th>Model Name</th>
                        <th>Primary device type</th>
                        <th>Station Name</th>
                        <th>Installed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let device of devices | search:devicefilter | slice:moreDevices.start:moreDevices.limit; let i = index">
                        <td class="buttons_td">
                            <span class="numbers">{{i+1}}.</span>
                            <a [permission]="{id:'action-devicelist-device_configuration',param:'visible'}" class="table_btn" title="Edit device" href="" (click)="$event.preventDefault();editDevice(device.dicomDeviceName)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a [permission]="{id:'action-devicelist-device_configuration',param:'visible'}" class="table_btn" title="Delete device" href="" (click)="$event.preventDefault();deleteDevice(device)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a [permission]="{id:'action-devicelist-device_configuration',param:'visible'}" class="table_btn" title="Clone device" href="" (click)="$event.preventDefault();cloneDevice(device)">
                                <span class="glyphicon glyphicon-duplicate"></span>
                            </a>
                        </td>
                        <td><div *ngIf="device.dicomDeviceName" >
                            <a title="Edit {{device.dicomDeviceName}}" href="" (click)="$event.preventDefault();editDevice(device.dicomDeviceName)">
                                {{device.dicomDeviceName}}
                            </a>
                        </div></td>
                        <td><div *ngIf="_.hasIn(device,'dicomInstitutionDepartmentName[0]')" >{{device.dicomInstitutionDepartmentName[0]}}</div></td>
                        <td><div *ngIf="device.dicomDescription" >{{device.dicomDescription}}</div></td>
                        <td><div *ngIf="device.dicomManufacturer" >{{device.dicomManufacturer}}</div></td>
                        <td><div *ngIf="device.dicomManufacturerModelName" >{{device.dicomManufacturerModelName}}</div></td>
                        <td><div *ngIf="_.hasIn(device,'dicomPrimaryDeviceType[0]')" >{{device.dicomPrimaryDeviceType[0]}}</div></td>
                        <td><div *ngIf="device.dicomStationName" >{{device.dicomStationName}}</div></td>
                        <td *ngIf="device.dicomInstalled === false">false</td>
                        <td *ngIf="device.dicomInstalled != false">true</td>
                    </tr>
                    </tbody>
                </table>
                <button class="load_more" *ngIf="devices && moreDevices.limit <= devices.length" (click)="loadMoreDevices()"><i *ngIf="moreDevices.loaderActive" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>More</button>
            </div>
        </div>
    </div>
</div>