<div class="main_content devicelist aes">
    <div class="devicelist_block">
    <config-tab></config-tab>
    <div role="tabpanel" class="aet_modus" id="aet_modus">
        <h2>Application Entities list</h2>
        <input autocomplete="off" id="aesfilter" class="aesfilter" [(ngModel)]="aesfilter" placeholder="Search AEs"/>
        <button [permission]="{id:'action-devicelist-device_configuration',param:'visible'}" class="adddevice" (click)="createAe()" title="Register new application entity"><span class="glyphicon glyphicon-plus"></span></button>
        <!--     <button class="adddevice" (click)="createDevice()" title="Extended filters"><span class="glyphicon glyphicon-cog"></span></button> -->
        <a href="" (click)="$event.preventDefault();advancedConfig=true" *ngIf="!advancedConfig" class="more">Extended search<i class="glyphicon glyphicon-triangle-bottom"></i></a>
        <a href="" (click)="$event.preventDefault();advancedConfig=false" *ngIf="advancedConfig" class="more ng-hide">Close extended search<i class="glyphicon glyphicon-triangle-top"></i></a>
        <div *ngIf="advancedConfig" class="ng-hide">
            <div class="row ng-hide filter hidden_filters" *ngIf="advancedConfig">
                <div class="col-md-3 block-2-1" >
                    <div class="row">
                        <div class="col-md-6">
                            <input id="dicomDeviceName" type="text" [(ngModel)]="filter.dicomDeviceName" placeholder="Device name" title="Device name" class="col-md-12" />
                        </div>
                        <div class="col-md-6">
                            <input id="dicomAETitle" type="text" [(ngModel)]="filter.dicomAETitle" placeholder="AE Title" title="AE Title" class="col-md-12" />
                        </div>
                        <div class="col-md-6">
                            <input id="dicomDeviceDescription" type="text" [(ngModel)]="filter.dicomDescription" placeholder="Description" title="Description" class="col-md-12" />
                        </div>
                        <div class="col-md-6">
                            <select id="dicomAssociationInitiator" [(ngModel)]="filter.dicomAssociationInitiator" class="col-md-12" title="Association Initiator" [ngClass]="{empty:filter.dicomAssociationInitiator === ''}">
                                <option value="">-- AssociationInitiator --</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--                     <div class="col-md-3 block-2-1">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input id="dicomSoftwareVersion" type="text" [(ngModel)]="filter.dicomSoftwareVersion" placeholder="Software version" title="Software version" class="col-md-12 clearable" />
                                            </div>
                                            <div class="col-md-6">
                                                <input id="dicomStationName" type="text" [(ngModel)]="filter.dicomStationName" placeholder="Station name" title="Station name" class="col-md-12 clearable" />
                                            </div>
                                            <div class="col-md-6">
                                                <input id="dicomPrimaryDeviceType" type="text" [(ngModel)]="filter.dicomPrimaryDeviceType" placeholder="Primary device type" title="Primary device type" class="col-md-12 clearable" />
                                            </div>
                                            <div class="col-md-6">
                                                <input id="dicomInstitutionName" type="text" [(ngModel)]="filter.dicomInstitutionName" placeholder="Institution name" title="Institution name" class="col-md-12 clearable" />
                                            </div>
                                        </div>
                                    </div> -->
                <div class="col-md-3 block-2-1">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="dicomAssociationAcceptor" [(ngModel)]="filter.dicomAssociationAcceptor" class="col-md-12" title="Association Acceptor" [ngClass]="{empty:filter.dicomAssociationAcceptor === ''}">
                                <option value="">-- AssociationAcceptor --</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <div class="dummyinput"></div>
                        </div>
                        <div class="col-md-6">
                            <input id="dicomApplicationCluster" type="text" [(ngModel)]="filter.dicomApplicationCluster" placeholder="Application Cluster" title="Application Cluster" class="col-md-12" />
                        </div>
                        <div class="col-md-6">
                            <button class="col-md-12" (click)="searchAes()">Search</button>
                        </div>
                    </div>
                </div>
                <a class="clearform_button" title="Clear all filters" href="" (click)="$event.preventDefault();clearForm()">
                    Clear <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
        <table class="j4care-table">
            <thead>
            <tr>
                <th></th>
                <th>AETitle</th>
                <th>Device Name</th>
                <th>Other AETitle</th>
                <th>Description</th>
                <th>Association Initiator</th>
                <th>Association Acceptor</th>
                <th>Application Cluster</th>
                <th>Installed</th>
                <th title="Dicom network connection">Net. Connection</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ae of  aes | search:aesfilter | slice:moreAes.start:moreAes.limit; let i = index">
                <td class="buttons_td">
                    <span class="numbers">{{i+1}}.</span>
                    <a class="table_btn" title="Echo" href="" (click)="$event.preventDefault();echoAe(ae.dicomAETitle)">
                        <span class="echo_icon"></span>
                    </a>
<!--                    <a class="table_btn" title="Edit AE" href="" (click)="$event.preventDefault();editAe(ae.dicomDeviceName, ae.dicomAETitle)" routerLink="/device/edit/{{ae.dicomDeviceName}}/dicomNetworkAE%5B0%5D/properties.dicomNetworkAE">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>-->
                    <a [permission]="{id:'action-devicelist-device_configuration',param:'visible'}" class="table_btn" title="Delete from device the AE" href="" (click)="$event.preventDefault();deleteAE(ae.dicomDeviceName, ae.dicomAETitle)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                <!-- <td><a class="listlink" (click)="editDeviceList(ae.dicomDeviceName)"  title="Edit device">{{ae.dicomDeviceName}}</a></td> -->
                <td>{{ae.dicomAETitle}}</td>
                <td>
                    <a title="Edit device" href="" routerLink="/device/edit/{{ae.dicomDeviceName}}">
                    {{ae.dicomDeviceName}}
                    </a>
                </td>
                <td>
                    <span *ngFor="let otherae of ae.dcmOtherAETitle">{{otherae}}<br></span>
                </td>
                <td>{{ae.dicomDescription}}</td>
                <td>{{ae.dicomAssociationInitiator}}</td>
                <td>{{ae.dicomAssociationAcceptor}}</td>
                <td>
                    <span *ngFor="let cluster of ae.dicomApplicationCluster">{{cluster}}<br></span>
                </td>
                <td *ngIf="ae.dicomInstalled === false">false</td>
                <td *ngIf="ae.dicomInstalled != false" [innerHtml]="ae.dicomInstalled || 'inherit'"></td>
                <!--[innerHtml]="ae.dicomNetworkConnection | dicomConnectionFormater"-->
                <!--                        <td [innerHtml]="ae.dicomNetworkConnection | dicomConnectionFormater">
                                        </td>-->
                <td>
                    <connection-formater [dicomNetworkConnection]="ae.dicomNetworkConnection"></connection-formater>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="load_more" *ngIf="aes && moreAes.limit <= aes.length" (click)="loadMoreAes()"><i *ngIf="moreAes.loaderActive" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>More</button>
    </div>
</div>
</div>