.timepicker{
    max-height: 300px;
    min-width: 260px;
    overflow: auto;
    position: absolute;
    z-index: 101;
    background: white;
    -webkit-box-shadow: 2px 2px 13px 0px #777;
    -moz-box-shadow:  2px 2px 13px 0px #777;
    box-shadow:  2px 2px 13px 0px #777;
    padding:20px 15px;
    mat-select{
        width:auto;
    }
    .timers_block{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        margin:15px 0;
        select{
            background: white;
            width:30%;
        }
    }
    .btn_content{
        width: 100%;
        margin: 15px 0;
        button.btn{
            background: rgba(6, 29, 47, 0.84);
            color: white;
            border: 0;
            //width: 24%;
            float: right;
            margin-left:5px;
        }
    }
    &.cohere{
        margin-top: 27px;
    }
    .close{
        right: 7px;
        top: 7px;
        font-size: 16px;
        position: absolute;
    }
}
.input_block{
    input{
        width:calc(100% - 26px);
        float: left;
    }
    .glyphicon-time{
        display: inline-block;
        width:26px;
        height:26px;
        background-color: rgba(6, 29, 47, 0.84);
        color: white;
        text-align: center;
        float: right;
        vertical-align: middle;
        line-height: 26px;
        top:0px;
        &:hover{
            cursor: pointer;
        }
    }
}