{
  "swagger": "2.0",
  "info": {
    "title": "DICOM 3",
    "version": "2016a"
  },
  "host": "dcm4che.org",
  "basePath": "/dcm4chee-arc",
  "schemes": [
    "http"
  ],
  "tags": [
    {
      "name": "QIDO-RS",
      "description": "Query based on ID for DICOM Objects by RESTful Services",
      "externalDocs": {
        "description": "DICOM PS3.18",
        "url": "http://dicom.nema.org/medical/dicom/current/output/html/part18.html"
      }
    },
    {
      "name": "WADO-RS",
      "description": "Web Access to DICOM Objects by RESTful Services",
      "externalDocs": {
        "description": "DICOM PS3.18",
        "url": "http://dicom.nema.org/medical/dicom/current/output/html/part18.html"
      }
    },
    {
      "name": "WADO-URI",
      "description": "Web Access to DICOM Objects by URI",
      "externalDocs": {
        "description": "DICOM PS3.18",
        "url": "http://dicom.nema.org/medical/dicom/current/output/html/part18.html"
      }
    },
    {
      "name": "STOW-RS",
      "description": "Storage over the Web of DICOM Objects by RESTful Services",
      "externalDocs": {
        "description": "DICOM PS3.18",
        "url": "http://dicom.nema.org/medical/dicom/current/output/html/part18.html"
      }
    }
  ],
  "paths": {
    "/aets/{aet}/rs/patients": {
      "get": {
        "tags": [
          "QIDO-RS"
        ],
        "summary": "Search for Patients",
        "operationId": "SearchForPatients",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "type=application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "{attributeID}",
            "in": "query",
            "description": "{attributeID}={value}; {attributeID} = {dicomTag} | {dicomKeyword} | {dicomTag}.{attributeID} | {dicomKeyword}.{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "includefield",
            "in": "query",
            "description": "includefield={attributeID} | all",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "orderby=[-]{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "withoutstudies",
            "in": "query",
            "description": "return Patient w/o Studies",
            "type": "boolean",
            "default": true
          },
          {
            "name": "fuzzymatching",
            "in": "query",
            "description": "fuzzy semantic matching of person names",
            "type": "boolean",
            "default": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset={skippedResults}",
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit={maximumResults}",
            "type": "integer",
            "default": 50
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no matching patient found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies": {
      "get": {
        "tags": [
          "QIDO-RS"
        ],
        "summary": "Search for Studies",
        "operationId": "SearchForStudies",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "{attributeID}",
            "in": "query",
            "description": "{attributeID}={value}; {attributeID} = {dicomTag} | {dicomKeyword} | {dicomTag}.{attributeID} | {dicomKeyword}.{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "includefield",
            "in": "query",
            "description": "includefield={attributeID} | all",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "orderby=[-]{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "returnempty",
            "in": "query",
            "description": "return also empty Studies",
            "type": "boolean",
            "default": false
          },
          {
            "name": "expired",
            "in": "query",
            "description": "return only expired Studies",
            "type": "boolean",
            "default": false
          },
          {
            "name": "incomplete",
            "in": "query",
            "description": "return only Studies which are marked as incomplete",
            "type": "boolean",
            "default": false
          },
          {
            "name": "retrievefailed",
            "in": "query",
            "description": "return only Studies which failed to be retrieved from fallback C-MOVE SCP",
            "type": "boolean",
            "default": false
          },
          {
            "name": "fuzzymatching",
            "in": "query",
            "description": "fuzzy semantic matching of person names",
            "type": "boolean",
            "default": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset={skippedResults}",
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit={maximumResults}",
            "type": "integer",
            "default": 50
          },
          {
            "name": "SendingApplicationEntityTitleOfSeries",
            "in": "query",
            "description": "return Studies which includes at least one Series received from <AE Title>",
            "type": "string"
          },
          {
            "name": "StudyReceiveDateTime",
            "in": "query",
            "description": "return Studies which were created between <datetime1>-<datetime2>",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no matching study found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      },
      "post": {
        "tags": [
          "STOW-RS"
        ],
        "summary": "Store Instances",
        "operationId": "StoreInstances",
        "consumes": [
          "multipart/related;type=application/dicom;boundary={messageBoundary}",
          "multipart/related;type=application/dicom+xml;boundary={messageBoundary}",
          "multipart/related;type=application/json;boundary={messageBoundary}"
        ],
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "multipart/related;type=application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "object",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "object not found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series": {
      "get": {
        "tags": [
          "QIDO-RS"
        ],
        "summary": "Search for Series of Study",
        "operationId": "SearchForStudySeries",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "{attributeID}",
            "in": "query",
            "description": "{attributeID}={value}; {attributeID} = {dicomTag} | {dicomKeyword} | {dicomTag}.{attributeID} | {dicomKeyword}.{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "includefield",
            "in": "query",
            "description": "includefield={attributeID} | all",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "orderby=[-]{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "returnempty",
            "in": "query",
            "description": "return also empty Series",
            "type": "boolean",
            "default": false
          },
          {
            "name": "expired",
            "in": "query",
            "description": "return only expired Series",
            "type": "boolean",
            "default": false
          },
          {
            "name": "incomplete",
            "in": "query",
            "description": "return only Series which are marked as incomplete",
            "type": "boolean",
            "default": false
          },
          {
            "name": "retrievefailed",
            "in": "query",
            "description": "return only Series which failed to be retrieved from fallback C-MOVE SCP",
            "type": "boolean",
            "default": false
          },
          {
            "name": "fuzzymatching",
            "in": "query",
            "description": "fuzzy semantic matching of person names",
            "type": "boolean",
            "default": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset={skippedResults}",
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit={maximumResults}",
            "type": "integer",
            "default": 50
          },
          {
            "name": "SendingApplicationEntityTitleOfSeries",
            "in": "query",
            "description": "return Series received from this <AE Title>",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no matching series found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/series": {
      "get": {
        "tags": [
          "QIDO-RS"
        ],
        "summary": "Search for Series",
        "operationId": "SearchForSeries",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "{attributeID}",
            "in": "query",
            "description": "{attributeID}={value}; {attributeID} = {dicomTag} | {dicomKeyword} | {dicomTag}.{attributeID} | {dicomKeyword}.{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "includefield",
            "in": "query",
            "description": "includefield={attributeID} | all",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "orderby=[-]{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "returnempty",
            "in": "query",
            "description": "return also empty Series",
            "type": "boolean",
            "default": false
          },
          {
            "name": "expired",
            "in": "query",
            "description": "return only expired Series",
            "type": "boolean",
            "default": false
          },
          {
            "name": "incomplete",
            "in": "query",
            "description": "return only Series which are marked as incomplete",
            "type": "boolean",
            "default": false
          },
          {
            "name": "retrievefailed",
            "in": "query",
            "description": "return only Series which failed to be retrieved from fallback C-MOVE SCP",
            "type": "boolean",
            "default": false
          },
          {
            "name": "fuzzymatching",
            "in": "query",
            "description": "fuzzy semantic matching of person names",
            "type": "boolean",
            "default": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset={skippedResults}",
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit={maximumResults}",
            "type": "integer",
            "default": 50
          },
          {
            "name": "SendingApplicationEntityTitleOfSeries",
            "in": "query",
            "description": "return Series received from this <AE Title>",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no matching series found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/instances": {
      "get": {
        "tags": [
          "QIDO-RS"
        ],
        "summary": "Search for Instances of Series of Study",
        "operationId": "SearchForStudySeriesInstances",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "{attributeID}",
            "in": "query",
            "description": "{attributeID}={value}; {attributeID} = {dicomTag} | {dicomKeyword} | {dicomTag}.{attributeID} | {dicomKeyword}.{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "includefield",
            "in": "query",
            "description": "includefield={attributeID} | all",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "orderby=[-]{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fuzzymatching",
            "in": "query",
            "description": "fuzzy semantic matching of person names",
            "type": "boolean",
            "default": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset={skippedResults}",
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit={maximumResults}",
            "type": "integer",
            "default": 50
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no matching instances found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/instances": {
      "get": {
        "tags": [
          "QIDO-RS"
        ],
        "summary": "Search for Instances of Study",
        "operationId": "SearchForStudyInstances",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "{attributeID}",
            "in": "query",
            "description": "{attributeID}={value}; {attributeID} = {dicomTag} | {dicomKeyword} | {dicomTag}.{attributeID} | {dicomKeyword}.{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "includefield",
            "in": "query",
            "description": "includefield={attributeID} | all",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "orderby=[-]{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fuzzymatching",
            "in": "query",
            "description": "fuzzy semantic matching of person names",
            "type": "boolean",
            "default": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset={skippedResults}",
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit={maximumResults}",
            "type": "integer",
            "default": 50
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no matching instances found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/instances": {
      "get": {
        "tags": [
          "QIDO-RS"
        ],
        "summary": "Search for Instances",
        "operationId": "SearchForInstances",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "{attributeID}",
            "in": "query",
            "description": "{attributeID}={value}; {attributeID} = {dicomTag} | {dicomKeyword} | {dicomTag}.{attributeID} | {dicomKeyword}.{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "includefield",
            "in": "query",
            "description": "includefield={attributeID} | all",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "orderby=[-]{attributeID}",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fuzzymatching",
            "in": "query",
            "description": "fuzzy semantic matching of person names",
            "type": "boolean",
            "default": false
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset={skippedResults}",
            "type": "integer",
            "default": 0
          },
          {
            "name": "limit",
            "in": "query",
            "description": "limit={maximumResults}",
            "type": "integer",
            "default": 50
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no matching instances found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Study",
        "operationId": "RetrieveStudy",
        "produces": [
          "multipart/related;type=application/dicom",
          "multipart/related;type=application/octet-stream",
          "multipart/related;type=application/pdf",
          "multipart/related;type=image/jpeg",
          "multipart/related;type=image/jp2",
          "multipart/related;type=image/jpx",
          "multipart/related;type=image/x-dicom+rle",
          "multipart/related;type=image/x-jls",
          "multipart/related;type=text/xml",
          "multipart/related;type=video/mpeg",
          "multipart/related;type=video/mp4"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no study with specified UID found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      },
      "post": {
        "tags": [
          "STOW-RS"
        ],
        "summary": "Store Instances of Study",
        "operationId": "StoreInstancesOfStudy",
        "consumes": [
          "multipart/related;type=application/dicom;boundary={messageBoundary}",
          "multipart/related;type=application/dicom+xml;boundary={messageBoundary}",
          "multipart/related;type=application/json;boundary={messageBoundary}"
        ],
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "multipart/related;type=application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "object",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "object not found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Series",
        "operationId": "RetrieveSeries",
        "produces": [
          "multipart/related;type=application/dicom",
          "multipart/related;type=application/octet-stream",
          "multipart/related;type=application/pdf",
          "multipart/related;type=image/jpeg",
          "multipart/related;type=image/jp2",
          "multipart/related;type=image/jpx",
          "multipart/related;type=image/x-dicom+rle",
          "multipart/related;type=image/x-jls",
          "multipart/related;type=text/xml",
          "multipart/related;type=video/mpeg",
          "multipart/related;type=video/mp4"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no Study with specified UID found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/instances/{SOPInstanceUID}": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Instance",
        "operationId": "RetrieveInstance",
        "produces": [
          "multipart/related;type=application/dicom",
          "multipart/related;type=application/octet-stream",
          "multipart/related;type=application/pdf",
          "multipart/related;type=image/jpeg",
          "multipart/related;type=image/jp2",
          "multipart/related;type=image/jpx",
          "multipart/related;type=image/x-dicom+rle",
          "multipart/related;type=image/x-jls",
          "multipart/related;type=text/xml",
          "multipart/related;type=video/mpeg",
          "multipart/related;type=video/mp4"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "SOPInstanceUID",
            "in": "path",
            "description": "SOP Instance UID for a single SOP Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no object with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/instances/{SOPInstanceUID}/frames/{FrameList}": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Frames",
        "operationId": "RetrieveFrames",
        "produces": [
          "multipart/related;type=application/octet-stream",
          "multipart/related;type=image/jpeg",
          "multipart/related;type=image/jp2",
          "multipart/related;type=image/jpx",
          "multipart/related;type=image/x-dicom+rle",
          "multipart/related;type=image/x-jls"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "SOPInstanceUID",
            "in": "path",
            "description": "SOP Instance UID for a single SOP Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "FrameList",
            "in": "path",
            "description": "comma or %2C separated list of one or more non duplicate frame numbers",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no object with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/rendered": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Rendered Study",
        "operationId": "RetrieveRenderedStudy",
        "produces": [
          "multipart/related;type=application/pdf",
          "multipart/related;type=image/jpeg",
          "multipart/related;type=image/png",
          "multipart/related;type=image/gif",
          "multipart/related;type=text/html",
          "multipart/related;type=text/plain",
          "multipart/related;type=text/xml",
          "multipart/related;type=video/mpeg",
          "multipart/related;type=video/mp4"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "annotation",
            "in": "query",
            "description": "Annotation On The Object",
            "type": "string"
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Number of Pixel Rows",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Number of Pixel Columns",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region of the Image (not implemented)",
            "type": "string"
          },
          {
            "name": "windowCenter",
            "in": "query",
            "description": "Window Center of the Image",
            "type": "number"
          },
          {
            "name": "windowWidth",
            "in": "query",
            "description": "Window Width of the Image",
            "type": "number",
            "minimum": 1
          },
          {
            "name": "imageQuality",
            "in": "query",
            "description": "Image Quality",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "presentationUID",
            "in": "query",
            "description": "Unique Identifier of the Presentation Object",
            "type": "string"
          },
          {
            "name": "presentationSeriesUID",
            "in": "query",
            "description": "Unique Identifier of the Series Containing The Presentation Object",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no series with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/rendered": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Rendered Series",
        "operationId": "RetrieveRenderedSeries",
        "produces": [
          "multipart/related;type=application/pdf",
          "multipart/related;type=image/jpeg",
          "multipart/related;type=image/png",
          "multipart/related;type=image/gif",
          "multipart/related;type=text/html",
          "multipart/related;type=text/plain",
          "multipart/related;type=text/xml",
          "multipart/related;type=video/mpeg",
          "multipart/related;type=video/mp4"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "annotation",
            "in": "query",
            "description": "Annotation On The Object",
            "type": "string"
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Number of Pixel Rows",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Number of Pixel Columns",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region of the Image (not implemented)",
            "type": "string"
          },
          {
            "name": "windowCenter",
            "in": "query",
            "description": "Window Center of the Image",
            "type": "number"
          },
          {
            "name": "windowWidth",
            "in": "query",
            "description": "Window Width of the Image",
            "type": "number",
            "minimum": 1
          },
          {
            "name": "imageQuality",
            "in": "query",
            "description": "Image Quality",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "presentationUID",
            "in": "query",
            "description": "Unique Identifier of the Presentation Object",
            "type": "string"
          },
          {
            "name": "presentationSeriesUID",
            "in": "query",
            "description": "Unique Identifier of the Series Containing The Presentation Object",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no series with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/instances/{SOPInstanceUID}/rendered": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Rendered Instance",
        "operationId": "RetrieveRenderedInstance",
        "produces": [
          "multipart/related;type=application/pdf",
          "multipart/related;type=image/jpeg",
          "multipart/related;type=image/png",
          "multipart/related;type=image/gif",
          "multipart/related;type=text/html",
          "multipart/related;type=text/plain",
          "multipart/related;type=text/xml",
          "multipart/related;type=video/mpeg",
          "multipart/related;type=video/mp4"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "SOPInstanceUID",
            "in": "path",
            "description": "SOP Instance UID for a single SOP Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "annotation",
            "in": "query",
            "description": "Annotation On The Object",
            "type": "string"
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Number of Pixel Rows",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Number of Pixel Columns",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region of the Image (not implemented)",
            "type": "string"
          },
          {
            "name": "windowCenter",
            "in": "query",
            "description": "Window Center of the Image",
            "type": "number"
          },
          {
            "name": "windowWidth",
            "in": "query",
            "description": "Window Width of the Image",
            "type": "number",
            "minimum": 1
          },
          {
            "name": "imageQuality",
            "in": "query",
            "description": "Image Quality",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "presentationUID",
            "in": "query",
            "description": "Unique Identifier of the Presentation Object",
            "type": "string"
          },
          {
            "name": "presentationSeriesUID",
            "in": "query",
            "description": "Unique Identifier of the Series Containing The Presentation Object",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no object with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/instances/{SOPInstanceUID}/frames/{FrameList}/rendered": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Rendered Frames",
        "operationId": "RetrieveRenderedFrames",
        "produces": [
          "multipart/related;type=image/jpeg",
          "multipart/related;type=image/png",
          "multipart/related;type=image/gif",
          "multipart/related;type=video/mpeg",
          "multipart/related;type=video/mp4"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "SOPInstanceUID",
            "in": "path",
            "description": "SOP Instance UID for a single SOP Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "FrameList",
            "in": "path",
            "description": "comma or %2C separated list of one or more non duplicate frame numbers",
            "required": true,
            "type": "string"
          },
          {
            "name": "annotation",
            "in": "query",
            "description": "Annotation On The Object",
            "type": "string"
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Number of Pixel Rows",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Number of Pixel Columns",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region of the Image (not implemented)",
            "type": "string"
          },
          {
            "name": "windowCenter",
            "in": "query",
            "description": "Window Center of the Image",
            "type": "number"
          },
          {
            "name": "windowWidth",
            "in": "query",
            "description": "Window Width of the Image",
            "type": "number",
            "minimum": 1
          },
          {
            "name": "imageQuality",
            "in": "query",
            "description": "Image Quality",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "presentationUID",
            "in": "query",
            "description": "Unique Identifier of the Presentation Object",
            "type": "string"
          },
          {
            "name": "presentationSeriesUID",
            "in": "query",
            "description": "Unique Identifier of the Series Containing The Presentation Object",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no object with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/instances/{SOPInstanceUID}/bulkdata/{AttributePath}": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Bulkdata",
        "operationId": "RetrieveBulkdata",
        "produces": [
          "multipart/related;type=application/octet-stream",
          "multipart/related;type=application/pdf",
          "multipart/related;type=text/xml"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "SOPInstanceUID",
            "in": "path",
            "description": "SOP Instance UID for a single SOP Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "AttributePath",
            "in": "path",
            "description": "{dicomTag} or {dicomTag}/{itemIndex}/{AttributePath}'",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no object with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/metadata": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Study Metadata",
        "operationId": "RetrieveStudyMetadata",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "includefields",
            "in": "query",
            "description": "only include attributes configured by named Metadata Filter",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no Study with specified UID found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/metadata": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Series Metadata",
        "operationId": "RetrieveSeriesMetadata",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "includefields",
            "in": "query",
            "description": "only include attributes configured by named Metadata Filter",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no series with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/rs/studies/{StudyInstanceUID}/series/{SeriesInstanceUID}/instances/{SOPInstanceUID}/metadata": {
      "get": {
        "tags": [
          "WADO-RS"
        ],
        "summary": "Retrieve Instance Metadata",
        "operationId": "RetrieveInstanceMetadata",
        "produces": [
          "multipart/related;type=application/dicom+xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "StudyInstanceUID",
            "in": "path",
            "description": "Study Instance UID for a single Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "SeriesInstanceUID",
            "in": "path",
            "description": "Series Instance UID for a single Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "SOPInstanceUID",
            "in": "path",
            "description": "SOP Instance UID for a single SOP Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "includefields",
            "in": "query",
            "description": "only include attributes configured by named Metadata Filter",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "no object with specified UIDs found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    },
    "/aets/{aet}/wado": {
      "get": {
        "tags": [
          "WADO-URI"
        ],
        "summary": "get object",
        "operationId": "getObject",
        "produces": [
          "application/dicom",
          "application/pdf",
          "image/jpeg",
          "image/png",
          "image/gif",
          "text/html",
          "text/plain",
          "text/xml",
          "video/mpeg",
          "video/mp4"
        ],
        "parameters": [
          {
            "name": "aet",
            "in": "path",
            "description": "Archive AE Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestType",
            "in": "query",
            "description": "Request Type",
            "required": true,
            "type": "string",
            "enum": [
              "WADO"
            ]
          },
          {
            "name": "studyUID",
            "in": "query",
            "description": "Unique Identifier of the Study",
            "required": true,
            "type": "string"
          },
          {
            "name": "seriesUID",
            "in": "query",
            "description": "Unique Identifier of the Series",
            "type": "string"
          },
          {
            "name": "objectUID",
            "in": "query",
            "description": "Unique Identifier of the Object",
            "type": "string"
          },
          {
            "name": "contentType",
            "in": "query",
            "description": "MIME Type of the Response",
            "type": "string"
          },
          {
            "name": "charset",
            "in": "query",
            "description": "Charset of the Response (not implemented)",
            "type": "string"
          },
          {
            "name": "anonymize",
            "in": "query",
            "description": "Anonymize Object (not implemented)",
            "type": "string",
            "enum": [
              "yes"
            ]
          },
          {
            "name": "annotation",
            "in": "query",
            "description": "Annotation On The Object (not implemented)",
            "type": "string"
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Number of Pixel Rows",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "columns",
            "in": "query",
            "description": "Number of Pixel Columns",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region of the Image (not implemented)",
            "type": "string"
          },
          {
            "name": "windowCenter",
            "in": "query",
            "description": "Window Center of the Image",
            "type": "number"
          },
          {
            "name": "windowWidth",
            "in": "query",
            "description": "Window Width of the Image",
            "type": "number",
            "minimum": 1
          },
          {
            "name": "frameNumber",
            "in": "query",
            "description": "Frame Number",
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "imageQuality",
            "in": "query",
            "description": "Image Quality",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "presentationUID",
            "in": "query",
            "description": "Unique Identifier of the Presentation Object",
            "type": "string"
          },
          {
            "name": "presentationSeriesUID",
            "in": "query",
            "description": "Unique Identifier of the Series Containing The Presentation Object",
            "type": "string"
          },
          {
            "name": "transferSyntax",
            "in": "query",
            "description": "Transfer Syntax UID",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "object",
            "schema": {
              "type": "file"
            }
          },
          "404": {
            "description": "object not found"
          },
          "default": {
            "description": "unexpected error"
          }
        }
      }
    }
  }
}
