<div class="vex vex-theme-os edit-study" xmlns="http://www.w3.org/1999/html">
    <div class="vex-dialog-form" (keyup)="change()">
        <h3 [innerHtml]="titleLabel"></h3>
        <input autocomplete="off" id="addStudyAttribut" class="addStudyAttribut" [(ngModel)]="addStudyAttribut" placeholder="Add new attribute"  (click)="opendropdown = !opendropdown"  (keydown)="pressedKey($event)"/>
        <div class="dropdown study_edit" *ngIf="opendropdown">
            <a class="dropdown_element" name="{{m.code}}" *ngFor="let m of dropdown | search:addStudyAttribut" (click)="$event.preventDefault();addAttribute(m.code, patient)">({{m.codeComma}}) {{m.name}}</a>
        </div>
        <div mat-dialog-content>
            <iod-form-generator [object]="study.attrs" [prefix]="" [mode]="mode"  (keydown)="dialogKeyHandler($event,dialogRef)"></iod-form-generator>
        </div>
        <div class="dialogbuttons">
            <button class="save" type="button" (click)="dialogRef.close(study)">{{saveLabel}}</button>
            <button class="cancle" type="button" (click)="dialogRef.close(null)">CANCEL</button>
        </div>
    </div>
</div>