<div class="main_content queues monitoring">
    <monitoring-tabs></monitoring-tabs>
    <div class="tab-content">
        <filter-generator [schema]="filterSchema" [model]="filterObject" (submit)="onSubmit($event)" (onChange)="onFormChange($event)"></filter-generator>
        <div class="filter single_block" [permission]="{id:'action-monitoring->diff_monitor-all_action',param:'visible'}">
            <div class="filter_block">
                <div class="line">
                    <div (click)="downloadCsv()" class="w45percent csv_button"><span class="custom_icon csv_icon"></span><span class="text">Download CSV</span></div>
                    <div class="checkbox_button" [ngClass]="{'active':batchGrouped}"><mat-checkbox [(ngModel)]="batchGrouped" (ngModelChange)="tasks = []">Batch ID grouped</mat-checkbox></div>
                </div>
            </div>
        </div>
        <div>
            <div class="left_arrow arrow"  *ngIf="tasks && tasks.length && tasks.length > 0" [ngClass]="{'active':filterObject.offset > 0}" (click)="prev()"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></div>
            <div class="right_arrow arrow" *ngIf="tasks && tasks.length && tasks.length > 0" [ngClass]="{'active':moreTasks}" (click)="next()"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></div>
            <table-generator *ngIf="config && tasks && tasks.length && tasks.length > 0" [config]="config" [models]="tasks"></table-generator>
        </div>
    </div>
</div>