<table class="table table-bordered table-condensed attribute_list custom_attribute_list">
    @if(localAttributes){
        @for (elem of localAttributes; track elem) {
            <tr>
                @if(dicomAttributesAsSubAttribute && elem.key === dicomAttributesAsSubAttribute.key){
                    <td colspan="2">
                        <attribute-list [attrs]="elem.value"></attribute-list>
                    </td>
                }@else{
                    <td>{{elem.key}}</td>
                    <td>{{elem.value}}</td>
                }
            </tr>
        }
    }
</table>
