<!--<dicom-list *ngIf="dicomObject[levels] && dicomObject[levels].length > 0" [dicomObject]="dicomObject[levels]"></dicom-list>-->
<h5>{{dicomLevel|uppercase}}</h5>
<div class="dynamic_table">
    <div class="table_header">
        <div class="tr">
            <div class="th {{header.cssClass}}" *ngFor="let header of tableSchema" title="{{header.headerDescription}}" [ngStyle]="{width: header.calculatedWidth}">{{header.header}}</div>
        </div>
    </div>
    <div class="table_body">
        <div class="tr load_more_start" *ngFor="let id of Object.keys(selectionsDicomObjects)">
            <div class="td {{table_element.cssClass}}" *ngFor="let table_element of tableSchema" [ngStyle]="{width: table_element.calculatedWidth}" [ngSwitch]="table_element.type">
                <ng-container *ngSwitchCase="'actions'">
                    <ng-container *ngFor="let action of table_element.actions">
                        <a *ngIf="(!action.showIf || action.showIf(selectionsDicomObjects[id], config))" class="pointer dicom_table_buttons"  (click)="$event.preventDefault();action.click(selectionsDicomObjects[id])" title="{{action.title || ''}}">
                            <span *ngIf="action.icon.tag === 'span'" class="{{action.icon.cssClass||''}}">{{action.icon.text||''}}</span>
                            <i *ngIf="action.icon.tag === 'i'" class="{{action.icon.cssClass||''}}">{{action.icon.text||''}}</i>
                        </a>
                    </ng-container>
                </ng-container>
                <span *ngSwitchCase="'value'">{{_.get(selectionsDicomObjects[id].object.attrs,table_element.pathToValue) || '&nbsp;'}}</span>
            </div>
        </div>
    </div>
</div>
