.dynamic_table{
  float: left;
  width: calc(100% - 12px);
  margin: 4px 0px 10px 4px;
  -webkit-box-shadow:2px 2px 9px 0px #000000;
  -moz-box-shadow:2px 2px 9px 0px #000000;
  box-shadow:2px 2px 9px 0px #000000;
}
