<div class="main_content monitoring white_design">
    <monitoring-tabs></monitoring-tabs>
    <div class="tab-content">
        <h2>Storage commitments</h2>
        <div class="filter_line" (keyup)="filterKeyUp($event)">
            <div class="filter_block">
                <filter-generator [schema]="filterSchema" filterIdTemplate="storage-commitment" [model]="filters" (submit)="search(0)"></filter-generator>
            </div>
        </div>
        <div class="filter_line">
            <div class="filter single_block">
                <div class="filter_block">
                    <div class="line">
                        <button class="submit btn-default pull-left" (click)="flushBefore()">Flush before</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-condensed" *ngIf="_.size(matches) > 0">
            <thead>
            <tr>
                <th colspan="2">
                    <button class="btn btn-link btn-xs"
                            [disabled]="!hasNewer(matches)"
                            (click)="search(newerOffset(matches))"
                            title="Newer">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </button>
                    <button class="btn btn-link btn-xs"
                            [disabled]="!hasOlder(matches)"
                            (click)="search(olderOffset(matches))"
                            title="Older">
                        <span class="glyphicon glyphicon-menu-right"></span>
                    </button>
                </th>
                <th>Device name</th>
                <th>Status</th>
                <th>Exporter ID</th>
                <th>Requested</th>
                <th>Failures</th>
                <th>Created time</th>
                <th>Updated time</th>
                <th>Transaction UID</th>
                <th>Study UID</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let match of matches">
                <tr>
                    <td [attr.rowspan]="(match.showProperties ? 2 : 1)" [innerHtml]="match.offset+1+'.'"></td>
                    <td>
                        <a (click)="$event.preventDefault();match.showProperties = !match.showProperties" href="" title="Show Properties">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
<!--                        <a *ngIf="isRole('admin') && ((match.properties.status && match.properties.status === 'SCHEDULED') || (match.properties.status && match.properties.status === 'IN PROCESS'))" (click)="$event.preventDefault();cancel(match)" href="" title="Cancel">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                        <a *ngIf="isRole('admin') && (match.properties.status && (match.properties.status === 'TO SCHEDULE' || match.properties.status === 'CANCELED' || match.properties.status === 'COMPLETED' || match.properties.status === 'FAILED'))" (click)="$event.preventDefault();reschedule(match)" href="" title="Reschedule">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </a>-->
                        <a (click)="$event.preventDefault();delete(match)" href="" title="Delete">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </td>
                    <td [innerHtml]="match.properties.dicomDeviceName"></td>
                    <td [innerHtml]="match.properties.status" ></td>
                    <td [innerHtml]="match.properties.exporterID"></td>
                    <td [innerHtml]="match.properties.requested"></td>
                    <td [innerHtml]="match.properties.failures"></td>
                    <td [innerHtml]="match.properties.createdTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td [innerHtml]="match.properties.updatedTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                    <td [innerHtml]="match.properties.transactionUID"></td>
                    <td [innerHtml]="match.properties.studyUID"></td>
                </tr>
                <tr *ngIf="match.showProperties">
                    <td colspan="11">
                        <table class="table table-bordered table-condensed attribute_list">
                            <tr *ngFor="let key of match.properties | getKey">
                                <th [innerHtml]="key._KEY"></th>
                                <td *ngIf="key._KEY === 'createdTime' || key._KEY === 'updatedTime';else nodate_content" [innerHtml]="key._VALUE | date:'yyyy-MM-dd HH:mm:ss'"></td>
                                <ng-template #nodate_content>
                                    <td [innerHtml]="key._VALUE"></td>
                                </ng-template>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr [hidden]="true"></tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>