<div class="vex vex-theme-os registernewaet">
    <div class="vex-content">
        <div class="vex-dialog-form" >
        <div class="device">
            <div class="vex-dialog-message">Register new Application Entity</div>
            <ul class="nav nav-tabs">
                <li role="presentation" [ngClass]="{'active':activetab==='createdevice'}" (click)="changeTabAERegister('createdevice')"><a>Create new device</a></li>
                <li role="presentation" [ngClass]="{'active':activetab==='selectdevice'}" (click)="changeTabAERegister('selectdevice')"><a>Select existing device</a></li>
            </ul>
            <div mat-dialog-content>
                <div class="createdevice tabcontain">
                    <div class="tab_body" [hidden]="!(activetab === 'createdevice')">
                        <h4 (click)="showdevice=!showdevice;showconn=false">New Device <span *ngIf="newAetModel.dicomDeviceName && !showdevice"> <b>{{newAetModel.dicomDeviceName}}</b></span></h4>
                        <div class="content" *ngIf="showdevice===true">
                            <div class="inputblock">
                                <label class="title">Device name</label>
                                <input type="text" [(ngModel)]="newAetModel.dicomDeviceName" (keyup)="updateAetFromDevicename($event)" (keydown)="updateAetFromDevicename($event)" (keypress)="updateAetFromDevicename($event)">
                                <span class="description">A unique name for this device</span>
                            </div>
                            <div class="inputblock">
                                <label class="title">Device Description</label>
                                <textarea [(ngModel)]="newAetModel.dicomDescription"></textarea>
                                <span class="description">Unconstrained text description of the device</span>
                            </div>
                            <div class="inputblock">
                                <label class="title">Station Name</label>
                                <input type="text" [(ngModel)]="newAetModel.dicomStationName">
                                <span class="description">Should be the same as the value of Station Name (0008,1010) in SOP instances created by this device</span>
                            </div>
                            <div class="dynamicform">
                                <div class="title">
                                    <label>Institution Name</label>
                                </div>
                                <div class="form_content arrayelement">
                                    <div class="inputblock array_parent">
                                        <div class="array_single" *ngFor="let el of newAetModel.dicomInstitutionName;let i = index;trackBy:trackByFn">
                                            <input type="text" [(ngModel)]="newAetModel.dicomInstitutionName[i]"><span class="delete" (click)="removeElemnt(newAetModel.dicomInstitutionName,i)"><i class="material-icons">clear</i></span>
                                        </div>
                                        <div class="add" (click)="addArrayElement(newAetModel, 'dicomInstitutionName')"><i class="material-icons">add</i> <span>Add</span></div>
                                    </div>
                                </div>
                                <div class="description_parent">
                                    <span class="description">Should be the same as the value of Institution Name (0008,0080) in SOP Instances created by this device</span>
                                </div>
                            </div>
                            <div class="dynamicform">
                                <div class="title">
                                    <label>Institution Department Name</label>
                                </div>
                                <div class="form_content arrayelement">
                                    <div class="inputblock array_parent">
                                        <div class="array_single" *ngFor="let el of newAetModel.dicomInstitutionDepartmentName;let i = index;trackBy:trackByFn">
                                            <input type="text" [(ngModel)]="newAetModel.dicomInstitutionDepartmentName[i]"><span class="delete" (click)="removeElemnt(newAetModel.dicomInstitutionDepartmentName,i)"><i class="material-icons">clear</i></span>
                                        </div>
                                        <div class="add" (click)="addArrayElement(newAetModel, 'dicomInstitutionDepartmentName')"><i class="material-icons">add</i> <span>Add</span></div>
                                    </div>
                                </div>
                                <div class="description_parent">
                                    <span class="description">Should be the same as the value of Institutional Department Name (0008,1040) in SOP Instances created by this device</span>
                                </div>
                            </div>
                            <div class="dynamicform">
                                <div class="title">
                                    <label>Primary Device Type</label>
                                </div>
                                <div class="form_content arrayelement">
                                    <div class="inputblock array_parent">
                                        <div class="array_single" *ngFor="let el of newAetModel.dicomPrimaryDeviceType;let i = index;trackBy:trackByFn">
                                            <input type="text" [(ngModel)]="newAetModel.dicomPrimaryDeviceType[i]"><span class="delete" (click)="removeElemnt(newAetModel.dicomPrimaryDeviceType,i)"><i class="material-icons">clear</i></span>
                                        </div>
                                        <div class="add" (click)="addArrayElement(newAetModel, 'dicomPrimaryDeviceType')"><i class="material-icons">add</i> <span>Add</span></div>
                                    </div>
                                </div>
                                <div class="description_parent">
                                    <span class="description">Represents the kind of device and is most applicable for acquisition modalities</span>
                                </div>
                            </div>
                            <div class="inputblock">
                                <label class="title">Installed</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" [(ngModel)]="newAetModel.dicomInstalled" name="dicomInstalled" checked value="true">
                                        <span>True</span>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" [(ngModel)]="newAetModel.dicomInstalled" name="dicomInstalled" value="false">
                                        <span>False</span>
                                    </label>
                                </div>
                                <span class="description checkbox">A unique name for this device</span>
                            </div>
                        </div>
                        <h4 (click)="showconn=!showconn;showdevice=false">New Network Connection  <span *ngIf="newAetModel && newAetModel.dicomNetworkConnection && newAetModel.dicomNetworkConnection[0] && newAetModel.dicomNetworkConnection[0].cn"> <b>{{newAetModel.dicomNetworkConnection[0].cn}}</b></span></h4>
                        <div class="content"  *ngIf="showconn===true">
                            <!--<div sf-schema="netConnSchema" sf-form="netConnForm" sf-model="netConnModel"  sf-options="sfOptions"></div>-->
                            <div class="inputblock">
                                <label class="title">Name</label>
                                <input type="text"  [(ngModel)]="newAetModel.dicomNetworkConnection[0].cn">
                                <span class="description">Arbitrary/Meaningful name for the Network Connection object</span>
                            </div>
                            <div class="inputblock">
                                <label class="title">Hostname</label>
                                <input type="text"  [(ngModel)]="newAetModel.dicomNetworkConnection[0].dicomHostname">
                                <span class="description">DNS name for this particular connection</span>
                            </div>
                            <div class="inputblock">
                                <label class="title">Port</label>
                                <input type="number" [(ngModel)]="newAetModel.dicomNetworkConnection[0].dicomPort">
                                <span class="description">TCP/UDP port that a service is listening on. May be missing if this network connection is only used for outbound connections</span>
                            </div>
                        </div>
                    </div>
                    <div class="tab_body" [hidden]="!(activetab === 'selectdevice')">
                        <h4 (click)="showselectdevice=!showselectdevice;showconnselecteddevice=false">Select existing device</h4>
                        <div class="content" *ngIf="showselectdevice===true">
                            <div class="block">
                                <div class="label_part">
                                    Select device to connect the AE to:
                                </div>
                                <div class="input_part">
                                    <select [ngModel]="selectedDevice" (ngModelChange)="getDevice($event)" name="dicomDeviceName">
                                        <option [value]="obj.dicomDeviceName" *ngFor="let obj of devices">{{obj.dicomDeviceName}}</option>
                                    </select>
                                </div>
                                <span class="description">Already existing devices</span>
                            </div>
                        </div>
                        <h4 (click)="showconn=!showconn;showdevice=false">New Network Connection  to selected device</h4>
                        <div class="content"  *ngIf="selctedDeviceObject && showconn===true">
                            <!--<h4 (click)="showconn=!showconn;showdevice=false">New Network Connection  <span *ngIf="newAetModel.dicomNetworkConnection[0].cn && !showconn"> <b>{{newAetModel.dicomNetworkConnection[0].cn}}</b></span></h4>-->
                            <!--<div class="content"  *ngIf="showconn===true">-->
                                <!--<div sf-schema="netConnSchema" sf-form="netConnForm" sf-model="netConnModel"  sf-options="sfOptions"></div>-->
                                <div class="inputblock">
                                    <label class="title">Name</label>
                                    <input type="text"  [(ngModel)]="newAetModel.dicomNetworkConnection[0].cn">
                                    <span class="description">Arbitrary/Meaningful name for the Network Connection object</span>
                                </div>
                                <div class="inputblock">
                                    <label class="title">Hostname</label>
                                    <input type="text" [(ngModel)]="newAetModel.dicomNetworkConnection[0].dicomHostname">
                                    <span class="description">DNS name for this particular connection</span>
                                </div>
                                <div class="inputblock">
                                    <label class="title">Port</label>
                                    <input type="number" [(ngModel)]="newAetModel.dicomNetworkConnection[0].dicomPort">
                                    <span class="description">TCP/UDP port that a service is listening on. May be missing if this network connection is only used for outbound connections</span>
                                </div>
                                <div class="vex-dialog-buttons aet_buttons">
                                    <button type="button" class="vex-dialog-button-primary vex-dialog-button vex-first"  (click)="addNewConnectionToDevice()" title="Add the new connection to the selected device" [disabled]="!(_.hasIn(newAetModel,'dicomNetworkConnection[0].cn'))">Add connection</button>
                                    <button type="button" class="vex-dialog-button-secondary vex-dialog-button vex-last" (click)="removeNewConnectionFromDevice()">Remove connection</button>
                                </div>
                            </div>
                        <!--</div>-->
                        <div class="content" *ngIf="!selctedDeviceObject && showconn===true">
                            Select first a device!
                        </div>
                    </div>
                    <div class="aet">
                        <h4 (click)="showae=!showae">Network AE</h4>
                        <div  id="networkae" class="content" *ngIf="showae===true">
                            <!--<div angular-validator  sf-schema="netAESchema" sf-form="netAEForm" sf-model="netAEModel"  sf-options="sfOptions"></div>-->
                            <div class="inputblock">
                                <label class="title">AE Title</label>
                                <input type="text" [(ngModel)]="newAetModel.dicomNetworkAE[0].dicomAETitle">
                                <span class="description">Unique AE title for this Network AE</span>
                            </div>
                            <div class="inputblock">
                                <ng-container *ngIf="_.hasIn(selctedDeviceObject,'dicomNetworkConnection[0]') && activetab === 'selectdevice'">
                                    <label class="title">Network Connection Reference</label>
                                    <label class="checkbox" *ngFor="let i of selctedDeviceObject.dicomNetworkConnection;let j = index">
                                        <input type="checkbox" value="{{'/dicomNetworkConnection/'+j}}" (change)="toggleReference(newAetModel.dicomNetworkAE[0].dicomNetworkConnectionReference,'/dicomNetworkConnection/'+j)">
                                        <span>{{i.cn}}</span>
                                    </label>
                                    <span class="description checkbox">JSON Pointers to the Network Connection objects for this AE</span>
                                </ng-container>
                                <ng-container *ngIf="activetab === 'createdevice'">
                                    <label class="title">Network Connection Reference</label>
                                    <label class="checkbox">
                                        <input type="checkbox" value="/dicomNetworkConnection/0" checked (change)="toggleReference(newAetModel.dicomNetworkAE[0].dicomNetworkConnectionReference,'/dicomNetworkConnection/0')">
                                        <span>{{newAetModel.dicomNetworkConnection[0].cn}}</span>
                                    </label>
                                    <span class="description checkbox">JSON Pointers to the Network Connection objects for this AE</span>
                                </ng-container>
                                <ng-container *ngIf="!_.hasIn(selctedDeviceObject,'dicomNetworkConnection[0]') && activetab === 'selectdevice'">
                                    <div class="helpvalue">
                                        To be able to select the reference create first a  network connection or select device with a network connection!
                                    </div>
                                </ng-container>
                            </div>
                            <div class="inputblock">
                                <label class="title">AE Description</label>
                                <textarea name="dicomDescription" [(ngModel)]="newAetModel.dicomNetworkAE[0].dicomDescription"></textarea>
                                <span class="description">Unconstrained text description of the application entity</span>
                            </div>
                            <div class="dynamicform">
                                <div class="title">
                                    <label>Application Cluster</label>
                                </div>
                                <div class="form_content arrayelement">
                                    <div class="inputblock array_parent">
                                        <div class="array_single" *ngFor="let el of newAetModel.dicomNetworkAE[0].dicomApplicationCluster;let i = index;trackBy:trackByFn">
                                            <input type="text" [(ngModel)]="newAetModel.dicomNetworkAE[0].dicomApplicationCluster[i]"><span class="delete" (click)="removeElemnt(newAetModel.dicomNetworkAE[0].dicomApplicationCluster,i)"><i class="material-icons">clear</i></span>
                                        </div>
                                        <div class="add" (click)="addArrayElement(newAetModel.dicomNetworkAE[0], 'dicomApplicationCluster')"><i class="material-icons">add</i> <span>Add</span></div>
                                    </div>
                                </div>
                                <div class="description_parent">
                                    <span class="description">Locally defined names for a subset of related applications</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab_body" [hidden]="!(activetab === 'createdevice')">
                        <h4 (click)="showAetList=true;showae=false;showselectdevice=false;showconnselecteddevice=false;showconn=false;showdevice=false">Set the new Application Entity as 'Accepted Calling AE Title' to following AETs:</h4>
                        <div class="content" *ngIf="showAetList">
                            <div class="inputblock">
                                <label class="title">AE Title</label>
                                <div class="input_part">
<!--                                    <j4care-select [(model)]="selectedForAcceptedCallingAET" [placeholder]="'Select AET'" [multiSelectMode]="true" [maxSelectedValueShown]="1" [showSearchField]="true">
                                        <j4care-option [value]="''" [title]="'Clear selection'">Clear</j4care-option>
                                        <j4care-option *ngFor="let el of configuredAetList" [value]="el.value" [title]="el.text">{{el.text}}</j4care-option>
                                    </j4care-select>-->
                                    <dcm-drop-down
                                            [(model)]="selectedForAcceptedCallingAET"
                                            [placeholder]="'Select AET'"
                                            [maxSelectedValueShown]="1"
                                            [options]="configuredAetList"
                                            [showSearchField]="true"
                                            [multiSelectMode]="true"
                                            [showStar]="true"
                                    ></dcm-drop-down>
                                </div>
                                <span class="description">Already available AETs</span>
                            </div>
                        </div>
                    </div>
                    <div class="test">
                        <h4 (click)="showTestBlock=!showTestBlock">Test Connection</h4>
                        <div class="content" *ngIf="showTestBlock && newAetModel.dicomNetworkAE[0].dicomAETitle && newAetModel.dicomNetworkConnection[0].dicomHostname && newAetModel.dicomNetworkConnection[0].dicomPort">
                            <div class="block" *ngIf="dicomConnectionns.length > 1">
                                <div class="label_part">
                                    Select one of the DICOM connections:
                                </div>
                                <div class="input_part">
                                    <mat-select [(ngModel)]="selectedDicomConnection">
                                        <mat-option value="">*</mat-option>
                                        <mat-option *ngFor="let connection of dicomConnectionns" [value]="connection">{{connection.cn}}({{connection.dicomHostname}}:{{connection.dicomPort}})</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="block">
                                <div class="label_part">
                                    Calling AET:
                                </div>
                                <div class="input_part">
                                    <mat-select [(ngModel)]="selectedCallingAet">
                                        <mat-option *ngFor="let obj of aes" [value]="obj.dicomAETitle">{{obj.dicomAETitle}}</mat-option>
                                    </mat-select>
                                </div>
                                <div class="test_button">
                                    <button (click)="testConnection()" title="Verify AET, host and port before saving" [disabled]="!selectedCallingAet">TEST</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialogbuttons">
            <button class="save" type="button" (click)="dialogRef.close({device:selctedDeviceObject,newaetmodel:newAetModel,mode:activetab,selectedForAcceptedCallingAET:selectedForAcceptedCallingAET})" [disabled]="!validAeForm()">APPLY</button>
            <button class="cancle" type="button" (click)="dialogRef.close(null)">CANCEL</button>
        </div>
    </div>
    </div>
</div>
