<!--<button (click)="debugpre = !debugpre" style="position:fixed;top:0;left:100px;color:black;z-index: 99999999;">Show debug</button>
<pre *ngIf="debugpre" style="position: absolute;width:70%;top:0;z-index: 9999999;">
    <div style="float:left;width:50%">
        &lt;!&ndash;clipboard: {{ clipboard | json}}&ndash;&gt;
    selctedDeviceObject2:{{ selctedDeviceObject |json}}
    </div>
    <div style="float:left;width:50%">
    selectedDevice2:{{selectedDevice|json}}
    newAetModel:{{newAetModel|json}}
        &lt;!&ndash;select: {{ selected | json}}&ndash;&gt;
    </div>
    <button (click)="testSetObject()">testSetObject</button>
</pre>-->
<div class="vex vex-theme-os registernewaet">
    <div class="vex-dialog-form" >
        <div class="device">
            <ul class="nav nav-tabs">
                <li role="presentation" [ngClass]="{'active':activetab==='createdevice'}" (click)="changeTabAERegister('createdevice')"><a>Create new device</a></li>
                <li role="presentation" [ngClass]="{'active':activetab==='selectdevice'}" (click)="changeTabAERegister('selectdevice')"><a>Select existing device</a></li>
            </ul>
            <div class="createdevice tabcontain">
                <div class="tab_body" [hidden]="!(activetab === 'createdevice')">
                    <h4 (click)="showdevice=!showdevice;showconn=false">New Device <span *ngIf="newAetModel.dicomDeviceName && !showdevice"> <b>{{newAetModel.dicomDeviceName}}</b></span></h4>
                    <div class="content" *ngIf="showdevice===true">
                        <div class="inputblock">
                            <label class="title">Device name</label>
                            <input  [(ngModel)]="newAetModel.dicomDeviceName" (keyup)="updateAetFromDevicename($event)" (keydown)="updateAetFromDevicename($event)" (keypress)="updateAetFromDevicename($event)">
                            <span class="description">A unique name for this device</span>
                        </div>
                        <div class="inputblock">
                            <label class="title">Device Description</label>
                            <textarea [(ngModel)]="newAetModel.dicomDescription"></textarea>
                            <span class="description">Unconstrained text description of the device</span>
                        </div>
                        <div class="inputblock">
                            <label class="title">Installed</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" [(ngModel)]="newAetModel.dicomInstalled" name="dicomInstalled" value="true">
                                    <span>True</span>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" [(ngModel)]="newAetModel.dicomInstalled" name="dicomInstalled" value="false">
                                    <span>False</span>
                                </label>
                            </div>
                            <span class="description">A unique name for this device</span>
                        </div>
                    </div>
                    <h4 (click)="showconn=!showconn;showdevice=false">New Network Connection  <span *ngIf="newAetModel && newAetModel.dicomNetworkConnection && newAetModel.dicomNetworkConnection[0] && newAetModel.dicomNetworkConnection[0].cn"> <b>{{newAetModel.dicomNetworkConnection[0].cn}}</b></span></h4>
                    <div class="content"  *ngIf="showconn===true">
                        <!--<div sf-schema="netConnSchema" sf-form="netConnForm" sf-model="netConnModel"  sf-options="sfOptions"></div>-->
                        <div class="inputblock">
                            <label class="title">Name</label>
                            <input  [(ngModel)]="newAetModel.dicomNetworkConnection[0].cn">
                            <span class="description">Arbitrary/Meaningful name for the Network Connection object</span>
                        </div>
                        <div class="inputblock">
                            <label class="title">Hostname</label>
                            <input  [(ngModel)]="newAetModel.dicomNetworkConnection[0].dicomHostname">
                            <span class="description">DNS name for this particular connection</span>
                        </div>
                        <div class="inputblock">
                            <label class="title">Port</label>
                            <input type="number" [(ngModel)]="newAetModel.dicomNetworkConnection[0].dicomPort">
                            <span class="description">TCP/UDP port that a service is listening on. May be missing if this network connection is only used for outbound connections</span>
                        </div>
                    </div>
                </div>
                <div class="tab_body" [hidden]="!(activetab === 'selectdevice')">
                    <h4 (click)="showselectdevice=!showselectdevice;showconnselecteddevice=false">Select existing device</h4>
                    <div class="content" *ngIf="showselectdevice===true">
                        <div class="block">
                            <div class="label_part">
                                Select device to connect the AE to:
                            </div>
                            <div class="input_part">
           <!--                     <select tabindex="1"
                                        id="init_select"
                                        class="form-control"
                                        name="device"
                                        ng-change="getDevice()"
                                        ng-model="selectedDevice"
                                        [ngClass]="activeMenu == 'device_menu' ? 'active_menu': ''"
                                        ng-options="obj.dicomDeviceName as obj.dicomDeviceName for obj in devices"
                                >
                                </select>-->
<!--                                <select [ngClass]="activeMenu == 'device_menu' ? 'active_menu': ''"
                                        (change)="getDevice($event)"
                                        [ngModel]="selectedDevice">
                                    <option [ngValue]="selectedDevice" *ngFor="let obj of devices">{{obj.dicomDeviceName}}</option>
                                </select>-->
                                <!--<select (change)="getDevice($event)" (ngChangeModel)="">-->
                                <select [ngModel]="selectedDevice" (ngModelChange)="getDevice($event)" name="dicomDeviceName">
                                    <option [value]="obj.dicomDeviceName" *ngFor="let obj of devices">{{obj.dicomDeviceName}}</option>
                                </select>
                            </div>
                            <span class="description">Already existing devices</span>
                        </div>
                    </div>
                    <h4 (click)="showconnselecteddevice=!showconnselecteddevice;showselectdevice=false;">New Network Connection  to selected device <span *ngIf="newAetModel && newAetModel.dicomNetworkConnection && newAetModel.dicomNetworkConnection[0] && newAetModel.dicomNetworkConnection[0].cn && !showconn"> <b>{{newAetModel.dicomNetworkConnection[0].cn}}</b></span></h4>
                    <div class="content"  *ngIf="selctedDeviceObject">
                        <!--<h4 (click)="showconn=!showconn;showdevice=false">New Network Connection  <span *ngIf="newAetModel.dicomNetworkConnection[0].cn && !showconn"> <b>{{newAetModel.dicomNetworkConnection[0].cn}}</b></span></h4>-->
                        <!--<div class="content"  *ngIf="showconn===true">-->
                            <!--<div sf-schema="netConnSchema" sf-form="netConnForm" sf-model="netConnModel"  sf-options="sfOptions"></div>-->
                            <div class="inputblock">
                                <label class="title">Name</label>
                                <input  [(ngModel)]="newAetModel.dicomNetworkConnection[0].cn">
                                <span class="description">Arbitrary/Meaningful name for the Network Connection object</span>
                            </div>
                            <div class="inputblock">
                                <label class="title">Hostname</label>
                                <input  [(ngModel)]="newAetModel.dicomNetworkConnection[0].dicomHostname">
                                <span class="description">DNS name for this particular connection</span>
                            </div>
                            <div class="inputblock">
                                <label class="title">Port</label>
                                <input  [(ngModel)]="newAetModel.dicomNetworkConnection[0].dicomPort">
                                <span class="description">TCP/UDP port that a service is listening on. May be missing if this network connection is only used for outbound connections</span>
                            </div>
                            <div class="vex-dialog-buttons aet_buttons">
                                <button type="button" class="vex-dialog-button-primary vex-dialog-button vex-first"  (click)="addNewConnectionToDevice()" title="Add the new connection to the selected device" [disabled]="!(_.hasIn(newAetModel,'dicomNetworkConnection[0].cn'))">Add connection</button>
                                <button type="button" class="vex-dialog-button-secondary vex-dialog-button vex-last" (click)="removeNewConnectionFromDevice()">Remove connection</button>
                            </div>
                        </div>
                    <!--</div>-->
                    <div class="content" *ngIf="!selctedDeviceObject">
                        Select first a device!
                    </div>
                </div>
                <div class="aet">
                    <h4 (click)="showae=!showae">Network AE</h4>
                    <div  id="networkae" class="content" *ngIf="showae===true || netAESchema">
                        <!--<div angular-validator  sf-schema="netAESchema" sf-form="netAEForm" sf-model="netAEModel"  sf-options="sfOptions"></div>-->
                        <div class="inputblock">
                            <label class="title">AE Title</label>
                            <input  [(ngModel)]="newAetModel.dicomNetworkAE[0].dicomAETitle">
                            <span class="description">Unique AE title for this Network AE</span>
                        </div>
                        <div class="inputblock">
                            <ng-container *ngIf="_.hasIn(selctedDeviceObject,'dicomNetworkConnection[0]') && activetab === 'selectdevice'">
                                <label class="title">Network Connection Reference</label>
                                <label *ngFor="let i of selctedDeviceObject.dicomNetworkConnection;let j = index">
                                    <input type="checkbox" value="{{'/dicomNetworkConnection/'+j}}" (change)="toggleReference(newAetModel.dicomNetworkAE[0].dicomNetworkConnectionReference,'/dicomNetworkConnection/'+j)">
                                    <span>{{i.cn}}</span>
                                </label>
                                <span class="description">JSON Pointers to the Network Connection objects for this AE</span>
                            </ng-container>
                            <ng-container *ngIf="activetab === 'createdevice'">
                                <label class="title">Network Connection Reference</label>
                                <label>
                                    <input type="checkbox" value="/dicomNetworkConnection/0" checked (change)="toggleReference(newAetModel.dicomNetworkAE[0].dicomNetworkConnectionReference,'/dicomNetworkConnection/0')">
                                    <span>{{newAetModel.dicomNetworkConnection[0].cn}}</span>
                                </label>
                                <span class="description">JSON Pointers to the Network Connection objects for this AE</span>
                            </ng-container>
                            <ng-container *ngIf="!_.hasIn(selctedDeviceObject,'dicomNetworkAE[0].dicomNetworkConnectionReference') && activetab === 'selectdevice'">
                                <div class="helpvalue">
                                    To be able to select the reference create first a  network connection or select device with a network connection!
                                </div>
                            </ng-container>
                        </div>
                        <div class="inputblock">
                            <label class="title">AE Description</label>
                            <textarea name="dicomDescription" [(ngModel)]="newAetModel.dicomNetworkAE[0].dicomDescription"></textarea>
                            <span class="description">Unconstrained text description of the application entity</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialogbuttons">
            <button class="save" type="button" (click)="dialogRef.close({device:selctedDeviceObject,newaetmodel:newAetModel,mode:activetab})" [disabled]="!validAeForm()">APPLY</button>
            <button class="cancle" type="button" (click)="dialogRef.close(null)">CANCLE</button>
        </div>
    </div>
</div>