<!--<div *ngIf="objectIsArray">-->
    <!--<div *ngFor="let v of object; let j = index">-->
        <!--<div class="listblock" *ngFor="let o of getKeys(v)" [ngClass]="{'firstlevel':!prefix,'sq':v[o].vr === 'SQ'}">-->
            <!--<div class="form_code">{{prefix}} {{o}}</div>-->
            <!--<div class="form_name">{{DCM4CHE.elementName.forTag(o,privateCreator(o))}}</div>-->
            <!--<div (click)="removeAttr(o, i)" *ngIf="v[o].vr === 'SQ' && !prefix" class="glyphicon glyphicon-remove"></div>-->
            <!--<div class="form_input" *ngIf="v[o].vr != 'SQ'">-->
                <!--<div  *ngFor="let v of v[o].Value; let i = index">-->
                    <!--<div *ngIf="v[o].vr != 'PN'">-->
                        <!--<input *ngIf="v[o].vr != 'DA' && o != '00100040'" placeholder="{{DCM4CHE.elementName.forTag(o,privateCreator(o))}}" [(ngModel)]="v[o].Value[i]">-->
                        <!--<p-calendar *ngIf="v[o].vr === 'DA' && o != '00100040'" dataType="string" [(ngModel)]="v[o].Value[i]" dateFormat="yymmdd" monthNavigator="true" yearNavigator="true" yearRange="1800:2100"></p-calendar>-->
                        <!--<select class="selectelement" *ngIf="o === '00100040'"-->
                                <!--[ngModel]="v[o].Value[0]"-->
                                <!--(ngModelChange)="onChange($event, 'v.00100040.Value[i]')"-->
                        <!--&gt;-->
                            <!--<option [ngValue]="g.obj.Value[0]"  *ngFor="let g of options.genders" >{{g.title}}</option>-->
                        <!--</select>-->
                        <!--<div (click)="removeAttr(o, i)" *ngIf="o != '00104000' && !prefix" class="glyphicon glyphicon-remove"></div>-->
                    <!--</div>-->
                    <!--<div class="multi_input" *ngIf="v[o].vr === 'PN'">-->
                        <!--<input placeholder="{{DCM4CHE.elementName.forTag(o,privateCreator(o))}} Alphabetic" [(ngModel)]="v[o].Value[i]['Alphabetic']">-->
                        <!--<input placeholder="{{DCM4CHE.elementName.forTag(o,privateCreator(o))}} Ideographic" [(ngModel)]="v[o].Value[i]['Ideographic']">-->
                        <!--<input placeholder="{{DCM4CHE.elementName.forTag(o,privateCreator(o))}} Phonetic" [(ngModel)]="v[o].Value[i]['Phonetic']">-->
                        <!--<div (click)="removeAttr(o, i)" *ngIf="o != '00104000' && !prefix" class="glyphicon glyphicon-remove"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div *ngIf="v[o].vr === 'SQ'">-->
                <!--&lt;!&ndash;<iod-form-generator *ngFor="let v of v[o].Value; let i = index" [v]="v[o].Value[i]" [prefix]="'>'+ (prefix || '')" title="{{i}}"></iod-form-generator>&ndash;&gt;-->
                <!--<iod-form-generator [object]="v[o].Value" [prefix]="'>'+ (prefix || '')"></iod-form-generator>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div *ngIf="!objectIsArray">-->
    <div class="listblock" *ngFor="let o of getKeys(object)" [ngClass]="{'firstlevel':!prefix,'sq':object[o].vr === 'SQ'}">
        <div class="form_code">{{prefix}} {{o}}</div>
        <div class="form_name">{{DCM4CHE.elementName.forTag(o,privateCreator(o))}}</div>
        <div (click)="removeAttr(o, i)" *ngIf="object[o].vr === 'SQ' && !prefix" class="glyphicon glyphicon-remove"></div>
        <div class="form_input" *ngIf="object[o].vr != 'SQ'">
            <div  *ngFor="let v of object[o].Value; let i = index">
                <div *ngIf="object[o].vr != 'PN'">
                    <input *ngIf="object[o].vr != 'DA' && o != '00100040'" placeholder="{{DCM4CHE.elementName.forTag(o,privateCreator(o))}}" [(ngModel)]="object[o].Value[i]">
                    <p-calendar *ngIf="object[o].vr === 'DA' && o != '00100040'" dataType="string" [(ngModel)]="object[o].Value[i]" dateFormat="yymmdd" monthNavigator="true" yearNavigator="true" yearRange="1800:2100"></p-calendar>
                    <select class="selectelement" *ngIf="o === '00100040'"
                            [ngModel]="object[o].Value[0]"
                            (ngModelChange)="onChange($event, 'object.00100040.Value[i]')"
                    >
                        <option [ngValue]="g.obj.Value[0]"  *ngFor="let g of options.genders" >{{g.title}}</option>
                    </select>
                    <div (click)="removeAttr(o, i)" *ngIf="o != '00104000' && !prefix" class="glyphicon glyphicon-remove"></div>
                </div>
                <div class="multi_input" *ngIf="object[o].vr === 'PN'">
                    <input placeholder="{{DCM4CHE.elementName.forTag(o,privateCreator(o))}} Alphabetic" [(ngModel)]="object[o].Value[i]['Alphabetic']">
                    <input placeholder="{{DCM4CHE.elementName.forTag(o,privateCreator(o))}} Ideographic" [(ngModel)]="object[o].Value[i]['Ideographic']">
                    <input placeholder="{{DCM4CHE.elementName.forTag(o,privateCreator(o))}} Phonetic" [(ngModel)]="object[o].Value[i]['Phonetic']">
                    <div (click)="removeAttr(o, i)" *ngIf="o != '00104000' && !prefix" class="glyphicon glyphicon-remove"></div>
                </div>
            </div>
        </div>
        <div *ngIf="object[o].vr === 'SQ'">
            <iod-form-generator *ngFor="let v of object[o].Value; let i = index" [object]="object[o].Value[i]" [prefix]="'>'+ (prefix || '')" title="{{i}}"></iod-form-generator>
            <!--<iod-form-generator [object]="object[o].Value" [prefix]="'>'+ (prefix || '')"></iod-form-generator>-->
        </div>
    </div>
<!--</div>-->