<div class="composed_input_content">
    @for (el of Array(inputSize); track $index; let i = $index) {

        @if (placeholderElements) {
            <input [ngStyle]="{width: 'calc( 100% /' + inputSize +')'}" type="text" [(ngModel)]="modelArray[i]"
                   [placeholder]="placeholderElements[i]" (ngModelChange)="onchange($event)">
        }
        @if (!placeholderElements) {
            <input [ngStyle]="{width: 'calc( 100% /' + inputSize +')'}" type="text" [(ngModel)]="modelArray[i]"
                   (ngModelChange)="onchange($event)">
        }
        @if (i + 1 < inputSize && (joins[i] || joins)) {
            <span class="join_string">{{ joins[i] || joins }}</span>
        }

    }
</div>
