<div class="vex vex-theme-os clone" xmlns="http://www.w3.org/1999/html">
    <div class="vex-dialog-form">
        <h5>Select element to remove from device</h5>
        <div class="content">
            <mat-select [(ngModel)]="selectedOption" (ngModelChange)="selectedOption = $event">
                <mat-option *ngFor="let options of toRemoveElement.options" [value]="options" title="{{options.description}}">{{ options.title }}</mat-option>
            </mat-select>
        </div>
        <div class="dialogbuttons">
            <button class="save" type="button" (click)="dialogRef.close(selectedOption)">REMOVE FROM DEVICE</button>
            <button class="cancle" type="button" (click)="dialogRef.close(null)">CANCEL</button>
        </div>
    </div>
</div>