<p *ngIf="loader">
  loading...
</p>
<div *ngIf="!loader && elements">
  <div class="checkbox_parent" [ngClass]="{'long_mode':longMode}" *ngIf="type === 'array'" #checkboxes>
      <input *ngIf="longMode" type="text" [(ngModel)]="search" placeholder="Search list...">
      <div *ngFor="let element of elements|search:search"><input type="checkbox" [(ngModel)]="model[element[key]]" (change)="valueChanged()"> {{element[key]}}<br/></div>
      <span class="glyphicon glyphicon-exclamation-sign raw_warning_button" *ngIf="warning" (click)="showRawValues()"></span>
      <div *ngIf="showRaw" class="raw_array_edit">
          <p>Daemon value found, you can remove it manually from the value array:</p>
          <div class="array_body">
            <ng-container *ngFor="let c of Object.keys(model)">
                <div class="array_element">"{{c}}",</div><div class="button"><div class="button_content"><a class="delete button" (click)="deleteElement(c)"><i class="glyphicon glyphicon-remove"></i></a></div></div><br>
            </ng-container>
          </div>
      </div>
  </div>
  <div class="dropdown_parent" *ngIf="type === 'string'">
    <select (change)="valueChanged()" class="dropdown" [(ngModel)]="model">
      <option value="">-</option>
      <option value="{{element[key]}}" *ngFor="let element of elements">{{element[key]}}</option>
    </select>
  </div>
</div>
