<div class="main_content white_design" >
  <study-tab></study-tab>
<!--  <pre>
    studyDevice:{{studyDevice|json}}
  </pre>-->
  <div class="tab-content tab_content_with_fixed_header">
    <div class="sticky" #stickyHeader [ngClass]="{'fixed_header':fixedHeader}">
        <!--model2:{{model|json}}-->
<!--      <j4care-select [(model)]="model" [placeholder]="'Test placeholder'">
          <j4care-option [value]="''" [title]="'Test title'">*</j4care-option>
          <j4care-option *ngFor="let el of test" [value]="el.value" [htmlLabel]="el.label" [title]="'Test title'"></j4care-option>
      </j4care-select>-->
      <!--<button (click)="testSecure()">test</button>-->
      <h2>Studies {{studyConfig.tab}}</h2>
      <!--<h4 [@showHide]="fixedHeader ? 'hide':'show'">Select device and web service</h4>-->
<!--      <div class="controll_header" *ngIf="studyDevice">
        <j4care-select [(model)]="studyDevice.selectedDevice" [placeholder]="'Select Device'">
          <j4care-option [value]="''" [title]="'Test title'">*</j4care-option>
          <j4care-option *ngFor="let el of studyDevice.devices" [value]="el.value" [title]="'Test title'">{{el.text}}</j4care-option>
        </j4care-select>
      </div>-->
<!--      <dcm-drop-down
              *ngIf="studyDevice && studyDevice.devices"
              [(model)]="studyDevice.selectedDevice"
              [placeholder]="'Select Device'"
              [options]="studyDevice.devices"
              [showSearchField]="false"
              [multiSelectMode]="false"
              [showStar]="false"
      ></dcm-drop-down>-->
<!--      <div class="filter_line">
        <div class="filter_block">
          <filter-generator *ngIf="filter.filterSchemaMain.lineLength" [schema]="filter.filterSchemaMain.schema" [filterID]="'study-filter'" [model]="filter.filterModel" (submit)="search('current')" [filterTreeHeight]="filter.filterSchemaMain.lineLength" (onChange)="filterChanged()"></filter-generator>
        </div>
      </div>-->
<!--      <div class="filter_line" [@showHide]="fixedHeader ? 'hide':'show'">
        <div class="filter_block">
          <filter-generator *ngIf="filter.filterSchemaEntry.lineLength" [schema]="filter.filterSchemaEntry.schema" [filterID]="'study-filter'" [model]="filter.filterEntryModel" [filterTreeHeight]="filter.filterSchemaEntry.lineLength" (onChange)="entryFilterChanged($event)"></filter-generator>
        </div>
      </div>-->
      <div class="filter_line">
        <div class="filter_block">
          <filter-generator *ngIf="filter.filterSchemaMain.lineLength" [schema]="filter.filterSchemaMain.schema" [filterID]="'study-filter'" [doNotSave]="[]" [model]="filter.filterModel" (submit)="search('current', $event)" [filterTreeHeight]="filter.filterSchemaMain.lineLength" (onChange)="filterChanged()" [defaultSubmitId]="'submit'"></filter-generator>
        </div>
      </div>
      <div class="filter_line" [hidden]="!filter.expand">
        <div class="filter_block">
          <filter-generator *ngIf="filter.filterSchemaExpand.lineLength" [schema]="filter.filterSchemaExpand.schema" [filterID]="'study-filter'" [doNotSave]="[]" [model]="filter.filterModel" [filterTreeHeight]="filter.filterSchemaExpand.lineLength" (onChange)="filterChanged()" [defaultSubmitId]="'submit'"></filter-generator>
        </div>
      </div>
<!--      <ng-container *ngIf="(studyConfig.tab === 'study' || studyConfig.tab === 'patient') && filter.expand">
        <h4 [@showHide]="fixedHeader ? 'hide':'show'">Select the Location Mode</h4>
        <div [@showHide]="fixedHeader ? 'hide':'show'" class="controll_header">
          <mat-radio-group class="example-radio-group" [(ngModel)]="studyConfig.accessLocation" (change)="accessLocationChange($event)">
            <mat-radio-button value="internal" >
              Internal
            </mat-radio-button>
            <mat-radio-button value="external" >
              External
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </ng-container>-->
  </div>
      <div class="filter_line more_function_block">
        <div class="filter single_block">
          <div class="filter_block">
            <div class="line">
              <a href="" (click)="$event.preventDefault();filter.expand=true" *ngIf="!filter.expand" class="more pull-left">More<i class="glyphicon glyphicon-triangle-bottom"></i></a>
              <a href="" (click)="$event.preventDefault();filter.expand=false" *ngIf="filter.expand" class="more [hidden] pull-left">Close More Block<i class="glyphicon glyphicon-triangle-top"></i></a>
              <dcm-drop-down
                  [placeholder]="moreFunctionConfig.placeholder"
                  [options]="moreFunctionConfig.options | dynamicPipe:undefined:moreFunctionFilterPipe:internal"
                  [editable]="false"
                  [(model)]="moreFunctionConfig.model"
                  [showSearchField]="false"
                  [multiSelectMode]="false"
                  (modelChange)="moreFunctionChanged($event)"
                  [showStar]="false"
                  *ngIf="studyWebService && studyWebService.selectedWebService"
                  [permission]="{id:'action-studies-more_function',param:'visible'}"
              ></dcm-drop-down>
            </div>
          </div>
          <div class="filter_block" *ngIf="(patients && patients.length > 0)">
            <div class="line">
              <dcm-drop-down
                      [placeholder]="actionsSelections.placeholder"
                      [options]="actionsSelections.options | dynamicPipe:undefined:actionsSelectionsFilterPipe:internal:trash.active"
                      [editable]="false"
                      [(model)]="actionsSelections.model"
                      [showSearchField]="false"
                      [multiSelectMode]="false"
                      (modelChange)="actionsSelectionsChanged($event)"
                      [showStar]="false"
                      *ngIf="studyWebService && studyWebService.selectedWebService"
                      [permission]="{id:'action-studies-more_function',param:'visible'}"
              ></dcm-drop-down>
              <input *ngIf="patients && patients.length > 0" title="Search current local list ( That's NOT searching in the Server! )" type="text" [(ngModel)]="searchCurrentList" placeholder="Search current list">
            </div>
          </div>
        </div>
      </div>
    <div class="selection_actions" *ngIf="tableParam.config.showCheckboxes" [permission]="{id:'action-studies-copy_merge_move',param:'visible'}">
        <ul class="selection_functions">
            <li class="ignore_click_outside"><button class="ignore_click_outside" [ngClass]="{'active':checkboxFunctions}" (click)="selectionAction('checkbox_functions')"><i class="ignore_click_outside material-icons">playlist_add_check</i></button></li>
            <li><button (click)="selectionAction('copy')"><i class="material-icons">content_copy</i></button></li>
            <li><button (click)="selectionAction('move')"><i class="material-icons">content_cut</i></button></li>
            <li><button (click)="selectionAction('patient_merge')"><i class="material-icons">supervisor_account</i></button></li>
            <li><button (click)="selectionAction('paste')"><i class="material-icons">content_paste</i></button></li>
        </ul>
        <ul *ngIf="checkboxFunctions" class="checkbox_functions" (clickOutside)='checkboxFunctions = !checkboxFunctions' [clickOutsideExceptionClass]="['ignore_click_outside']">
            <li class="ignore_click_outside"><button class="ignore_click_outside" (click)="selectionAction('remove_selection')">Remove all selections</button></li>
            <li class="ignore_click_outside"><button class="ignore_click_outside" (click)="selectionAction('check_selection_study')">Select all studies</button></li>
            <li class="ignore_click_outside"><button class="ignore_click_outside" (click)="selectionAction('uncheck_selection_study')">Unselect all studies</button></li>
            <li class="ignore_click_outside"><button class="ignore_click_outside" (click)="selectionAction('check_selection_patient')">Select all patients</button></li>
            <li class="ignore_click_outside"><button class="ignore_click_outside" (click)="selectionAction('uncheck_selection_patient')">Unselect all patients</button></li>
            <li class="ignore_click_outside"><button class="ignore_click_outside" (click)="selectionAction('hide_checkboxes')">Hide checkboxes</button></li>
        </ul>
    </div>
    <div class="left_arrow arrow"  title="Preview page" *ngIf="patients" [ngClass]="{'active':filter.filterModel.offset > 0}" (click)="search('prev',{id:'submit'})"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></div>
    <div class="right_arrow arrow" title="Next page" *ngIf="patients" [ngClass]="{'active':more}" (click)="search('next',{id:'submit'})"><span class="glyphicon glyphicon glyphicon-chevron-right"></span></div>
    <dicom-studies-table [patients]="patients" [tableSchema]="tableParam.tableSchema" [config]="tableParam.config" [studyWebService]="studyWebService" (onPaginationClick)="onSubPaginationClick($event)" [searchList]="searchCurrentList"></dicom-studies-table>
  </div>
    <div id="clipboard" class="clipboard said"  *ngIf="selectedElements.preActionElements && selectedElements.preActionElements.size > 0 && selectedElements.action">
        <div id="clipboardtoggle" class="toggle_button" (click)="showClipboardContent = !showClipboardContent">
            <i id="clipboardtoggle_icon" class="glyphicon glyphicon-copy"></i>
        </div>
        <div class="content" id="clipboard_content" *ngIf="showClipboardContent">
            <h5>Selected Objects to {{selectedElements.action}}</h5>
            <a class="clear_clipboard" title="Clear clipboard" href="" (click)="$event.preventDefault();clearClipboard()">
                Clear <span class="glyphicon glyphicon-remove"></span>
            </a>
            <div class="table_block">
                <ng-container  *ngFor="let level of ['patient','study','series','instance']">
                    <selections-dicom-view *ngIf="selectedElements.preActionElements[level] && Object.keys(selectedElements.preActionElements[level]) && Object.keys(selectedElements.preActionElements[level]).length > 0" [selectionsDicomObjects]="selectedElements.preActionElements[level]" [dicomLevel]="level" (onRemoveFromSelection)="onRemoveFromSelection($event)"></selections-dicom-view>
                </ng-container>
            </div>
        </div>
    </div>
</div>