:host {
  display: block;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  //padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  float:left;
  width: 100%;
  overflow: auto;
  height: 1000px;
}
.fixed_header{
  //width: calc(100% - 80px);
  background: white;
  //position: fixed;
  //top: 0;
  float: left;
  z-index: 10;
}
.tab_content_with_fixed_header{
  //margin-top: 226px;
}
.sticky{
  position: sticky;
  top: 0;
  z-index: 14;
}
.main_content .tab_content_with_fixed_header .j4care_dynamic_table .th{
  position: sticky;
  width: 100%;
}

.more_function_block{
  position: relative;
}
.filter_line{
  -webkit-box-shadow:    4px 0px 13px -3px rgba(68, 68, 68, 0.93);
  -moz-box-shadow:    4px 0px 13px -3px rgba(68, 68, 68, 0.93);
  box-shadow:    4px 0px 13px -3px rgba(68, 68, 68, 0.93);
}