.template_checkboxes{
  margin:10px 0;
  float: left;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  label{
    float: left;
    width: 100%;
  }
}
.checkbox{
  margin-top: 20px;
  margin-bottom: 20px;
}