<h3>Clone Device {{_.get(device,'dicomDeviceName')}}</h3>
<div class="content">
    {{texts.use_this_prefix_suffix}}: <input type="text" [(ngModel)]="suffixPrefix" (keyup)="onSufficePrefixChange()">
    <div class="dynamic_table">
        <div class="table_body">
            <div class="tr">
                <div class="bluebar" (click)="toggle = 'name'">{{texts.device_base_data}}</div>
            </div>
            @if (toggle === 'name') {

                <div class="tr">
                    <div class="td"></div>
                    <div class="td">{{texts.current_device}}</div>
                    <div class="td">{{texts.clone}}</div>
                </div>
                <div class="tr scrollable_block">
                    <div class="td">{{texts.device_name}}:</div>
                    <div class="td">
                        <input type="text" value="{{_.get(device,'dicomDeviceName')}}" disabled>
                    </div>
                    <div class="td">
                        <input type="text" [(ngModel)]="clonedDevice.dicomDeviceName">
                    </div>
                </div>
            
}
            @if (_.hasIn(device, 'dicomNetworkConnection')) {

                <div class="tr">
                    <div class="bluebar" (click)="toggle = 'connections'">{{texts.dicom_network_connection}}</div>
                </div>
                @if (toggle === 'connections') {

                    <div class="tr">
                        <div class="td"></div>
                        <div class="td">{{texts.current_device}}</div>
                        <div class="td">{{texts.clone}}</div>
                    </div>
                    <div class="tr scrollable_block">
                        <div class="td">
                            @for (key of device.dicomNetworkConnection; track key) {
<div class="td_block">
                                <label>
                                    {{texts.network_connection_name}}
                                </label>
                                <label>
                                    {{texts.hostname}}
                                </label>
                                <label>
                                    {{texts.port}}
                                </label>
                            </div>
}
                        </div>
                        <div class="td">
                            @for (connection of device.dicomNetworkConnection; track connection) {
<div class="td_block">
                                <input type="text" [(ngModel)]="connection.cn" disabled>
                                <input type="text" [(ngModel)]="connection.dicomHostname" disabled>
                                <input type="number" [(ngModel)]="connection.dicomPort" disabled>
                            </div>
}
                        </div>
                        <div class="td">
                            @for (connection of clonedDevice.dicomNetworkConnection; track connection) {
<div class="td_block">
                                <input type="text" [(ngModel)]="connection.cn">
                                <input type="text" [(ngModel)]="connection.dicomHostname">
                                <input type="number" [(ngModel)]="connection.dicomPort">
                            </div>
}
                        </div>
                    </div>
                
}
            
}
            @if (_.hasIn(device,'dicomNetworkAE')) {

                <div class="tr">
                    <div class="bluebar" (click)="toggle = 'aets'">{{texts.network_aes}}</div>
                </div>
                @if (toggle === 'aets') {

                    <div class="tr">
                        <div class="td"></div>
                        <div class="td">{{texts.current_device}}</div>
                        <div class="td">{{texts.clone}}</div>
                    </div>
                    <div class="tr scrollable_block">
                        <div class="td">
                            @for (key of device.dicomNetworkAE; track key) {
<div class="td_block">
                                <label>
                                    {{texts.ae_title}}:
                                </label>
                                @for (connection of device.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    @if (i === 0) {

                                        {{texts.network_connection_reference}}:
                                    
}
                                </label>
}
                            </div>
}
                        </div>
                        <div class="td">
                            @for (aet of device.dicomNetworkAE; track aet) {
<div class="td_block">
                                <input type="text"  [(ngModel)]="aet.dicomAETitle" disabled>
                                @for (connection of device.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    <input type="checkbox" [checked]="_.get(aet,'dicomNetworkConnectionReference').indexOf('/dicomNetworkConnection/' + i) > -1" disabled>
                                    {{_.get(connection,'cn')}}
                                </label>
}
                            </div>
}
                        </div>
                        <div class="td">
                            @for (aet of clonedDevice.dicomNetworkAE; track aet; let i = $index) {
<div class="td_block">
                                <input type="text"  [(ngModel)]="aet.dicomAETitle" (keyup)="onAetChange( i, aet)">
                                @for (connection of clonedDevice.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    <input type="checkbox" [checked]="_.get(aet,'dicomNetworkConnectionReference').indexOf('/dicomNetworkConnection/' + i) > -1" (change)="onConnectionReffChange(aet, i, $event)">
                                    {{_.get(connection,'cn')}}
                                </label>
}
                            </div>
}
                        </div>
                    </div>
                
}
            
}
            @if (_.hasIn(device, 'dcmDevice.dcmWebApp')) {

                <div class="tr">
                    <div class="bluebar" (click)="toggle = 'webapps'">{{texts.web_apps}}</div>
                </div>
                @if (toggle === 'webapps') {

                    <div class="tr">
                        <div class="td"></div>
                        <div class="td">{{texts.current_device}}</div>
                        <div class="td">{{texts.clone}}</div>
                    </div>
                    <div class="tr scrollable_block">
                        <div class="td">
                            @for (key of device.dcmDevice.dcmWebApp; track key) {
<div class="td_block">
                                <label>
                                    {{texts.web_app_name}}:
                                </label>
                                @for (connection of device.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    @if (i === 0) {

                                        {{texts.network_connection_reference}}:
                                    
}
                                </label>
}
                                <label>
                                    {{texts.web_service_path}}:
                                </label>
                            </div>
}
                        </div>
                        <div class="td">
                            @for (webApp of device.dcmDevice.dcmWebApp; track webApp) {
<div class="td_block">
                                <input type="text"  [(ngModel)]="webApp.dcmWebAppName" disabled>
                                @for (connection of device.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    <input type="checkbox" [checked]="_.get(webApp,'dicomNetworkConnectionReference').indexOf('/dicomNetworkConnection/' + i) > -1" disabled>
                                    {{_.get(connection,'cn')}}
                                </label>
}
                                <input type="text"  [(ngModel)]="webApp.dcmWebServicePath" disabled>
                            </div>
}
                        </div>
                        <div class="td">
                            @for (webApp of clonedDevice.dcmDevice.dcmWebApp; track webApp) {
<div class="td_block">
                                <input type="text"  [(ngModel)]="webApp.dcmWebAppName">
                                @for (connection of clonedDevice.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    <input type="checkbox" [checked]="_.get(webApp,'dicomNetworkConnectionReference').indexOf('/dicomNetworkConnection/' + i) > -1" (change)="onConnectionReffChange(webApp, i, $event)">
                                    {{_.get(connection,'cn')}}
                                </label>
}
                                <input type="text"  [(ngModel)]="webApp.dcmWebServicePath">
                            </div>
}
                        </div>
                    </div>
                
}
            
}
            @if (_.hasIn(device,'dcmDevice.hl7Application')) {

                <div class="tr">
                    <div class="bluebar" (click)="toggle = 'hl7'">{{texts.hl7_applications}}</div>
                </div>
                @if (toggle === 'hl7') {

                    <div class="tr">
                        <div class="td"></div>
                        <div class="td">{{texts.current_device}}</div>
                        <div class="td">{{texts.clone}}</div>
                    </div>
                    <div class="tr scrollable_block">
                        <div class="td">
                            @for (key of device.dcmDevice.hl7Application; track key) {
<div class="td_block">
                                <label>
                                    {{texts.hl7_application_name}}:
                                </label>
                                @for (connection of device.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    @if (i === 0) {

                                        {{texts.network_connection_reference}}:
                                    
}
                                </label>
}
                            </div>
}
                        </div>
                        <div class="td">
                            @for (hl7 of device.dcmDevice.hl7Application; track hl7) {
<div class="td_block">
                                <input type="text"  [(ngModel)]="hl7.hl7ApplicationName" disabled>
                                @for (connection of device.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    <input type="checkbox" [checked]="_.get(hl7,'dicomNetworkConnectionReference').indexOf('/dicomNetworkConnection/' + i) > -1" disabled>
                                    {{_.get(connection,'cn')}}
                                </label>
}
                            </div>
}
                        </div>
                        <div class="td">
                            @for (hl7 of clonedDevice.dcmDevice.hl7Application; track hl7; let i = $index) {
<div class="td_block">
                                <input type="text"  [(ngModel)]="hl7.hl7ApplicationName">
                                @for (connection of clonedDevice.dicomNetworkConnection; track connection; let i = $index) {
<label>
                                    <input type="checkbox" [checked]="_.get(hl7,'dicomNetworkConnectionReference').indexOf('/dicomNetworkConnection/' + i) > -1" (change)="onConnectionReffChange(hl7, i, $event)">
                                    {{_.get(connection,'cn')}}
                                </label>
}
                            </div>
}
                        </div>
                    </div>
                
}
            
}
        </div>
    </div>
</div>
<div class="dialogbuttons">
    <button class="save" type="button" (click)="clone()" i18n="@@CLONE">CLONE</button>
</div>