<div class="widghet_content" (keydown)="keyDown($event)">
    <div class="close" (click)="close()"><span class="glyphicon glyphicon-remove"></span></div>
    <input class="dictionary_widget_search" [(ngModel)]="filter" i18n-placeholder="@@placeholder.dictionary-picker.__search" placeholder="  Search.." (keyup)="onSearch()">
    <div class="dictionary_widget" (scroll)="onScroll($event)">
        <ul class="list">
            <li *ngFor="let dictionary of dcmTagsFiltered|slice:0:sliceTo;" (click)="addSelectedElement(dictionary)"><span [innerHTML]="dictionary.key"></span> : <span [innerHTML]="dictionary.text"></span></li>
            <button class="load_more" *ngIf="sliceTo <= dcmTags.length && (!filter || filter==='')" (click)="loadMore()">
                <!--<i *ngIf="moreHl7.loaderActive" class="fa fa-spinner fa-spin fa-3x fa-fw"></i>-->
                <ng-container i18n="@@more">More</ng-container>
            </button>
        </ul>
        <div class="no_result" *ngIf="(dcmTags|search:filter).length === 0" i18n="@@searched_element_not_found">Searched element not found!</div>
    </div>
</div>
