<div class="main_content float_content white_design">
  <config-tab></config-tab>
    <div class="tab-content">
        <h2 i18n="@@web-apps-list.web_applications">Web Applications</h2>
        <div class="filter_line">
            <div class="filter_block">
                <filter-generator [filterIdTemplate]="'web-apps-list'" [schema]="filterSchema" [model]="filterObject" (submit)="submit($event)" [filterTreeHeight]="filterHeight"></filter-generator>
            </div>
        </div>
        <div class="filter_line more_function_block">
            <div class="filter single_block">
                <div class="filter_block">
                    <div class="line">
                        <!--<a href="" (click)="$event.preventDefault();createWebApp()" class="more ng-hide" i18n-title="@@web_app_list_create_new_web_application" title="Create new Web Application"> <span class="glyphicon glyphicon-plus"></span><ng-container i18n="@@ae-list.new_aet">New WebApp</ng-container></a>-->
                        <input autocomplete="off" [(ngModel)]="search" i18n-placeholder="@@search_dot"  placeholder="Search..."/>
                    </div>
                </div>
            </div>
        </div>
        @if ( tableConfig && webApps && webApps.length && webApps.length > 0){
            <table-generator [config]="tableConfig" [models]="webApps|search:search"></table-generator>
        }
    </div>
</div>
