<div class="main_content monitoring export white_design">
    <monitoring-tabs></monitoring-tabs>
    <div class="tab-content">
        <h2>Export</h2>
        <div class="filter_line">
        <div class="filter_block">
        <filter-generator [schema]="filterSchema" [model]="filterObject" (submit)="onSubmit($event)" (onChange)="onFormChange($event)"></filter-generator>
        <div class="filter">
            <div class="filter_block auto_reloader">
                <table>
                    <tr *ngFor="let status of Object.keys(statusValues)" [ngClass]="{'gray':statusValues[status]?.count == '0','red':statusValues[status]?.count=='!'}">
                        <td>{{status}}:</td>
                        <td *ngIf="!statusValues[status]?.loader">{{statusValues[status]?.count}}</td>
                        <td *ngIf="statusValues[status]?.loader"><i class="fa fa-circle-o-notch fa-spin dashboard_loader"></i></td>
                    </tr>
                </table>
                <div class="option_block">
                    <div class="interval_block">
                        <label>Interval:</label>
                        <input type="text" placeholder="Interval" [(ngModel)]="interval">
                        <span>s</span>
                    </div>
                    <button class="btn-default submit" (click)="toggleAutoRefresh()">
                        <div class="spinnter_container">
                            <span *ngIf="!timer.started" class="glyphicon glyphicon-refresh"></span>
                            <mat-progress-spinner *ngIf="timer.started" mode="indeterminate" [diameter]="20" ></mat-progress-spinner>
                        </div>
                        <span *ngIf="!timer.started">{{timer.startText}}</span>
                        <span *ngIf="timer.started">{{timer.stopText}}</span>
                    </button>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="filter_line" [permission]="{id:'action-monitoring->export-all_action',param:'visible'}">
<!--            <div class="morefunctionblock">
                <div class="w45percent">
                    <mat-select [(ngModel)]="allAction" placeholder="All actions" (change)="allActionChanged($event)" floatPlaceholder="never">
                        <mat-option value="{{actions.value}}" *ngFor="let actions of allActionsActive">{{actions.label}}</mat-option>
                    </mat-select>
                </div>
                <div class="w45percent csv_button"><span class="custom_icon csv_icon"></span>Download CSV</div>
            </div>-->
            <div class="filter single_block">
                <div class="filter_block">
                    <div class="line">
                        <div (click)="downloadCsv()" class="w45percent csv_button"><span class="custom_icon csv_icon"></span><span class="text">Download CSV</span></div>
                        <div (click)="uploadCsv()" class="w45percent csv_button"><span class="material-icons">file_upload</span><span class="text">Upload CSV</span></div>
                    </div>
                </div>
                <div class="filter_block">
                    <div class="line">
                        <mat-select class="pull-left"  [(ngModel)]="allAction" placeholder="All actions" (change)="allActionChanged($event)" floatPlaceholder="never">
                            <mat-option value="{{actions.value}}" *ngFor="let actions of allActionsOptions">{{actions.label}}</mat-option>
                        </mat-select>
                        <div class="checkbox_button pull-right" [ngClass]="{'active':batchGrouped}"><mat-checkbox [(ngModel)]="batchGrouped" (ngModelChange)="bachChange($event)">Batch ID grouped</mat-checkbox></div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-condensed" *ngIf="_.size(matches) > 0">
            <thead>
            <tr *ngIf="batchGrouped">
                <th>
                    <div class="arrow_block">
                        <button class="btn btn-link btn-xs"
                                [disabled]="!hasNewer(externalRetrieveEntries)"
                                (click)="getTasks(newerOffset(externalRetrieveEntries))"
                                title="Newer">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>
                        <button class="btn btn-link btn-xs"
                                [disabled]="!hasOlder(externalRetrieveEntries)"
                                (click)="getTasks(olderOffset(externalRetrieveEntries))"
                                title="Older">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </th>
                <th width="3%"></th>
                <th>Batch ID</th>
                <th class="hideOn1200px">Remote AET</th>
                <th class="hideOn1100px">Destination AET</th>
                <th class="hideOn1100px">Scheduled Time Range</th>
                <th class="hideOn1100px">Processing Start Time Range</th>
                <th class="hideOn1100px">Processing End Time Range</th>
                <th class="hideOn1100px">Tasks</th>
            </tr>
            <tr *ngIf="!batchGrouped">
                <th>
                    <div class="arrow_block">
                        <button class="btn btn-link btn-xs"
                                [disabled]="!hasNewer(matches)"
                                (click)="search(newerOffset(matches))"
                                title="Newer">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>
                        <button class="btn btn-link btn-xs"
                                [disabled]="!hasOlder(matches)"
                                (click)="search(olderOffset(matches))"
                                title="Older">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </th>
                <th (mouseenter)="tableMousEnter()" (mouseleave)="tableMousLeave()">
                    <div class="action_block">
                        <input type="checkbox" (change)="checkAll($event)">
                        <a [permission]="{id:'action-monitoring->export-single_action',param:'visible'}" class="text-white" (click)="$event.preventDefault();executeAll('cancel')" href="" title="Cancel selected">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                        <a [permission]="{id:'action-monitoring->export-single_action',param:'visible'}" class="text-white" (click)="$event.preventDefault();executeAll('reschedule')" href="" title="Reschedule selected">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </a>
                        <a [permission]="{id:'action-monitoring->export-single_action',param:'visible'}" class="text-white" (click)="$event.preventDefault();executeAll('delete')" href="" title="Delete selected">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </div>
                </th>
                <th>Modality</th>
                <th>Study UID</th>
                <th title="Number of instances">Nr.Inst. </th>
                <th title="Export Task ID">Exporter ID</th>
                <th>Status</th>
                <th>Failures</th>
                <th title="Scheduled time">Queue time</th>
                <th title="Processing duration">Export time</th>
                <th>Device name</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let match of matches">
                <tr *ngIf="batchGrouped">
                    <td [attr.rowspan]="(match.showProperties ? 2 : 1)" [innerHtml]="match.offset+1+'.'"></td>
                    <td  (mouseenter)="tableMousEnter()" (mouseleave)="tableMousLeave()">
                        <a (click)="$event.preventDefault();match.showProperties = !match.showProperties" href="" title="Show Properties">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                        <a class="text-white" (click)="$event.preventDefault();showTaskDetail(match)" href="" title="Show Tasks Detail">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </a>
                        <a [permission]="{id:'action-monitoring->export-single_action',param:'visible'}" (click)="$event.preventDefault();deleteBatchedTask(match)" href="" title="Delete Task with this BatchID">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </td>
                    <td [innerHtml]="match.properties.batchID" title="{{match.properties.batchID}}"></td>
                    <td [innerHtml]="match.properties.RemoteAET" class="hideOn1200px"></td>
                    <td [innerHtml]="match.properties.DestinationAET" class="hideOn1100px"></td>
                    <td [innerHtml]="match.properties.scheduledTimeRange" class="hideOn1100px"></td>
                    <td [innerHtml]="match.properties.processingStartTimeRange" class="hideOn1100px"></td>
                    <td [innerHtml]="match.properties.processingEndTimeRange" class="hideOn1100px"></td>
                    <td class="hideOn1100px no-padding" width="30%"><stacked-progress [model]="match.properties.tasks"></stacked-progress></td>
                </tr>
                <tr *ngIf="!batchGrouped">
                    <td [attr.rowspan]="(match.showProperties ? 2 : 1)" [innerHtml]="match.offset+1+'.'"></td>
                    <td (mouseenter)="tableMousEnter()" (mouseleave)="tableMousLeave()">
                        <input type="checkbox" [(ngModel)]="match.checked">
                        <a (click)="$event.preventDefault();match.showProperties = !match.showProperties" href="" title="Show Properties">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                        <a [permission]="{id:'action-monitoring->export-single_action',param:'visible'}" *ngIf="((match.properties.status && match.properties.status === 'SCHEDULED') || (match.properties.status && match.properties.status === 'IN PROCESS'))" (click)="$event.preventDefault();cancel(match)" href="" title="Cancel">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                        <a [permission]="{id:'action-monitoring->export-single_action',param:'visible'}" *ngIf="(match.properties.status && match.properties.status != 'TO SCHEDULE')"  (click)="$event.preventDefault();reschedule(match)" href="" title="Reschedule">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </a>
                        <a [permission]="{id:'action-monitoring->export-single_action',param:'visible'}" (click)="$event.preventDefault();delete(match)" href="" title="Delete">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </td>
                    <td [innerHtml]="match.properties.Modality"></td>
                    <td [innerHtml]="match.properties.StudyInstanceUID"></td>
                    <td [innerHtml]="match.properties.NumberOfInstances" ></td>
                    <td [innerHtml]="match.properties.ExporterID"></td>
                    <td [innerHtml]="match.properties.status" title="{{match.properties.outcomeMessage}}"></td>
                    <td [innerHtml]="match.properties.failures" title="{{match.properties.errorMessage}}"></td>
                    <td class="text-right" [innerHtml]="getDifferenceTime(match.properties.scheduledTime,match.properties.processingStartTime)"></td>
                    <td class="text-right" [innerHtml]="getDifferenceTime(match.properties.processingStartTime,match.properties.processingEndTime,'sec')"></td>
                    <td [innerHtml]="match.properties.dicomDeviceName"></td>
                </tr>
                <tr *ngIf="match.showProperties">
                    <td colspan="11">
                        <table class="table table-bordered table-condensed attribute_list">
                            <tr *ngFor="let key of match.propertiesAttr | getKey">
                                <th [innerHtml]="key._KEY"></th>
                                <td [innerHtml]="key._VALUE"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr [hidden]="true"></tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>