<div class="main_content monitoring">
    <monitoring-tabs></monitoring-tabs>
    <div class="tab-content">
        <div class="row filter"  (keyup)="filterKeyUp($event)">
            <div class="main_filter_block">
                <div class="col-md-3 block-1-1">
                    <div class="row">
                        <label for="exporterID" class="col-md-6 text-right control-label">Exporter ID:</label>
                        <!--<div class="col-md-6">-->
                            <!--<input id="exporterID" type="text" [(ngModel)]="filters.ExporterID" class="col-md-12"/>-->
                        <!--</div>-->
                        <div class="col-md-6">
                            <select id="exporterID" name="reject" class="col-md-12" (change)="filters.ExporterID = $event.target.value">
                                <option>*</option>
                                <option *ngFor="let s of exporters" title="{{s.description}}" value="{{ s.id }}">{{ s.id }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="status" class="col-md-6 text-right control-label">Status:</label>
                        <div class="col-md-6">
                            <select id="status" [(ngModel)]="filters.status" (change)="statusChange()" class="col-md-12">
                                <option>*</option>
                                <option>TO SCHEDULE</option>
                                <option>SCHEDULED</option>
                                <option>IN PROCESS</option>
                                <option>COMPLETED</option>
                                <option>WARNING</option>
                                <option>FAILED</option>
                                <option>CANCELED</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label for="limit" class="col-md-6 text-right control-label">Page Size:</label>
                        <div class="col-md-6">
                            <input id="limit" type="number" min="1" [(ngModel)]="filters.limit" class="col-md-12" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3 block-2-1">
                    <div class="row">
                        <div class="col-md-6">
                            <input id="StudyInstanceUID" placeholder="Study Instance UID" type="text" min="1" [(ngModel)]="filters.StudyInstanceUID" class="col-md-12" />
                        </div>
                        <div class="col-md-6" *ngIf="devices">
                            <select [(ngModel)]="filters.dicomDeviceName" class="col-md-12" placeholder="Device">
                                <option value="" selected disabled>Device name</option>
                                <option value="">*</option>
                                <option *ngFor="let device of devices" value="{{device.dicomDeviceName}}">{{device.dicomDeviceName}}</option>
                            </select>
                        </div>
                        <div class="col-md-6" *ngIf="!devices">
                            <input type="text" [(ngModel)]="filters.dicomDeviceName" placeholder="Device" class="col-md-12"/>
                        </div>
                    </div>
                    <div class="row">
                        <!--<label class="col-md-6 text-right control-label">Updated before:</label>-->
                        <div class="col-md-6">
                            <p-calendar  [(ngModel)]="filters.createdTimeObject" selectionMode="range" showButtonBar="true" dateFormat="yymmdd" monthNavigator="true" yearNavigator="true" yearRange="1800:2100" placeholder="Created"></p-calendar>
                        </div>
                        <div class="col-md-6">
                            <p-calendar  [(ngModel)]="filters.updatedTimeObject" selectionMode="range" showButtonBar="true" dateFormat="yymmdd" monthNavigator="true" yearNavigator="true" yearRange="1800:2100" placeholder="Updated"></p-calendar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!--<input id="StudyInstanceUID" placeholder="Study Instance UID" type="text" min="1" [(ngModel)]="filters.StudyInstanceUID" class="col-md-12" />-->
                            <button class="btn btn-default submit col-md-12" (click)="getCount()" title="Get count">
                                <span class="glyphicon glyphicon-refresh"></span>
                                COUNT {{count}}
                            </button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-default submit col-md-12" (click)="search(0)" title="Refresh">
                                <span class="glyphicon glyphicon-refresh"></span>
                                SUBMIT
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main_filter_block" *ngIf="filters.status && filters.status != '*' && allActionsActive.length > 0">
            <div class="morefunctionblock">
                <md-select [(ngModel)]="allAction" class="w45percent" placeholder="All actions" (change)="allActionChanged($event)" floatPlaceholder="never">
                    <md-option value="{{actions.value}}" *ngFor="let actions of allActionsActive">{{actions.label}}</md-option>
                </md-select>
            </div>
        </div>
        <table class="table table-bordered table-condensed" *ngIf="_.size(matches) > 0">
            <thead>
            <tr>
                <th>
                    <div class="arrow_block">
                        <button class="btn btn-link btn-xs"
                                [disabled]="!hasNewer(matches)"
                                (click)="search(newerOffset(matches))"
                                title="Newer">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>
                        <button class="btn btn-link btn-xs"
                                [disabled]="!hasOlder(matches)"
                                (click)="search(olderOffset(matches))"
                                title="Older">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </th>
                <th>
                    <div class="action_block">
                        <input type="checkbox" (change)="checkAll($event)">
                        <a *ngIf="isRole('admin')" class="text-white" (click)="$event.preventDefault();executeAll('cancel')" href="" title="Cancel selected">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                        <a *ngIf="isRole('admin')" class="text-white" (click)="$event.preventDefault();executeAll('reschedule')" href="" title="Reschedule selected">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </a>
                        <a *ngIf="isRole('admin')" class="text-white" (click)="$event.preventDefault();executeAll('delete')" href="" title="Delete selected">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </div>
                </th>
                <th>Modality</th>
                <th title="Number of instances">Nr.Inst. </th>
                <th title="Export Task ID">Exporter ID</th>
                <th>Status</th>
                <th>Failures</th>
                <th title="Scheduled time">Queue time</th>
                <th title="Processing start time">Export time</th>
                <th>Device name</th>
                <th>Study UID</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let match of matches">
                <tr>
                    <td [attr.rowspan]="(match.showProperties ? 2 : 1)" [innerHtml]="match.offset+1+'.'"></td>
                    <td>
                        <input type="checkbox" [(ngModel)]="match.checked">
                        <a (click)="$event.preventDefault();match.showProperties = !match.showProperties" href="" title="Show Properties">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                        <a *ngIf="isRole('admin') && ((match.properties.status && match.properties.status === 'SCHEDULED') || (match.properties.status && match.properties.status === 'IN PROCESS'))" (click)="$event.preventDefault();cancel(match)" href="" title="Cancel">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </a>
                        <a *ngIf="isRole('admin') && ((match.properties.status && match.properties.status != 'SCHEDULED') && (match.properties.status && match.properties.status != 'IN PROCESS'))"  (click)="$event.preventDefault();reschedule(match)" href="" title="Reschedule">
                            <span class="glyphicon glyphicon-repeat"></span>
                        </a>
                        <a *ngIf="isRole('admin')" (click)="$event.preventDefault();delete(match)" href="" title="Delete">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </td>
                    <td [innerHtml]="match.properties.Modality"></td>
                    <td [innerHtml]="match.properties.NumberOfInstances" ></td>
                    <td [innerHtml]="match.properties.ExporterID"></td>
                    <td [innerHtml]="match.properties.status" title="{{match.properties.outcomeMessage}}"></td>
                    <td [innerHtml]="match.properties.failures" title="{{match.properties.errorMessage}}"></td>
                    <td class="text-right" [innerHtml]="getDifferenceTime(match.properties.scheduledTime,match.properties.processingStartTime)"></td>
                    <td class="text-right" [innerHtml]="getDifferenceTime(match.properties.processingStartTime,match.properties.processingEndTime)"></td>
                    <td [innerHtml]="match.properties.dicomDeviceName"></td>
                    <td [innerHtml]="match.properties.StudyInstanceUID"></td>
                </tr>
                <tr *ngIf="match.showProperties">
                    <td colspan="11">
                        <table class="table table-bordered table-condensed attribute_list">
                            <tr *ngFor="let key of match.properties | getKey">
                                <th [innerHtml]="key._KEY"></th>
                                <td [innerHtml]="key._VALUE"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr [hidden]="true"></tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>