<div class="main_content deviceconfig">
<!--    <pre>
        pagination:{{params|json}}
    </pre>-->
    <a *ngIf="params.length > 1" routerLink="{{params[params.length-2].url}}" class="device_config_back"><i class="material-icons">chevron_left</i> <span>back</span></a><br>
    <div class="pagination">
        <span *ngFor="let pagination of params;let i = index">
            <a *ngIf="i!=(params.length-1)" routerLink="{{pagination.url}}" >{{pagination.title}} </a> <span *ngIf="i!=(params.length-1)"> / </span>
            <span *ngIf="i == (params.length-1)"> {{pagination.title}}</span>
        </span>
    </div>
<!--    <button (click)="deleteForm()">deleteform</button>
    <button (click)="addModel()">addmodel</button>-->
    <div *ngIf="formObj && showform">
        <dynamic-form [formelements]="formObj" [model]="model" (submitFunction)="submitFunction($event)"></dynamic-form>
    </div>
</div>
