/* You can add global styles to this file, and also import other style files */
@import "~material-design-icons/iconfont/material-icons.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/core/theming/prebuilt/deeppurple-amber.css";

$green :#2FA6C1;
$lightBlue:rgba(6, 29, 47, 0.84);
$blue:#061d2f;
$hoverBlue:#5293C1;


body{
    margin: 0;
    font-family: Robot, sans-serif;
}
*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
md-sidenav-layout{
    height:100vh;
}
md-sidenav{
    width:320px;
}
md-toolbar-row{
    justify-content: space-between ;
}
[md-raised-button]{
    width:100%;
}
md-grid-list{
    max-width:1403px;
    margin:16px;
}


[md-icon-button] {
    width: 27px;
    height:27px;
}
.icon-20{
    font-size:20px;
}

//#mainmenu
#mainmenu{
  li{
    a{
      &.active{
        text-decoration:underline;
      }
    }
  }
}

.slim-loading-bar{
  .slim-loading-bar-progress{
    background:$green;
    color:$green;
    position: fixed;
    left: 0;
    top: 0;
  }
}
md-progress-circle, [_nghost-nyg-8]{
  width:25px !important;
  height:25px !important;
  svg{
    path{
      color:$green;
      stroke:$green;
    }
  }
}
.ui-datepicker {

  select.ui-datepicker-month{
    width:56%;
    font-size:13px;
  }
  select.ui-datepicker-year{
    width:33%;
    font-size:13px;
  }
}

.cdk-overlay-container{
  //width:90%;
  .addPatientAttribut{
    margin-bottom: 20px;
    padding-left:7px;
  }
  md-dialog-container{
    overflow:visible;
    float: left;
    width: 100%;
  }
  .edit-patient, .edit-study, .edit-mwl{
    .mat-dialog-content{
      margin:15px -24px;
    }
  }
  .dropdown{
    max-height: 300px;
    overflow-y:scroll;
    width: 34%;
    -moz-box-shadow: 4px 6px 16px 5px #ccc;
    -webkit-box-shadow: 4px 6px 16px 5px #ccc;
    box-shadow: 4px 6px 16px 5px #ccc;
    z-index: 99999;
    position:absolute;
    background:white;
    margin-top: 0px;
    .dropdown_element{
      padding-left:7px;
      display: inline-block;
      width: 100%;
      color:black;
      &.selected{
        background:rgba(3, 0, 255, 0.5);
      }
      &:hover{
        background:#ccc;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
  .item1,.item1first {
    min-height: 35px;
    line-height: 35px;
    vertical-align: middle;
  }
  .item1,.item1input{
    margin-left: 20px;
  }
  .item2input{
    margin-left: 20px;
  }
  .item1input:nth-of-type(1){
    margin-top: 35px;
  }
  .item2input:nth-of-type(1){
    float: left;
    margin-left: 2%;
    padding-top: 35px;
    width: 98%;
  }
  .sqiod{
    float: left;
    width: 100%;
    display: block;
    position: relative;
    & > .glyphicon.glyphicon-remove {
      right: 6px !important;
      z-index: 999;
      &:hover{
        display: inline-block;
      }
    }
    &:hover .glyphicon.glyphicon-remove {
      display: inline-block;
    }
  }
  .ariod{
    float: left;
    width: 100%;
    display: block;
    position: relative;
    & > .glyphicon.glyphicon-remove {
      right: -10px !important;
      z-index: 999;
      &:hover{
        display: inline-block;
      }
    }
    &:hover .glyphicon.glyphicon-remove {
      display: inline-block;
    }
  }
  select{
    height: 30px;
    margin: 2px 0;
  }
  table{
    tr{
      &:hover{
        background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
        color: black;
      }
      td{
        input, textarea, select{
          float: left;
          width: 97%;
        }
        select{
          background: #ffffff;
          border:1px solid #ccc;
        }
        p-calendar{
          width:97%;
          float: left;
          span{
            width:100%;
            input{
              width:100%;

            }
          }
        }
        span.glyphicon-remove{
          float: right;
          height: 33px;
          line-height: 33px;
          text-align: center;
          width: 3%;
          display: none;
          &:hover{
            cursor: pointer;
          }
        }
        &.datepicker{
          .original{
            display: none;
          }
        }
      }
      td.first_td{
        padding-left:5%;
      }
      td:hover span{
        color:#7e7b7b;
        display: inline-block;
      }
    }
  }
}
.md-overlay-pane{
  .edit-mwl{
    .dropdown{
      margin-top:0;
    }
  }
}
.dialogbuttons{
  //float:right;
  margin-top: 35px;
  display: block;
  float: left;
  width: 100%;
  button{
    border: 0 none;
    border-radius: 0px;
    float: right;
    font-family: inherit;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    line-height: 1em;
    margin: 0 0 0 0.5em;
    padding: 0.75em 2em;
    text-transform: uppercase;
    &.save{
      background: $lightBlue;
      color: white;
      &[disabled] {
        color: #888;
        background: rgba(6, 29, 47, 0.74);
        &:hover{
          background: rgba(6, 29, 47, 0.74);
        }
      }
      &:hover{
        background:$blue;
      }
      &.btn-danger{
        background:#da3a36;
        &:hover{
          background: #b71511;
        }
      }
    }
    &.cancle{
      &:hover{
        background:#aaaaaa;
        color:black;
      }
    }
  }
}
.tooltip_container{
  display:none;
  &.show{
    display:block;
  }
}
p-calendar{
  span{
    width:100%;
    input{
      width:100%;

    }
  }
}
.td_cell{
  overflow:hidden;
}
.listblock{
  border-bottom:1px solid #ddd;
}
.input{
  span{
    top: 10px;
  }
}
.listblock{
  list-style: none;
  display: block;
  float: left;
  position: relative;
  width: 100%;
  padding:3px 8px;
  &.firstlevel{
    padding-left:5%;
    &>.glyphicon.glyphicon-remove{
      right:15px;
    }
    &.sq{
      .form_input{
        input{
          width:99%;
          //float:right;
        }
      }
      .listblock.sq{
        input{
          float:right;
        }
      }
    }
  }
  &:hover{
    background:#ddd;
  }
  & > .glyphicon.glyphicon-remove{
    right: 15px;
  }
  input{
    padding-left:7px;
  }
  .glyphicon.glyphicon-remove {
    position: absolute;
    right: 15px;
    top: 9px;
    display: none;
    color: #CDCDCD;
    &:hover{
      color: #7B7B7B;
      cursor: pointer;
    }
    &.sq{
      right: 23px;
    }
  }
  &:hover .glyphicon.glyphicon-remove {
    display: inline-block;
  }
  .form_name.sq {
    width: 84%;
  }
  .form_code {
    float: left;
    height: 30px;
    width: 13%;
    //padding-left:5%;
  }
  .form_name {
    float: left;
    height: 30px;
    width: 27%;
  }
  .form_input {
    float: left;
    width: 59%;
    // height: 30px;
    .input input, input, .selectelement{
       width: 98%;
      min-height: 30px !important;
      height: 30px;
      margin: 1px 0 !important;
    }
    .multi_input{
      position:relative;
      .input,.no-close-button {
        width: 97%;
      }
      &>.glyphicon.glyphicon-remove{
        right:-10px;
      }
    }
  }

}
.input p-calendar span{
  top:0;
}
p-calendar select{

}
.md-overlay-backdrop{
  position: fixed !important;
}

md-dialog-container{
  border-top: 20px solid $lightBlue;
  border-radius: 5px;
  &.mat-dialog-container{
    max-width:100% !important;
  }
}
/*.cdk-overlay-container{
  .cdk-global-overlay-wrapper{
    top: 5% !important;
    transform: translateX(-50%) translateX(0px) translateY(0px) !important;
    md-dialog-container{
      border-top: 20px solid $lightBlue;
      border-radius: 5px;
    }
  }
}*/
.md-overlay-container{
  .md-overlay-pane{
    top: 5% !important;
    transform: translateX(-50%) translateX(0px) translateY(0px) !important;
    md-dialog-container{
      border-top: 20px solid $lightBlue;
      border-radius: 5px;
    }
  }
}
.vex.vex-theme-os{
  h5{
    font-size: 22px;
    font-weight: bold;
    color: rgba(6, 29, 47, 0.84);
  }
}
.filter{
  label{
    font-weight:normal;
  }
  .input-group{
    .checkboxpart{
      float: left;
      display: inline-block;
      background: #eceeef;
      width: 26%;
      height: 30px;
      vertical-align: middle;
      line-height: 32px;
      text-align: center;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border: 1px solid #ccc;
      border-right: none;
    }
    .inputpart{
      float: left;
      width: 70%;
      height: 30px;
      margin: 0;
    }
  }
}
.echodialog{
  .content{
    h3{
      margin: 20px 0px;

    }
    .dropdownpart{
      height: 30px;
      margin-bottom: 20px;
    }
    .bodytext{
      font-size:15px;
    }
  }
}
.deleteaet{
  h3{
    font-size: 19px;
  }
  .inputpart{
    font-size:15px;
  }
}
.vex.vex-theme-os.copymove{
  .mat-dialog-content{
    max-height: 51vh;
  }
}
.vex.vex-theme-os.registernewaet{
  .nav-tabs{
    border-bottom:none;
  }
  .mat-dialog-content{
    .tabcontain{
      border-top:1px solid #dddddd;
    }
  }
  bootstrap-decorator > .schema-form-array > label{
    width:23.4% !important;
  }
}
.vex.vex-theme-os.registernewaet .vex-content bootstrap-decorator > .schema-form-array > ol > li.list-group-item{
  width: 97.3% !important;
}
.vex.vex-theme-os.info-dialog{
  width: 580px;
}
.vex.vex-theme-os .vex-dialog-button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  float: right;
  margin: 0 0 0 .5em;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .8em;
  line-height: 1em;
  padding: .75em 2em;
}
.vex.vex-theme-os.registernewaet{
  .exporter_block{
    .block{
      margin-top: 20px;
      padding: 15px 0;
    }
  }
  .inputblock{
    float:left;
    width:100%;
    position:relative;
    .title{
      color: black !important;
      float: left;
      padding-bottom: 0;
      padding-right: 15px;
      text-align: right;
      height: 32px;
      line-height: 32px;
      width: 25%;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    input[type=text],input[type=number],textarea, select{
      border-color: #ccc;
      border-style: solid;
      border-width: 1px;
      border-radius: 0;
      padding: 3px 12px;
      margin-top: 3px;
      float: left;
      width: 24.2%;
      background: white;
    }
    label.checkbox, .radio{
      margin-left: 26.3%;
      margin-top: 0;
      width: 25%;
    }
    input[type=text],input[type=number]{
      min-height: 26px;
      height: 26px;

    }
    textarea{

    }
    .description{
      float: right;
      margin-right: 1%;
      width: 49%;
      margin-top: 0px;
      color: #777;
      &.checkbox{
        margin-left: 0;
        position: absolute;
        right: -1%;
        top: 2px;
        width: 50%;
      }
    }
  }
  .defaultbutton{
    display:none;
  }
  .vex-dialog-message {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0 30px 0 !important;
  }
  .helpvalue {
    color: #6d0000;
    font-weight: bold;
    margin-bottom: 6px;
    margin-right: 10px;
    margin-top: 6px;
    text-align: right;
    width: 24%;
  }
  .form-control-feedback.ng-scope.glyphicon.glyphicon-remove{
    display:none;
  }
  .has-error{
    .help-block{
      color:#6d0000 !important;
    }
  }
}
.queues,.monitoring{
  .btn-default.submit{
    background:$lightBlue;
    color:white;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    &:hover{
      background: $lightBlue;
    }
  }
  .btn-danger{
    background:white;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    border-color:#ccc;
    color:black;
    background-color: white;
    &:hover{
      background-color: #d9534f;
      border-color: #d43f3a;
      color:white;
    }
  }
  .filter{
    select,input, button{
      height:26px;
      line-height:26px;
      padding: 0px 7px;
      -webkit-border-radius:0;
      -moz-border-radius:0;
      border-radius:0;
    }
    select{
      background-color: white;
    }
    .col-md-3{
      input{
        margin:0;
      }
    }
    .p-calendar{
      padding:0;
      -webkit-border-radius:0;
      -moz-border-radius:0;
      border-radius:0;
      width:100%;
      input{
        padding:0px 7px;
      }
    }
  }
  .block-1-1, .block-1-2, .block-2-1, .block-2-2{
    min-height:144px;
  }
}
.connection_tls{
  font-size: 17px;
  margin-left: 7px;
  vertical-align: middle;
  &:hover{
    cursor: pointer;
  }
}
.monitoring{
  .tab-content{
    padding: 30px 10px 0px 10px;
    border: 1px solid #ccc;
    border-top: none;
  }
}
.confirm{
  .datepicker{
    margin:20px 0;
    float: left;
    width: 100%;
  }
}
.load_more{
  margin: 14px auto;
  display: block;
  background: white;
  border: none;
  -webkit-box-shadow: 2px 1px 4px #666666;
  -moz-box-shadow: 2px 1px 4px #666666;
  box-shadow: 2px 1px 4px #666666;
  text-align: center;
  height: 32px;
  color: $blue;
  position: relative;
  width: 131px;
  &:hover{
    background:$lightBlue;
    color:white;
    border:none;
  }
  i{
    font-size: 18px;
    color: $blue;
    position: absolute;
    left: 15px;
  }
}
.export{
  select{
    background: white;
    border: 1px solid #ccc;
  }
  .dicomBlock,.noneDicomBlock{
    margin:15px 0;
  }
  .dicomBlock{
    select.prefix{
      width:30%;
    }
    select.aes{
      width:69%;
    }
  }
  .noneDicomBlock{
    select{
      width:100%;
    }
  }
}