<h3>Archive</h3>
<p ng-bind="status == 'STARTED' ? 'Archive is running' : 'Archive is not running'"></p>
<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="start()" ng-disabled="status == 'STARTED'" title="Start Archive">Start</button>
    <button type="button" class="btn btn-default" ng-click="stop()" ng-disabled="status == 'STOPPED'" title="Stop Archive">Stop</button>
    <button type="button" class="btn btn-default" ng-click="reload()" title="Reload Archive Configuration">Reload</button>
    <button type="button" class="btn btn-default" ng-click="fetchStatus()" title="Fetch Archive Status">Status</button>
</div>
<p ng-bind="message"></p>
<div class="monitor">
	<!-- <code> -->
	<h3>Monitoring</h3>
	<p>Press Start or Refresh to get associations</p>
    	<button type="button" class="btn btn-default refresh" ng-click="refresh()" title="Get associacions">Refresh</button>
		<span title="Set the refresh interval in sec or millisec (with .)">Timer (sec)</span> : <input title="With a dot '.' you can set milliseconds for example: '0.6' = 600 milliseconds" type="text" ng-model="updaterate" ng-disabled="!stopLoop" class="no-close-button"/>
    	<button ng-show="stopLoop" type="button" class="btn btn-default" ng-click="monitor()" title="Start getting associacions">Start</button>
    	<button ng-show="!stopLoop" type="button" class="btn btn-default" ng-click="stopLoop=true" title="Stop auto refresh">Stop</button>
    	<!-- <span ng-show="!stopLoop" class="loader"></span> -->
    	<button type="button" class="btn btn-default" ng-click="downloadAssocImmage()" title="Download copy of the table as csv-file">Download copy</button>
    	<div ng-show="!stopLoop" id="loading-bar-spinner">
    		<div class="spinner-icon"></div>
    	</div>


		<table  class="table table-inverse">
			<tr>
				<th>
					<span title="Sort by Local AE Title" ng-click="sortBy('localAETitle')">
						Local AE Title 
					</span>
					<span title="Sort by initiated" ng-click="sortBy('initiated')">
						⇆ 
					</span>
					<span title="Sort by Remote AE Title" ng-click="sortBy('remoteAETitle')">
						Remote AE Title
					</span>
				</th>
				<th>
					<span  title="Sort by Invoked Ops." ng-click="sortBy('invokedOps')">
						Invoked Ops.
					</span>
				</th>
				<th><span  title="Sort by Performed Ops." ng-click="sortBy('performedOps')" >Performed Ops.</span></th>
				<th><span title="Sort by Connection time (Server)" ng-click="sortBy('connectTime')" >Connection time (Server)</span></th>
				<th><span title="Sort by Connection time (Local)" ng-click="sortBy('browserTime')" >Connection time (Browser)</span></th>
				<th><span title="Sort by Duration" ng-click="sortBy('openSinceOrder')" >Duration (hh:mm:ss.SSS)</span></th>			
				<th ng-show="others">
					<span title="Sort by Other attributes" ng-click="sortBy('others')" >Other attributes
					</span>
				</th>
				<th>
					Abort
				</th>
			</tr>
			<tr ng-show="associationStatus" ng-repeat="(key, value) in associationStatus | orderBy:propertyName:reverse">
				<td ng-show="value.initiated">
					{{value.localAETitle}} 
						<span class="glyphicon glyphicon-arrow-right"></span>
						{{value.remoteAETitle}}
				</td>
				<td ng-hide="value.initiated">
					{{value.localAETitle}}
						<span class="glyphicon glyphicon-arrow-left"></span>
					{{value.remoteAETitle}}
				</td>
				<td>
					<div ng-repeat="(k, m) in value.invokedOps">
						{{k}}-RQ/RSP : {{m.RQ}}/{{m.RSP}}
					</div>
				</td>
				<td>
					<div ng-repeat="(k, m) in value.performedOps">
						{{k}}-RQ/RSP : {{m.RQ}}/{{m.RSP}}
					</div>
				</td>
				<td class="text-right" ng-bind="value.connectTime"></td>
				<td class="text-right" ng-bind="value.browserTime"></td>
				<td class="text-right" ng-bind="value.openSince"></td>
				<td ng-show="others" class="others" ng-bind-html="value.others"></td>
				<td class="abort" ng-click="abort(value.serialNo)">
					<span class="glyphicon glyphicon-remove"></span>
				</td>

			</tr>
			<tr ng-hide="associationStatus">
				<td colspan="5">No open associations found!</td>
			</tr>
		</table>
	<!-- </code> -->
</div>