<div class="row" ng-show="clipboard.action === 'move'" >
    <div class="col-md-3">Select rejected type:</div>
    <div class="col-md-3">
        <select id="reject" ng-model="reject" name="reject" class="col-md-9">
            <option ng-repeat="rjn in rjnotes" title="{{rjn.codeMeaning}}" value="{{rjn.codeValue}}^{{rjn.codingSchemeDesignator}}">{{rjn.label}}</option>
        </select>
    </div>
</div>

<div class="targetobject" ng-if="target.modus === 'patient'">
    <h5>Selected target patient</h5>
    <b>{{target.attrs['00100010'].Value[0].Alphabetic}}</b> with the Patient ID <b>{{target.attrs['00100020'].Value[0]}}</b><br>
    (An empty study will be automatically created, so it can be used as target study!)
</div>
<div class="targetobject" ng-if="target.modus === 'study' || target.modus === 'series' || target.modus === 'instance'">
    <h5>Selected target study</h5>
    Study instance UID: <b>{{target.attrs['0020000D'].Value[0]}}</b> from the patient  <b>{{target.attrs['00100010'].Value[0].Alphabetic}}</b> with the Patient ID <b>{{target.attrs['00100020'].Value[0]}}</b><br>
</div>
<hr>
<h5>Selected objects to {{clipboard.action}}</h5>
<!-- <a class="clear_clipboard" title="Clear clipboard" href="" ng-click="clearClipboard()">
    Clear <span class="glyphicon glyphicon-remove"></span>
</a> -->
<div id="clipboard" class="clipboard">
    <div class="content" id="clipboard_content">
        <div class="header">
            <div>Study Instance UID
                <div ng-show="showClipboardHeaders.series || showClipboardHeaders.instance">Series Instance UID
                    <div ng-show="showClipboardHeaders.instance">
                        <span class="sopclass">Referenced SOP Class UID</span>
                        <span class="sopinstance">Referenced SOP Instance UID</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="block" ng-repeat="(key, value) in clipboard.selected track by $index">
                <div class="study_block block_part">
                    {{value.StudyInstanceUID}}
                    <i ng-click='removeClipboardElement("study",{"studykey":key})' class="remove glyphicon glyphicon-remove"></i>
                    <div class="series_block block_part" ng-repeat="(key2, seriesequence) in value.ReferencedSeriesSequence track by $index" ng-class="{'no-series':!seriesequence.ReferencedSOPSequence.length,'series':seriesequence.ReferencedSOPSequence.length,'scroll-active':clipboardHasScrollbar()}">
                        {{seriesequence.SeriesInstanceUID}}
                        <i ng-click='removeClipboardElement("serie", {"studykey":key, "serieskey":key2})' class="remove glyphicon glyphicon-remove"></i>
                        <div class="sop_block block_part" ng-repeat="(key3, sopseq) in seriesequence.ReferencedSOPSequence track by $index">        
                                <span class="sopclass">
                                    {{sopseq.ReferencedSOPClassUID}}
                                </span>
                                <span class="sopinstance">
                                    {{sopseq.ReferencedSOPInstanceUID}}
                                </span>
                                <i ng-click='removeClipboardElement("instance", {"studykey":key, "serieskey":key2, "instancekey":key3})' class="remove glyphicon glyphicon-remove"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>