<!-- <pre>
selectModel = {{selectModel}}
selectedPart = {{selectedPart}}
dicomNetworkConnection = {{wholeDevice.dicomNetworkConnection}}
</pre> -->
<form id="editDevice" name="editDevice" ng-cloak> <!--  on-change="formOnChange()" -->
<!-- 	<div ng-show="selectedElement == 'device'">
		<div name="deviceForm" class="ng-cloak" sf-schema="deviceSchema" sf-form="deviceForm" sf-model="deviceModel" ng-cloak></div>
	</div> -->
<!-- 	<div ng-show="selectedElement == 'dicomNetworkConnection'" name="dicomNetConnForm" class="ng-cloak" sf-schema="dicomNetConnSchema" sf-form="dicomNetConnForm" sf-model="dicomNetConnModel" ng-cloak></div>
	<div ng-show="selectedElement == 'dicomNetworkAE'" name="networkAeForm" class="ng-cloak" sf-schema="networkAeSchema" sf-form="networkAeForm" sf-model="networkAeModel" ng-cloak>
	
	</div> -->

<!-- 	<div 
		ng-repeat="(key, value) in selectObject | testFilter:selectedElement:selectedPart"
		ng-show="selectedElement == '{{key}}'" 
		name="form[key].form" 
		class="ng-cloak" 
		sf-schema="form[key].schema" 
		sf-form="form[key].form" 
		sf-model="form[key].model" 
		ng-cloak>
	</div> -->
<!-- 	<dynamic-form>
	</dynamic-form> -->
	<div sf-schema="dynamic_schema" sf-form="dynamic_form" sf-model="dynamic_model"></div>
	<hr  ng-show="showEcho()">
	<div ng-show="showEcho()" class="echo col-md-12">
		<h4>Send echo to Network AE</h4>
		<div class="echo_block col-md-12">
			<div class="col-md-6">
				<span>Select one AET:</span>
				<select 
					name="aet" 
					ng-model="selectedAet" 
					ng-options="obj.title as obj.title for obj in aets track by obj.title">
				</select>
			</div>
			<div class="col-md-6">
				<span>Remote AET:</span>
				{{selectedPart.dicomNetworkAE}}			
			</div>
		</div>
		<div class="btn col-md-2" ng-click="echo()">Echo</div>
	</div>
<!-- 	<div ng-show="selectedElement == 'dicomTransferCapability'" class="ng-cloak" sf-schema="transfareCapSchema" sf-form="transfareCapForm" sf-model="transfareCapModel" ng-cloak></div> -->
</form>
