
<!-- Main Device html-->
<div class="row device" ng-click="savedCheck($event)">
	<div class="block_layer" ng-show="showBlockLayer()"></div>
	<div class="col-md-3 active_border main_select">
		<h3>Select device to edit or delete</h3>
	    <select tabindex="1"
	    		id="init_select" 
	    		class="form-control" 
	    		name="device" 
	    		ng-model="devicename" 
	    		ng-class="activeMenu == 'device_menu' ? 'active_menu': ''" 
	    		ng-options="obj.dicomDeviceName as obj.dicomDeviceName for obj in devices track by obj.dicomDeviceName" 
	    		on-device-change>
	    </select>
	    <div class="more_menu"  ng-click="toggle('device_menu')" ng-swipe-left="toggle('dicomNetworkConnection')" ng-swipe-right="activeMenu = ''">
			<div class="delete_create_buttons">
				<div class="create" ng-click="createDevice()" title="Create new device"></div>
				<div class="delete" ng-click="delete()" title="Delete selected device"></div>
			</div>
		</div>
		<br>
		<button tabindex="2" type="button" class="edit btn btn-primary col-md-4 col-md-offset-1 pull-right" ng-click="edit()">Edit</button>
	</div>
	<div class="col-md-3 {{middleBorder}}">
		<div class="loader" ng-show="showDropdownLoader"></div>
		<div id="add_dropdowns"></div>
	</div>
	<div class="col-md-5 {{lastBorder}} form_content">
		<div class="loader" ng-show="showFormLoader"></div>
  		<div class="btn save col-md-2" ng-show="showSave" ng-click="save()" ng-dispabled="editDevice.$invalid">Save</div>
  		<div class="btn col-md-2" ng-show="showCancel" ng-click="cancel()">Cancel</div>
		<div id="add_edit_area"></div>
	</div>
</div>
<!-- Get hear messages from scope and show in a list -->
<div class="msg_container">
	<li ng-repeat="m in msg" class="{{m.status}} msg_{{m.id}} slideInRight animated"  ng-show="m.text" ng-click="closeBox(m)">
  		<span class="close" data-dismiss="alert" aria-label="close">&times;</span>	
  		<h4>{{m.title}}</h4>
  		<p ng-bind-html="m.text"></p>
  		<div class="progress"></div>
	</li>
</div>
<!-- <pre style="display:none">
	dynamicform: {{dynamicform | json}}
	hl7ApplicationForm:{{hl7ApplicationForm | json}}
	hl7ApplicationForm:{{$parent.hl7ApplicationForm | json}}
	editDevicedicomHost:{{editDevice.dicomHostname.$error.required}}
	editDevice:{{editDevice.$invalid}}
	{{wholeDevice | json}}
</pre> -->