<div id="selects_part">
<!-- 	<pre>selectedPart: {{selectedPart | json}}
		dicomnetworkconn: {{selectedPart.dicomNetworkConnection}}
		wholeDevice.dicomNetworkAE: {{this.wholeDevice.dicomNetworkAE}}
	</pre> -->
	<div>
		<h3>Select device part to edit</h3>
		<label>Edit rest of device</label>
		<div id="showDeviceForm" class="btn ng-cloak" ng-class="{active_dropbox:selectedElement == 'device'}" ng-click='selectElement("device")' ng-cloak>{{wholeDevice.dicomDeviceName}}</div>
	</div>
	<div ng-repeat="(key, value) in selectObject | testFilter:selectedElement:selectedPart">
		<label>Select dicom {{value.title}} to edit or delete:</label>
		{{splitStringToObject(value)}}
<!-- 		<pre> 
		test: {{"wholeDevice.dicomNetworkAE".substring(str.lastIndexOf(":")+1,str.lastIndexOf(";"))}}
		test: {{"wholeDevice.dicomNetworkAE".substring("wholeDevice.dicomNetworkAE".lastIndexOf(".")+1)}}
		</pre> -->
		<select 
			class="form-control" 
			ng-class="{active_dropbox:selectedElement === '{{value.partName}}',active_menu:activeMenu === '{{value.partName}}'}" 
			ng-click='selectElement(value.partName)' 
			name="{{value.partName}}"
			ng-model="selectedPart[value.model]" 
			ng-change='changeElement(value.partName)'
			ng-options="obj[value.optionValue] as obj[value.optionValue]  for obj in selectModel[value.model] track by obj[value.optionValue]">
		</select>
		<create-delete-button 
			part="{{value.partName}}" 
			create-text="Create new network dicomNetworkConnection" 
			delete-text="Delete selected network dicomNetworkConnection">
		</create-delete-button>
	</div>
<!-- 
	<div>
		<label>Select dicom Network Connection to edit or delete:</label>
		<select 
			class="form-control" 
			ng-class="{active_dropbox:selectedElement == 'dicomNetworkConnection',active_menu:activeMenu == 'dicomNetworkConnection'}" 
			ng-click='selectElement("dicomNetworkConnection")' 
			name="dicomNetworkConnection" 
			ng-model="selectedDicomNetworkConnection" 
			ng-change='changeElement("dicomNetworkConnection")'
			ng-options="obj.cn as obj.cn for obj in wholeDevice.dicomNetworkConnection track by obj.cn">
		</select>
		<create-delete-button 
			part="dicomNetworkConnection" 
			create-text="Create new network dicomNetworkConnection" 
			delete-text="Delete selected network dicomNetworkConnection">
		</create-delete-button>
	</div>
	<div>	
		<label>Select Network AE to edit or delete:</label>
		<select 
			class="form-control" 
			ng-class="{active_dropbox:selectedElement == 'dicomNetworkAE',active_menu:activeMenu == 'dicomNetworkAE'}" 
			name="dicomNetworkAE" 
			ng-model="selectedNetworkAE" 
			ng-change='changeElement("dicomNetworkAE")' 
			ng-click='selectElement("dicomNetworkAE")'
			ng-options="obj.dicomAETitle as obj.dicomAETitle for obj in wholeDevice.dicomNetworkAE track by obj.dicomAETitle">
		</select>
		<create-delete-button 
			part="dicomNetworkAE" 
			create-text="Create new Network AE" 
			delete-text="Delete selected Network AE">
		</create-delete-button>
	</div> -->
	<div id="SelectDicomTransferCapability"></div>
</div>