<div id="selects_part">
<!-- 	<pre>
		selectModel: {{selectModel | json}}
	</pre> -->
	<div class="header">
		<h3>Select device part to edit</h3>
		<label>Edit device credentials</label>
		<div id="showDeviceForm" class="btn ng-cloak" ng-class="{active_dropbox:selectedElement == 'device'}" ng-click='selectElement("device")' ng-cloak>{{wholeDevice.dicomDeviceName}}</div>
	</div>
	<div ng-repeat="(key, value) in selectObject | testFilter:selectedElement:selectedPart" title="{{value.optionRef}}" ng-class="{'child':value.optionRef.length > 1, 'subchild':value.optionRef.length > 2}">
		<label>Select dicom {{value.title}} to edit or delete:</label>
		{{splitStringToObject(value,key)}}
		<select 
			ng-if="value.type==='array'"
			id="{{key}}"
			title="{{selectedPart[key]}}" 
			class="form-control {{key}}" 
			ng-class="{active_dropbox:selectedElement === '{{key}}',active_menu:activeMenu === '{{key}}'}" 
			ng-click='selectElement(key)' 
			name="{{key}}"
			ng-model="selectedPart[key]" 
			ng-change='changeElement(key)'
			ng-options="obj[value.optionValue] as obj[value.optionValue]  for obj in selectModel[key] track by obj[value.optionValue]">
		</select>
		<button
			ng-if="value.type!='array'"
			ng-click='selectElement(key)' 
			name="{{key}}"
			class="form-control" 
			ng-class="{active_dropbox:selectedElement === '{{key}}',active_menu:activeMenu === '{{key}}'}" 
		>
			{{key}}
		</button>
		<create-delete-button 
			ng-if="value.type==='array'"
			part="{{key}}" 
			create-text="Create new {{value.title}}" 
			delete-text="Delete selected {{value.title}}"
			clone-text="Clone {{value.title}}"
			>
		</create-delete-button>
	</div>
	<div id="endLoadSelect"></div>
	<!-- <div id="SelectDicomTransferCapability"></div> -->
</div>