<input autocomplete="off" id="addPatientAttribut" class="addPatientAttribut" ng-model="addPatientAttribut" placeholder="Add new attribute"  ng-click="opendropdown = !opendropdown" />
<div class="dropdown" ng-show="opendropdown">
	<a class="dropdown_element" name="{{m.code}}" ng-repeat="(i,m) in dropdown | filter:addPatientAttribut" ng-click="addAttribute(m.code)">({{m.codeComma}}) {{m.name}}</a>
</div>
<table class="table">
   <tr ng-repeat="(i, p) in editstudy.attrs | study:iod track by $index ">
      <td ng-if="p.vr != 'SQ'" class="col-md-2 control-label first_td">{{i}}</td>
      <td ng-if="p.vr === 'SQ'"  class="col-md-2 control-label first_td">
         <div class="item1first">{{i}}</div>
         <div class="item1" ng-repeat="(j,item) in editstudy.attrs[i].Value[0] track by $index">
            >{{j}}
            <div class="item1" ng-if="item.vr === 'SQ'" ng-repeat="(j2,item2) in editstudy.attrs[i].Value[0][j].Value[0] track by $index">>>{{j2}}</div>
         </div>
      </td>
      <td ng-if="p.vr != 'SQ'"  class="col-md-3 control-label">{{DCM4CHE.elementName.forTag(i)}}</td>
      <td ng-if="p.vr === 'SQ'"  class="col-md-3 control-label">
         <div class="item1first">{{DCM4CHE.elementName.forTag(i)}}</div>
         <div class="item1" ng-repeat="(j,item) in editstudy.attrs[i].Value[0] track by $index" >
            {{DCM4CHE.elementName.forTag(j)}}
            <div class="item1" ng-if="item.vr === 'SQ'" ng-repeat="(j2,item2) in editstudy.attrs[i].Value[0][j].Value[0] track by $index">{{DCM4CHE.elementName.forTag(j2)}}</div>
         </div>
      </td>
      <td ng-class="{datepicker:(p.vr === 'DA')}">
        <textarea ng-if="i != '00100040' && i === '00104000' && p.vr != 'SQ'" class="form-control" ng-model="editstudy.attrs[i].Value[0]"></textarea><span ng-click="removeAttr(i)" ng-if="i==='00104000'" class="glyphicon glyphicon-remove"></span>
        <input ng-if="i != '00100040' && i != '00104000' && p.vr === 'PN' && p.vr!='SQ'" ng-repeat-start="(vi, value) in editstudy.attrs[i].Value  track by $index" class="form-control" placeholder="{{DCM4CHE.elementName.forTag(i)}} Alphabetic" ng-model="editstudy.attrs[i].Value[vi]['Alphabetic']"><span ng-click="removeAttr(i,vi)" ng-if="i != '00104000' && p.vr==='PN'" class="glyphicon glyphicon-remove"></span>
        <input ng-if="i != '00100040' && i != '00104000' && p.vr === 'PN' && p.vr!='SQ'" class="form-control" placeholder="{{DCM4CHE.elementName.forTag(i)}} Ideographic" ng-model="editstudy.attrs[i].Value[vi]['Ideographic']">
        <input ng-if="i != '00100040' && i != '00104000' && p.vr === 'PN' && p.vr!='SQ'" ng-repeat-end="" class="form-control" placeholder="{{DCM4CHE.elementName.forTag(i)}} Phonetic" ng-model="editstudy.attrs[i].Value[vi]['Phonetic']">
        <input ng-if="i != '00100040' && i != '00104000' && p.vr!='PN' && p.vr!='SQ'" ng-repeat-start="(vi, value) in editstudy.attrs[i].Value  track by $index" class="form-control {{i}} original" ng-model="editstudy.attrs[i].Value[vi]">
        <input ng-init="dateOpen[i]=false" ng-if="p.vr === 'DA'" class="form-control no-close-button"
          is-open="dateOpen[i]"
          type="text" 
          uib-datepicker-popup="{{format}}"
          datepicker-options="dateOptions"
          ng-click="opendateplaceholder(i,p.vr)" 
          ng-model="dateplaceholder[i]"
          close-text="Close"
        />
        <select ng-if="i === '00100040'"name="00100040"
  				ng-options="o as o.title for o in options.genders track by o.Value[0]"
  				ng-model="editstudy.attrs[i]">
  		</select>
         <span ng-repeat-end="" ng-click="removeAttr(i,vi)" ng-if="i != '00104000' && p.vr!='PN'" class="glyphicon glyphicon-remove {{i}}"></span>
         <div class="item1input" ng-if="p.vr === 'SQ'" ng-repeat="(j,item) in editstudy.attrs[i].Value[0] track by $index">
            <span ng-click="removeAttr(i)" ng-if="j != '00104000' && item.vr==='PN'" class="glyphicon glyphicon-remove"></span>
            <input ng-if="j != '00104000' && item.vr != 'PN' && item.vr!='SQ'" class="form-control" placeholder="{{DCM4CHE.elementName.forTag(j)}}" ng-model="editstudy.attrs[i].Value[0][j].Value[0]"/>
            <textarea ng-if="j === '00104000'" class=" form-control" ng-model="editstudy.attrs[i].Value[0][j].Value[0]"></textarea>
            <input ng-if="j != '00104000' && item.vr === 'PN' && item.vr!='SQ'" class=" form-control" placeholder="{{DCM4CHE.elementName.forTag(j)}} Alphabetic" ng-model="editstudy.attrs[i].Value[0][j].Value[0]['Alphabetic']">
            <input ng-if="j != '00104000' && item.vr === 'PN' && item.vr!='SQ'" class=" form-control" placeholder="{{DCM4CHE.elementName.forTag(j)}} Ideographic" ng-model="editstudy.attrs[i].Value[0][j].Value[0]['Ideographic']">
            <input ng-if="j != '00104000' && item.vr === 'PN' && item.vr!='SQ'" class=" form-control" placeholder="{{DCM4CHE.elementName.forTag(j)}} Phonetic" ng-model="editstudy.attrs[i].Value[0][j].Value[0]['Phonetic']">
            <div class="item2input" ng-if="item.vr === 'SQ'" ng-repeat="(j2,item2) in editstudy.attrs[i].Value[0][j].Value[0] track by $index"><span ng-click="removeAttr(i)" ng-if="j != '00104000' && item.vr==='PN'" class="glyphicon glyphicon-remove"></span>
	            <input ng-if="j2 != '00104000' && item2.vr != 'PN'" class="form-control" placeholder="{{DCM4CHE.elementName.forTag(j2)}}" ng-model="editstudy.attrs[i].Value[0][j].Value[0][j2].Value[0]"/>
	            <textarea ng-if="j2 === '00104000'" class=" form-control" ng-model="editstudy.attrs[i].Value[0][j].Value[0][j2].Value[0]"></textarea>
	            <input ng-if="j2 != '00104000' && item2.vr === 'PN'" class=" form-control" placeholder="{{DCM4CHE.elementName.forTag(j2)}} Alphabetic" ng-model="editstudy.attrs[i].Value[0][j].Value[0][j2].Value[0]['Alphabetic']">
	            <input ng-if="j2 != '00104000' && item2.vr === 'PN'" class=" form-control" placeholder="{{DCM4CHE.elementName.forTag(j2)}} Ideographic" ng-model="editstudy.attrs[i].Value[0][j].Value[0][j2].Value[0]['Ideographic']">
	            <input ng-if="j2 != '00104000' && item2.vr === 'PN'" class=" form-control" placeholder="{{DCM4CHE.elementName.forTag(j2)}} Phonetic" ng-model="editstudy.attrs[i].Value[0][j].Value[0][j2].Value[0]['Phonetic']">
            </div>
         </div>
      </td>
   </tr>
</table>

