<!-- <pre>
studies={{studies}}
</pre> -->

<div class="row">
    <div class="col-md-3 block-1-1">
        <div class="row">
            <label for="aet" class="col-md-6 text-right control-label">AET:</label>
            <div class=" col-md-6">    
                <select id="aet" ng-model="aet" class="col-md-12">
                    <option ng-repeat="ae in aes" title="{{ae.description}}">{{ae.title}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input id="PatientName" type="text" ng-model="filter.PatientName" placeholder=" Patient Name" class="col-md-12" />
            </div>
            <div class="col-md-6">
                <input id="PatientID" type="text" ng-model="filter.PatientID" placeholder=" Patient ID" class="col-md-12" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input id="AccessionNumber" type="text" ng-model="filter.AccessionNumber" placeholder=" Accession Number" class="col-md-12" />
            </div>
            <div class="col-md-6">
                <input id="Modality" type="text" size="5"  ng-model="filter.ModalitiesInStudy" ng-click="showModalitySelector = !showModalitySelector" placeholder=" Modality"  class="col-md-12" />
                <div class="modality_selector ng-hide" ng-show="showModalitySelector">
                    <a href="" ng-click="showModalitySelector=false" class="close"><i class="glyphicon glyphicon-remove"></i></a>
                    <div class="common">
                        <a href="" ng-repeat="(key, value) in modalities.common" ng-click="selectModality(key)" title="{{value}}">{{key}}</a>
                    </div>
                    <button ng-click="filter.ModalitiesInStudy='';showModalitySelector=false;" class="clear custom_button">Clear</button>
                    <!-- <div class="col-md-12"></div> -->
                    <a href="" ng-click="showMore=true" ng-show="!showMore" class="more">more<i class="glyphicon glyphicon-triangle-bottom"></i></a>
                    <a href="" ng-click="showMore=false" ng-show="showMore" class="more">less<i class="glyphicon glyphicon-triangle-top"></i></a>
                    <div class="more_block" ng-show="showMore">
                        <a href="" ng-repeat="(key, value) in modalities.more" ng-click="selectModality(key)" title="{{value}}">{{key}}</a>
                        <div class="form-group">
                            <label>Custom modality code:</label>
                            <input ng-model="filter.ModalitiesInStudy" />
                            <button ng-click="showModalitySelector=false" class="custom_button">Add</button>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="col-md-3 block-1-2">
        <div class="row">
            <label for="StudyDateFrom" class="col-md-12">Study Date:</label>
        </div>
        <div class="row">
            <div class="block_seid">
                <input 
                    class="col-md-12"
                    placeholder=" Study date from" 
                    ng-change="studyDateFromChange()"
                    ng-click="studyDateFromOpen()" 
                    id="StudyDateFrom" 
                    type="text" 
                    uib-datepicker-popup="{{format}}" 
                    ng-model="studyDate.fromObject" 
                    is-open="studyDateFrom.opened" 
                    datepicker-options="dateOptions"
                    close-text="Close"/>
                <input 
                    class="col-md-12"
                    placeholder="Study time from" 
                    id="StudyTimeFrom" 
                    type="text" 
                    size="10"  
                    ng-model="studyTime.fromObject" 
                    data-lng-clockpicker data-lng-clockpicker-options='clockpicker' />
            </div>
            <div class="minus text-center">
                -
            </div>
            <div class="block_seid">
                <input
                    class="col-md-12"
                    placeholder=" Study date to"  
                    ng-change="studyDateToChange()"
                    id="StudyDateTo" 
                    ng-click="studyDateToOpen()"  
                    is-open="studyDateTo.opened" 
                    close-text="Close" 
                    type="text" 
                    size="10" 
                    ng-model="studyDate.toObject" 
                    uib-datepicker-popup="{{format}}"/>
                <input 
                    class="col-md-12"
                    placeholder="Study time to" 
                    id="StudyTimeTo" 
                    type="text" 
                    size="10"  
                    ng-model="studyTime.toObject" 
                    data-lng-clockpicker data-lng-clockpicker-options='clockpicker' />
            </div>
        </div>
    </div>
</div>
<a href="" ng-click="advancedConfig=true" ng-show="!advancedConfig" class="more">Extended search<i class="glyphicon glyphicon-triangle-bottom"></i></a>
<a href="" ng-click="advancedConfig=false" ng-show="advancedConfig" class="more ng-hide">Close extended search<i class="glyphicon glyphicon-triangle-top"></i></a>
<div class="row ng-hide" ng-show="advancedConfig">
    <div class="col-md-3 block-2-1">
        <div class="row">
            <label for="exporter" class="col-md-6 text-right">Export:</label>
            <div class="col-md-6">
                <select id="exporter" ng-model="exporterID" class="col-md-12">
                    <option ng-repeat="exporter in exporters" title="{{exporter.description}}">{{exporter.id}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <input id="StudyID" type="text" ng-model="filter.StudyID" placeholder=" Study ID" class="col-md-12" />
            </div>
        </div>
    </div>
    <div class="col-md-3 block-2-2">
        <div class="row">
            <label for="reject" class="block_seid text-right">Reject:</label>
            <div class="block_seid">
                <select id="reject" ng-model="reject" class="col-md-9">
                    <option ng-repeat="rjn in rjnotes" title="{{rjn.codeMeaning}}"
                            value="{{rjn.codeValue}}^{{rjn.codingSchemeDesignator}}">{{rjn.label}}</option>
                </select>
                <a ng-click="deleteRejectedInstances()" href="" title="Delete Rejected Instances permanently" class="custom_button deleteRejctedI">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </div>
        <div class="row">
            <label for="limit" class="block_seid text-right">Page Size:</label>
            <div class="block_seid">
                <input class="col-md-12" id="limit" type="number" min="1" ng-model="limit" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-6">
                <input type="checkbox" ng-model="filter.fuzzymatching"> Fuzzy Matching
            </div>
        </div>
    </div>
</div>
<!-- Table -->
<div class="div-table animated">
    <div class="thead">
        <div class="tr_row">
            <div class="th">                
                <button class="btn btn-link btn-xs" ng-click="queryStudies(0)" title="Query Studies">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
<!--                 <button class="btn btn-link btn-xs"
                        ng-disabled="studies[0].offset==0"
                        ng-click="queryStudies(studies[0].offset-limit)"
                        title="Previous Studies">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </button>
                <button class="btn btn-link btn-xs"
                        ng-disabled="!moreStudies"
                        ng-click="queryStudies(studies[0].offset+limit)"
                        title="Next Studies">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>  -->
            </div>
            <div class="th">Patient Name
                <a href="" class="order_arrow" ng-click="filter.orderby = 'PatientName';queryStudies(0)">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </a>
                <a href="" class="order_arrow" ng-click="filter.orderby = '-PatientName';queryStudies(0)">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </a>
                </div>
            <div class="th">Patient ID</div>
            <div class="th">Study Date
                <a href="" class="order_arrow" ng-click="filter.orderby = 'StudyDate,StudyTime';queryStudies(0)">
                    <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                </a>
                <a href="" class="order_arrow" ng-click="filter.orderby = '-StudyDate,-StudyTime';queryStudies(0)">
                    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                </a>
            </div>
            <div class="th">Study Time</div>
            <div class="th">Accession Number</div>
            <div class="th">Modalities</div>
            <div class="th">Study Description</div>
            <div class="th">#S</div>
            <div class="th">#I</div>
        </div>
    </div>
    <div class="repeat1" ng-repeat="(studykey, study) in studies">
        <div class="tbody">
            <div class="tr_row">
                <div class="colcell" ng-bind="study.offset+1+'.'"> </div>
                <div class="subblock">
                    <div class="td_row thead">
                        <div class="td_cell table_btn">
                            <a ng-click="study.showAttributes = !study.showAttributes" href="" title="Show Attributes">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </a>
                            <a ng-click="exportStudy(study)" ng-show="exporterID" href="" title="Export Study">
                                <span class="glyphicon glyphicon-export"></span>
                            </a>
                            <a ng-click="rejectStudy(study)" href="" title="Reject Study">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                            <!--
                            <a ng-href="{{study.attrs['00081190'].Value[0]}}" title="Download Study">
                                <span class="glyphicon glyphicon-save"></span>
                            </a>
                            -->
                            <a ng-hide="study.series" ng-click="querySeries(study,0)" href="" title="Show Series">&#9658;</a>
                            <a ng-show="study.series" ng-click="study.series = null" href="" title="Hide Series">&#9660;</a>
                        </div>
                        <div class="td_cell" ng-bind="(study.attrs['00100010'].Value[0].Alphabetic) || '&nbsp;'">&nbsp;</div>
                        <div class="td_cell" ng-bind="(study.attrs['00100020'].Value[0]) || '&nbsp;'"> </div>
                        <div class="td_cell" ng-bind="(study.attrs['00080020'].Value[0] | formatDA) || '&nbsp;'"></div>
                        <div class="td_cell" ng-bind="(study.attrs['00080030'].Value[0] | formatTM) || '&nbsp;'"></div>
                        <div class="td_cell" ng-bind="(study.attrs['00080050'].Value[0]) || '&nbsp;'"> </div>
                        <div class="td_cell" ng-bind="(study.attrs['00080061'].Value) || '&nbsp;'"> </div>
                        <div class="td_cell" ng-bind="(study.attrs['00081030'].Value[0]) || '&nbsp;'"> </div>
                        <div class="td_cell" ng-bind="(study.attrs['00201206'].Value[0]) || '&nbsp;'"> </div>
                        <div class="td_cell" ng-bind="(study.attrs['00201208'].Value[0]) || '&nbsp;'"> </div>
                    </div>
                    <div class="td_row">
                        <div class="tr_row"  ng-show="study.showAttributes">
                            <div class="td_cell attribute_list"> 
                                <attribute-list attrs="study.attrs"></attribute-list>
                            </div>
                        </div>
                        <div class="tr_row thead2"  ng-show="study.series && study.series.length">
                            <div class="th">
                                <button class="btn btn-link btn-xs"
                                        ng-disabled="study.series[0].offset==0"
                                        ng-click="querySeries(study, study.series[0].offset-limit)"
                                        title="Previous Series">
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                </button>
                                <button class="btn btn-link btn-xs"
                                        ng-disabled="!study.moreSeries"
                                        ng-click="querySeries(study, study.series[0].offset+limit)"
                                        title="Next Series">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </button>
                            </div>
                            <div class="th">Station Name</div>
                            <div class="th">Series Number</div>
                            <div class="th">PPS Start Date</div>
                            <div class="th">PPS Start Time</div>
                            <div class="th">Body Part</div>
                            <div class="th">Modality</div>
                            <div class="th">Series Description</div>
                            <div class="th">#I</div>
                        </div>
                        <div class="repeat2" ng-repeat="(serieskey,series) in study.series">
                                <div class="td_cell colcell" ng-bind="series.offset+1+'.'"> </div>
                        <div class="subblock">
                            <div class="tr_row">
                                <div class="td_cell table_btn">
                                    <a ng-click="series.showAttributes = !series.showAttributes" href="" title="Show Attributes">
                                        <span class="glyphicon glyphicon-th-list"></span>
                                    </a>
                                    <a ng-click="exportSeries(series)" ng-show="exporterID" href="" title="Export Series">
                                        <span class="glyphicon glyphicon-export"></span>
                                    </a>
                                    <a ng-click="rejectSeries(series)" href="" title="Reject Series">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    <!--
                                    <a ng-href="{{series.attrs['00081190'].Value[0]}}" title="Download Series">
                                        <span class="glyphicon glyphicon-save"></span>
                                    </a>
                                    -->
                                    <a ng-hide="series.instances" ng-click="queryInstances(series,0)" href="" title="Show Instances">&#9658;</a>
                                    <a ng-show="series.instances" ng-click="series.instances = null" href="" title="Hide Instances">&#9660;</a>
                                </div>
                                <div class="td_cell" ng-bind="(series.attrs['00081010'].Value[0]) || '&nbsp;'"> </div>
                                <div class="td_cell" ng-bind="(series.attrs['00200011'].Value[0]) || '&nbsp;'"> </div>
                                <div class="td_cell" ng-bind="(series.attrs['00400244'].Value[0] | formatDA) || '&nbsp;'"> </div>
                                <div class="td_cell" ng-bind="(series.attrs['00400245'].Value[0] | formatTM) || '&nbsp;'"> </div>
                                <div class="td_cell" ng-bind="(series.attrs['00180015'].Value[0]) || '&nbsp;'"> </div>
                                <div class="td_cell" ng-bind="(series.attrs['00080060'].Value[0]) || '&nbsp;'"> </div>
                                <div class="td_cell" ng-bind="(series.attrs['0008103E'].Value[0]) || '&nbsp;'"> </div>
                                <div class="td_cell" ng-bind="(series.attrs['00201209'].Value[0]) || '&nbsp;'"> </div>
                            </div>
                            <div class="tr_row"  ng-show="series.showAttributes">
                                <div class="td_cell attribute_list">
                                    <attribute-list attrs="series.attrs"></attribute-list>
                                </div>
                            </div>
                            <div class="tr_row thead3"  ng-show="series.instances && series.instances.length">
                                <div class="th">
                                    <button class="btn btn-link btn-xs"
                                    ng-disabled="series.instances[0].offset==0"
                                    ng-click="queryInstances(series, series.instances[0].offset-limit)"
                                    title="Previous Instances">
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                    </button>
                                    <button class="btn btn-link btn-xs"
                                            ng-disabled="!series.moreInstances"
                                            ng-click="queryInstances(series, series.instances[0].offset+limit)"
                                            title="Next Instances">
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                                <div class="th">SOP Class UID</div>
                                <div class="th">Instance Number</div>
                                <div class="th">Content Date</div>
                                <div class="th">Content Time</div>
                                <div style="width:28%" class="th">Content Description</div>
                                <div style="width:2%" class="th">#F</div>
                            </div>
                            <div class="repeat3"  ng-repeat="(key,instance) in series.instances">
                                <div class="td_cell colcell" ng-bind="instance.offset+1+'.'"> </div>
                                <div class="subblock">
                                    <div class="tr_row">
                                        <div class="td_cell table_btn">   
                                            <a ng-click="toggleAttributs(series.instances[key],'attributs')" href="" title="Show Attributes">
                                                <span class="glyphicon glyphicon-th-list"></span>
                                            </a>   
                                            <a ng-click="toggleAttributs(series.instances[key],'fileattributs');addFileAttribute(studykey,serieskey,key)" href="" title="Show Attributes from file">
                                                <span class="glyphicon glyphicon-list"></span>
                                            </a>
                                            <a ng-click="exportInstance(instance)" ng-show="exporterID" href="" title="Export Instance">
                                                <span class="glyphicon glyphicon-export"></span>
                                            </a>
                                            <a ng-click="rejectInstance(instance)" href="" title="Reject Instance">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                            <a ng-href="{{downloadURL(instance)}}" title="Download Uncompressed DICOM Object">
                                                <span class="glyphicon glyphicon-save"></span>
                                            </a>
                                            <a ng-href="{{downloadURL(instance, '*')}}" title="Download DICOM Object">
                                                <span class="glyphicon glyphicon-download-alt"></span>
                                            </a>
                                            <a ng-click="viewInstance(instance)" href="" title="View DICOM Object">
                                                <span class="glyphicon glyphicon-picture"></span>
                                                <select ng-show="instance.views.length > 1"
                                                        ng-options="view for view in instance.views"
                                                        ng-model="instance.view">
                                                </select>
                                            </a>
                                        </div>
                                        <div class="td_cell"  ng-bind="(instance.attrs['00080016'].Value[0]) || '&nbsp;'"></div>
                                        <div class="td_cell"  ng-bind="(instance.attrs['00200013'].Value[0]) || '&nbsp;'"> </div>
                                        <div class="td_cell" ng-bind="((instance.attrs['00080023'] || instance.attrs['00700082']).Value[0] | formatDA) || '&nbsp;'"> </div>
                                        <div class="td_cell" ng-bind="((instance.attrs['00080033'] || instance.attrs['00700083']).Value[0] | formatTM) || '&nbsp;'"> </div>
                                        <div style="width:28%" class="td_cell" ng-bind="(instance.attrs | contentDescription) || '&nbsp;'"> </div>
                                        <div style="width:2%" class="td_cell" ng-bind="(instance.attrs['00280008'].Value[0]) || '&nbsp;'"> </div>
                                    </div>
                                    <div class="tr_row"  ng-show="instance.showAttributes">
                                        <div class="td_cell attribute_list">
                                            <attribute-list attrs="instance.attrs"></attribute-list>
                                        </div>
                                    </div>
                                    <div class="tr_row"  ng-show="instance.showFileAttributes">
                                        <div class="td_cell attribute_list file-attribute-list" id="file-attribute-list-{{instance.attrs['00080018'].Value[0] | removedots}}">
                                            <!-- <file-attribute-list attrs="instance.attrs" instance="instance" aet="aet"></file-attribute-list> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--  -->
                </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="arrows">
    <div class="arrows_block">
                <button class="btn btn-link btn-xs"
                        ng-disabled="studies[0].offset==0||!studies[0].offset"
                        ng-click="queryStudies(studies[0].offset-limit);addEffect('left')"
                        title="Previous Studies">
                    <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
                </button>
                <button class="btn btn-link btn-xs"
                        ng-disabled="!moreStudies"
                        ng-click="queryStudies(studies[0].offset+limit);addEffect('right')"
                        title="Next Studies">
                    <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                </button> 
    </div>
</div>