.tabs_hide_layer{
  overflow-x: hidden;
  float: left;
  box-shadow: 5px 3px 13px 0px rgba(68, 68, 68, 0.93);
  margin-top:10px;
  padding: 15px 20px;
}
.inputpart{
  box-shadow: 5px 3px 13px 0 rgba(68, 68, 68, 0.93);
  margin-top: 10px;
  padding: 15px 70px;
  .form_input {
    display: grid;
    grid-template-columns: 1fr 1.36fr;
    margin-bottom: 15px;
    grid-gap: 12px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }

  .form_input label {
    text-align: right;
  }

  .form_input input, .form_input dcm-drop-down {
    width: 96%;
    min-height: 30px;
  }
}
.form_content{
  display: grid;
  position: relative;
  grid-template-columns: 100% 100%;
  -webkit-transition: left 500ms ease-in-out;
  -moz-transition: left 500ms ease-in-out;
  -o-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
  margin: 0 25px;
  grid-gap: 50px;
  left: 0;
  &.complex{
    left: -100%
  }

  & > div{
    display: block;
    width: 100%;
  }
}
.cdk-overlay-container .edit-patient .mat-mdc-dialog-content{
  margin: 0;
  max-height: 40vh;
}
.modal_vertical_nav{
  padding: 0;
  width: 100%;
  li{
    float: left;
    min-width: 120px;
    margin-right: 5px;
    list-style: none;
    padding: 7px 10px;
    &.active{
      box-shadow: 5px 3px 13px 0 rgba(68, 68, 68, 0.93);
      font-weight: bold;
    }
    &:hover{
      cursor: pointer;
    }
  }
}
.form_content{
  .simple{
    margin-top:2rem;
    .form_block.label_mode{
      border-bottom: 1px solid #cccccc;
      margin-bottom: 2px;
      height:36px;
      padding:3px 8px;
      &:hover{
        background:#ccc;
      }
      label{
        font-weight: normal;
      }
      input{
        height:30px;
      }
    }
  }
}
