$height:27px;
.main_input_block{
  position: relative;
  height: $height;
  .main_input{
    width: 100%;
    height: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    background:transparent;
    border-bottom: 1px solid #ccc;
    padding-left: 6px;
    color: #777;
    font-style: italic;
    &.black{
      color:black;
      font-style: normal;
    }
  }
  .filter_button{
    background: rgba(28, 36, 43, 0.92);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    line-height: 27px;
    text-align: center;
    height: $height;
    &:hover{
      cursor: pointer;
    }
  }
  .codes{
    .code{
      margin: 10px 0;
      float: left;
      width: 100%;
      .code_label{
        width: 50%;
        text-align: right;
        padding-right: 10px;
      }
      .code_model{
        width: 50%;
        float: right;
      }
    }
  }
  .issuers{
    .issuer{
      margin: 10px 0;
      float: left;
      width: 100%;
      .issuer_label{
        width: 50%;
        text-align: right;
        padding-right: 10px;
      }
      .issuer_model{
        width: 50%;
        float: right;
      }
    }
  }
  .add_block{
    margin-bottom: 15px;
    float: left;
    width: 100%;
    border:1px solid black;
    dcm-drop-down{
      width:calc( 100% - 9px);
      float: left;
    }
    i.material-icons{
      float: right;
      background: rgb(6 29 47 / 84%);
      color: white;
      cursor: pointer;
      width:24px;
    }
  }
}

.content_block{
  display: block;
  position: fixed;
  background: white;
  z-index: 9999;
  box-shadow: 7px 10px 10px 5px #444;
  padding: 30px;
  min-width: 560px;
  border-top: 20px solid rgba(6, 29, 47, 0.84);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  h5{
    font-size: 18px;
  }
  .set_button{
    background: rgba(6, 29, 47, 0.84);
    color: white;
    border: 0;
    width: 24%;
    float: right;
  }
  .filter{
    width: 100%;
    .line{
      input[type=checkbox]{
        width: 10%;
        min-height: 15px;
      }
    }
  }
  ul{
    list-style: none;
    float: left;
    max-height: 125px;
    overflow: auto;
    width: 100%;
    padding: 3px;
    &.not-empty{
      border: 1px solid #6d6d6d;
    }
    li{
      border: 1px solid;
      padding-left: 9px;
      float: left;
      width: 100%;
      vertical-align: middle;
      margin-bottom: 2px;
      label{
        width:calc( 100% - 24px);
        float: left;
      }
      i.material-icons{
        float: right;
        background: rgb(6 29 47 / 84%);
        color: white;
        cursor: pointer;
        width:24px;
      }
    }
  }
}
.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  opacity: 1;
  background: rgba(0,0,0,.32);
}
.clear_picker{
  position: absolute;
  right: 25px;
  top: 5px;
}