<div class="main_content retrieve monitoring white_design">
    <monitoring-tabs></monitoring-tabs>
    <div class="tab-content">
        <h2>Metrics</h2>
        <div class="filter_line">
            <div class="filter_block">
                <filter-generator [filterIdTemplate]="'metric'" [schema]="filterSchema" [model]="filterObject" (submit)="getMetrics($event)" (onChange)="onFormChange($event)"></filter-generator>
            </div>
        </div>
    </div>
    <div>
        <table-generator *ngIf="tableConfig && metrics && metrics.length && metrics.length > 0" [config]="tableConfig" [models]="metrics"></table-generator>
    </div>
</div>