.dicom_table_buttons{
  width: 25px;
  display: block;
  text-align: center;
  float: left;
}
.text-white{
  color: white;
}
.action-button{
  margin:1px 2px;
  float: left;
  &:hover{
    font-weight: bold;
  }
}
.shadow{
  -webkit-box-shadow: 4px 4px 4px #ccc;
  -moz-box-shadow: 4px 4px 4px #ccc;
  box-shadow: 4px 4px 4px #ccc;
}
a:hover{
  cursor: pointer;
}