<table class="table table-bordered table-condensed attribute_list">
    <tr *ngFor="let row of rows">
        <td>{{row.level}}</td>
        <td *ngIf="row.el">{{row.name}}</td>
        <td *ngIf="row.el">{{row.tag | formatTag}}</td>
        <td *ngIf="row.el">{{row.el.vr}}</td>
        <td>
            <ng-container *ngIf="row.el && row.el.vr === 'PN' && _.hasIn(row,'el.Value.0')">
                {{row.el.Value[0]  | personName:personNameFormat}}
            </ng-container>
            <ng-container *ngIf="row.el && (row.el.vr === 'DA' || row.el.vr === 'TM' || row.el.vr === 'DT') && _.hasIn(row,'el.Value.0')">
                {{row.el.Value[0]  | customDate:customDateTimeFormat}}
            </ng-container>
            <ng-container *ngIf="row.el && !(row.el.vr === 'DA' || row.el.vr === 'TM' || row.el.vr === 'PN'  || row.el.vr === 'DT')">
                {{row.el | formatAttributeValue}}
            </ng-container>
        </td>
        <td *ngIf="row.item || row.item === 0" colspan="4">Item # {{row.item + 1}}</td>
    </tr>
</table>
