<table class="table table-bordered table-condensed attribute_list">
    @for (row of rows; track row) {
        <tr>
            <td>{{row.level}}</td>
            @if(row.name){
                <td class="attr_name">{{row.name}}</td>
            }
            @if(row.tag){
                <td class="attr_tag">{{row.tag | formatTag}}</td>
            }
            @if(row.el){
                <td class="attr_vr">{{row.el.vr}}</td>
            }
            <td class="attr_value">
                @if(row.el && row.el.vr === 'PN' && _.hasIn(row,'el.Value.0')) {
                    <!--{{row.el.Value[0]  | personName:personNameFormat}}-->
                    @if(_.hasIn(row,'el.Value.0.Alphabetic')){
                        <span>{{_.get(row,"el.Value.0.Alphabetic")}}</span>
                    }
                    @if(_.hasIn(row,'el.Value.0.Ideographic')){
                        <span>={{_.get(row,"el.Value.0.Ideographic")}}</span>
                    }
                    @if(_.hasIn(row,'el.Value.0.Phonetic')){
                        <span>={{_.get(row,"el.Value.0.Phonetic")}}</span>
                    }
                }
                @if(row.el && (row.el.vr === 'DA' || row.el.vr === 'TM' || row.el.vr === 'DT') && _.hasIn(row,'el.Value.0')){
                    {{row.el.Value[0]  | customDate:customDateTimeFormat}}
                }
                @if(row.el && !(row.el.vr === 'DA' || row.el.vr === 'TM' || row.el.vr === 'PN'  || row.el.vr === 'DT')){
                    {{row.el | formatAttributeValue}}
                }
            </td>
            @if(row.item || row.item === 0) {
                <td colspan="4">Item # {{row.item + 1}}</td>
            }
        </tr>
    }
</table>
