$hoverBlue:#5293C1;

body{
	padding: 2px 40px;
	.background{
		background: url("../img/bg.jpg");
		-webkit-filter: blur(5px);
	  	-moz-filter: blur(5px);
	  	-o-filter: blur(5px);
	  	-ms-filter: blur(5px);
	  	filter: blur(5px);
	    display: block;
	    height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    z-index: -1;

	}
	.main_content{
		background: rgba(255, 255, 255, 0.78) none repeat scroll 0 0;
//		margin:40px;
		//margin: 40px 20px;
		 margin: 27px -30px 40px 4px;
    	padding: 45px 30px 80px 30px;
    	box-shadow: 3px 3px 9px 4px rgba(0, 0, 0, 0.37);
    	width: 100%;
    	&.studies{
			float:left;
			.more {
			    color: black;
			    float: left;
			    margin-bottom: 15px;
			    margin-right: 70%;
			    i{
			    	margin-left: 5px;
			    }
			    &:hover{
			    	color: black;
			    }
			}
	    	.form-group {
	    		label {
			    	width: 100px;
				}
				input{
			    	width: 100px;
				}
			}
			& > .row{
				margin-left: 0;
			}
		}
	}
	.logo{
	    height: auto;
	    margin-left: 10px;
	    opacity: 0.7;
	    position: absolute;
	    right: 32px;
	    top: 44px;
	    width: 140px;
	    &:hover{
	    	cursor: pointer;
	    }
	}
}
ul.nav {
    background: rgba(0, 0, 0, 0.74) none repeat scroll 0 0;
    box-shadow: 10px 10px 10px #959292;
    color: white;
    // display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 150px;
    z-index: 999;

    li {
	    background: transparent none repeat scroll 0 0;
	    color: white;
	    width: 100%;
	    a{
	    	//background:white;
	    	background: transparent;
	    	color:white;
	    	text-align: right;

	    }
	    a:hover{
	    	background:transparent;
	    	font-weight: bold;
	    }
	    a:active{
	    	background: transparent;
			outline: none;
	    }
	}
	li.active{
		a{
			background: transparent;
			text-decoration: underline;
			outline: none;
		}
		a:hover{
			outline: none;
			font-weight: normal;
		}
		a:active{
			outline: none;
	    	background: transparent;
	    }
	}
	.glyphicon.glyphicon-align-justify {
	    background-position: right center;
	    left: 80%;
		padding-top: 30px;
	}
}
.glyphicon.glyphicon-align-justify.toggle-button.out {
	background: white none repeat scroll 0 0;
	box-shadow: 5px 2px 7px 3px #7e7e7e;
	height: 30px;
	left: 0;
	line-height: 30px;
	position: fixed;
	text-align: center;
	top: 30px;
	vertical-align: middle;
	width: 30px;
}
.glyphicon.glyphicon-align-justify.toggle-button.out:hover,.toggle-button:hover{
	cursor: pointer;
}

/*Hide template before rendered*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
#showDeviceForm{
	background: rgba(255, 255, 255, 0.84) none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: block;
    text-align: left;
    width: 91%;
    min-height: 34px;
}

.active_dropbox,
.active_dropbox:focus,
#showDeviceForm.active_dropbox,
#showDeviceForm.active_dropbox:focus,
 {
 	outline: 0;
    background: rgba(79, 136, 255, 0.92) none repeat scroll 0 0;
    border: 1px solid #00526d;
    box-shadow: 1px 0 3px 0 rgba(0, 5, 237, 0.65) inset;
    color: white;
}
.block_layer {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 998;
}
.form_content{
	z-index: 999;
	.btn {
	    //background: rgba(54, 54, 54, 0.55) none repeat scroll 0 0;
	    //border: 1px solid #ccc;
	    background: rgba(79, 136, 255, 0.92);
		border:1px solid #2e6da4;
	    color: #ffffff;
	    display: block;
	    float: right;
	    margin-top: 20px;
	}
	
	.btn-group{
		.btn{
			background:white;
			border:1px solid #ccc;
			color:black;
			border-radius: 0;
		}
		.btn.active{
			background:#ccc;
		}
	}
	.save{
	    margin-left: 10px;
	}
}
#add_edit_area{
	float: left;
	width: 100%;
}
/*Disable device Name field until the functionality is not implemented, 
so that if the device name is changed, the application shuld delete the 
device and create an other one with the new name*/

/* #dicomDeviceName{
	pointer-events: none;
	background: #ccc;
	color:black;
} */
.device{
	.active_border{
		&.col-md-3, &.col-md-5 {
		    border: 1px solid #dddddd;
		    margin: 4px;
		    padding-bottom: 20px;
		    box-shadow: 4px 3px 8px 1px #cccccc;
		     background: rgba(255, 255, 255, 0.63);
		}
		.btn-primary,.save{
			background: rgba(79, 136, 255, 0.92);
			border:1px solid #2e6da4;
		}
		.btn-primary:hover,.save:hover{
			background: rgba(71, 114, 204, 0.93);
		}
/* 		&:hover{
			 -webkit-transform: rotate(-90deg);
			 -moz-transform: rotate(-90deg);
			 -o-transform: rotate(-90deg);
			  transform: rotate(-90deg);
			-webkit-transition-duration: 1s;
			 -moz-transition-duration: 1s;
			 -o-transition-duration: 1s;
			  transition-duration: 1s;
		} */
	}
}
.main_select{
	padding-right: 11px;
	overflow: hidden;
	h3{
		margin-bottom: 37px;
	}
	select{
		float: left;
		width:92%;
		-webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
    	transition: width 0.4s;
	}
	.active_menu{
		width:55%;
	}
	.edit.btn{
		margin-right: 8%;
    	margin-top: 20px;
	}
	.more_menu{
		.delete_create_buttons {
			width:130px;
			&>div{
				width:33%;
				font-size: 22px;
				padding-top:4px;
				text-align: center;
				color:#878A84;
				&:hover{
					color:#547CD0;
				}
			}
		}
	}
}
#add_dropdowns{
	overflow:hidden;
	 .ng-scope > div{
		margin-bottom: 12px;
	}
	.form-control{
		width: 92%;
		float: left;
		-webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
    	transition: width 0.4s;
	}
	.form-control.active_menu{
		width:55%;
	}
	.child{
		.form-control.active_menu{
			width:50%;
		}
	}
}
.col-md-5.active_border{
	width:48%;
}
.more_menu{
	display: block;
	width:8%;
	height: 35px;
	background: url("../img/dots.png");
	background-repeat: no-repeat;
	background-position: 70% center;
	background-size: auto;
	float: left;
	padding-left: 8%;
	.delete_create_buttons {
		display: block;
	    height: 35px;
	    width:130px;
		&> div {
		    display: block;
		    float: left;
		    height: 100%;
			width:33%;
			font-size: 22px;
			padding-top:4px;
			text-align: center;
			color:#878A84;
			&:hover{
				color:#547CD0;
			}
		}
		.delete{
			background: url(../img/delete.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 19px auto;
		}
		.delete:hover{
			background: url(../img/delete_color.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 19px auto;
		}
		.create{
			background: url(../img/add.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 19px auto;
		}
		.create:hover{
			background: url(../img/add_color.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 19px auto;
		}
	}
}
.more_menu:hover{
	cursor: pointer;
}
.msg_container {
    bottom: 0;
    position: fixed;
    right: 0;
    width: 400px;
    z-index: 99999999;
    -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
    transition: 0.4s;
    max-height: 10000000px;
    li{

    	min-height: 85px;
    	position: relative;
    	-webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
    	transition: width 0.4s;
    	margin-bottom: 10px;
    	margin-right: 5px;
    	list-style: none;
    	padding-left: 85px;
    	-webkit-box-shadow: 6px 7px 10px 0px rgba(0, 0, 0, 0.47);
		-moz-box-shadow:    6px 7px 10px 0px rgba(0, 0, 0, 0.47);
		box-shadow:         6px 7px 10px 0px rgba(0, 0, 0, 0.47);
    	.progress {
		    bottom: 0;
		    height: 3px;
		    left: 0;
		    position: absolute;
		    width: 0%;
		    display: block;
		    background-color: rgba(0, 0, 0, 0.39);
		    margin: 0 !important;
		    margin-bottom: 0 !important;
		    padding:0 !important;
		    border: 1px solid rgba(0, 0, 0, 0.33);
		    -webkit-transition: width 0.1s; /* For Safari 3.1 to 6.0 */
    		transition: width 0.1s;
		}
    	h4{
    		// float: left; 
    		display: inline-block;
    		// width: 90%;
    	}
		p{
			padding-bottom: 10px;
		}
		.close{
			margin-right: 10px;
				color:white;
		}
		.close:hover{
		  	color:white;
		}
    	&.info{
		    border-color: #296ba0;
		    color: #fff;
		    background: url(../img/info.png);
    		background-color: rgba(46, 121, 180, 0.9);
			background-size:55px;
			background-position: 15px center;
			background-repeat: no-repeat;
			&:hover{
	    		background-color: rgb(46, 121, 180);
			}

    	}
    	&.error{
    		background: url(../img/error.png);
			background-size:55px;
			background-position: 15px center;
			background-repeat: no-repeat;
    		background-color: rgba(202, 33, 33, 0.9);
    		border-color: #b41d1d;
		    color: #fff;
		    &:hover{
    			background-color: rgb(202, 33, 33);
		    }
    	}
    	&.warning{
    		background: url(../img/warning.png);
			background-size:55px;
			background-position: 15px center;
			background-repeat: no-repeat;
 			background-color: rgba(197, 131, 0, 0.9);
    		border-color: #b97429;
		    color: #fff;
		    &:hover{
    			background-color: rgb(197, 131, 0);
		    }
    	}
    	&:hover{
			cursor:pointer;
    	}


    }
}
.loader{
	background:url(../img/loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	position: absolute;
	margin-left: -15px;
	width:100%;
	height:200px;
	z-index: 9999;
}
.animated.pulse{
	-webkit-animation-duration: 400ms;
	animation-duration: 400ms;
	-moz-animation-duration: 400ms;
}
.animated.nav{
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	-moz-animation-duration: 300ms;
}
.animated.div-table{
	-webkit-animation-duration: 300ms;
	animation-duration: 300ms;
	-moz-animation-duration: 300ms;
}
.animated.hover{
	-webkit-animation-duration: 200ms;
	animation-duration: 200ms;
	-moz-animation-duration: 200ms;
}
.echo {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 9px 0 #b8b8b8 inset;
    color: #000000;
    float: left;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 28px 20px;
    .col-md-6 {
	    height: 36px;
	    line-height: 36px;
	    vertical-align: middle;
	}
	.echo_block{
		border: 1px solid #ccc;
    	padding: 15px 0;
    	margin-top: 10px;
	}
}
.scroll_up {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border-radius: 40px;
    color: white;
    display: block;
    font-size: 23px;
    height: 40px;
    line-height: 42px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    top:auto;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    z-index: 99999999;
    cursor: pointer;
    font-weight: bold;
}
/* .scroll_up:target ~ body{
	-webkit-transform: translateY( 0px);
    transform: translateY( 0px );
} */
/* body{
	-webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    // -webkit-backface-visibility: hidden;
    // backface-visibility: hidden;
} */
.scroll_up:hover{
    background: rgba(0, 0, 0, 1) none repeat scroll 0 0;
}
table{
	&.subtable_1, &.subtable_2{
    	width: 100%;

		&, th, tr, td{
			border:1px solid #ddd;
		}
		tr{
			height:30px;
		}
	}

}
#selects_part{
	.header{
		width: 100%;
	}
	button{
		text-align: left;
		margin-bottom: 12px;
	}
	& > div{
		float: left;
	}
	.child{
		margin-left: 10%;
	}
}
.div-table{
	float: left;
    width: 100%;
    & > .hader_block > .thead{
		height: 29px;
    	display: none;
	    left: 74px;
	    position: static; /*fixed*/
	    right: 65px;
	    width: 100%;     /*auto%*/
	    z-index: 99999999;
	    top: 0px;
	    .cellhover{
 			background: #3b6b8c;
	    }
	    .close_allpatients,.open_allpatients{
	    	&:hover{
	    		cursor: pointer;
	    	}
	    }
    	&.hover{
    		display: block;
    	}
		& > .tr_row{
		}
		&.header1 {
			& > .tr_row{
				// top:0;
				// top:0px;/
				&.hover{
					background:$hoverBlue;
				}
			}
		}
		&.header2 {
			& > .tr_row{
				// top:29px;
				// top:0px;/		
				padding-left: 3%;	
				.th:first-child{
					border:none;
				}
			}
		}
		&.header3 {
			& > .tr_row{
				// top:58px;
				// top:0px;/
				padding-left:6%;
				.th{
					width: 11%;
				}
				.th:first-child{
					border:none;
				}
			}
		}
		&.header4 {
			& > .tr_row{
				// top:87px;
				// top:0px;/
				padding-left:9%;
				.th{
					width: 14%;
				}
				.th:first-child{
					border:none;
				}
			}
		}
	}
	.arrows{
		width: 100%;
		float: left;
		height: 25px;
		.arrows_block{
			display: table;
	    	margin: 0 auto;
			.btn{
				font-size: 15px;
				font-weight: bold;
				color: rgba(0, 0, 0, 0.60);
				&:hover{
					color: rgba(0, 0, 0, 0.8);
					font-size: 15px;
				}
			}

		}

	}
}
.div-table .thead {
	.td_cell{
	    // background: #666 none repeat scroll 0 0;
	    // border: 1px solid white;
	    // color: white;
	    font-size: 14px;
	    // font-weight: bold;
	    height: 30px;
	    line-height: 30px;
	    padding-left: 7px;
	    vertical-align: middle;
	}
	.tr_row{
		display: inline-block;
	    width: 100%;
	    background:#666;
	    color: white;
		.th {
 			border: 1px solid #ddd;
		    float: left;
		    height: 30px;
		    line-height: 30px;
		    padding-left: 7px;
		    width: 10%;
		    button{
		    	color: white;
		    }
		}
	}
} 
.tbody {
    border: 1px solid #ddd;
    float: left;
    width: 100%;
}
//.repeat1 .tbody .subblock .td_cell
.txt{
	overflow-y: auto;
}
.repeat0{
    border: 1px solid #ccc;
    float: left;
    width: 100%;
	position:relative;
	min-height:10px;
	.close_patient{
		position: absolute;
		left: -1px;
		top: -3px;
		font-size: 11px;
		&:hover{
			cursor: pointer;
		}
	}
	.open_patient{
	    font-size: 11px;
	    left: -3px;
	    position: absolute;
	    top: -6px;
		&:hover{
			cursor: pointer;
		}
	}
	& > .thead{
		height: 35px;
		& > .tr_row{
			height: 35px;
			background:rgba(254, 254, 254, 0.56);
			color: black;
			&.hover{
				background:$hoverBlue;
				color:white;
			}
			// &:hover{
			// 	background:rgba(176, 176, 176, 0.98);
			// }
			.th{
				height: 35px;
				.table_btn{
				    border: 1px solid #bab6b6;
				    color: black;
				    float: left;
				    height: 32px;
				    text-align: center;
				    width: 25%;

				    &:hover{
						background:#C2C2C2;
						text-decoration: none;
						color:white;
					}
				}
				a{
				    color: black;
				}
				&:first-child{
					padding-left:16px;
				}
			}
		}
	}
	.repeat1 {
		// box-shadow: 0px 0px 10px 5px rgba(55, 54, 54, 0.47) inset;
		  box-shadow: 0 0 10px 5px rgba(55, 54, 54, 0.20) inset;
	    float: left;
	    margin-left: 3%;
	    width: 97%;
	    // height: 30px;
	    // margin-bottom: 4px;
    	.thead {
    		.tr_row {
    			.th{
    				border:none;
    				border-right:1px solid #ddd;
    				height: 35px;
    				line-height: 35px;
    			}
    		}
    	}
		.th{
			// background:#ccc;
		}
		& > .thead{
			& > .tr_row{
				background:transparent;
				color: black;
				.th{
					background:rgba(159, 159, 159, 0.55);
					// &:first-child{
					// 	background:transparent;
					// }
				}
			}
		}
		.tbody{
			float: left;
    		width: 100%;
    		border:none;
		}
		.tr_row .td_row .td_cell {
		    float: left;
		    width: 10.3%;
		    border-right:1px solid #ddd;
			// background:#ddd;
			&:last-child{
				border-right:0;
			}
		    .th{
		    	float: left;
		    }
		}
		.colcell{
			width: 3%;
			float:left;
			text-align: center;
			height: 30px;
			line-height: 30px;

		}
		.tr_row .td_row .td_cell.table_btn{
		   	background: transparent none repeat scroll 0 0;
		    height: 30px;
		    line-height: 30px;
		    padding-left: 0;
		    width: 7%;
		}
		.subblock {
		    display: inline-block;
		    float: left;
		    width: 97%;
		    border:1px solid #aaa;
		    // &:hover > .td_row > .td_cell,&:hover > .td_row,&:hover{
		    // 	background:#eee;
		    // }
		    .td_cell{
		    	// overflow-y: auto;
		    }
		    .td_cell.table_btn > a {
			   // background: #ddd none repeat scroll 0 0;
			    // border: 1px solid #ccc;
			    float: left;
			    text-align: center;
			    width: 25%;
			    color: black;
			    height: 30px;
				&:hover{
					background:#C2C2C2;
					text-decoration: none;
	 			}

			}
		    .td_row{
		    	.tr_row{
		    		.td_cell.attribute_list{
		    			width:100%;
		    			table{
		    				background:white;
		    			}
		    		}
		    	}
		    }
		    .thead{
		    	// box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, 0.53);
			    display: block;
			    float: left;
			    width: 100%;
			    background:transparent;

		    }
		    &>.thead.td_row{
		    	// background:white;
		    	box-shadow:none;
		    }
		    &>.td_row{
		    	// box-shadow: inset 3px 7px 10px 1px black;
		    	  box-shadow: 0 0 10px 5px rgba(55, 54, 54, 0.25) inset;
		    	background: rgba(204, 204, 204, 0.38) none repeat scroll 0 0;
			    display: block;
			    float: left;
			    width: 100%;
		    }
		    .thead2{
		    	// background:#848484;
		    	background: rgba(132, 132, 132, 0.68) none repeat scroll 0 0;
		    	// background:white;
		    	color: white;
		    	display: block;
		    	float: left;
		    	width:100%;
	    // color: white;
	    // display: block;
	    // float: left;
	    // width: 100%;
		    	.th{
				    border-right: 1px solid #ddd;
				    float: left;
				    height: 30px;
				    line-height: 30px;
				    padding-left: 7px;
				    width: 11%;
					&:last-child{
						border-right:0;
					}
				    button{
				    	color:white;
				    }
		    	}
		    }
		    .thead3{
		    	.th{
					float: left;
					width:14%;
					height: 30px;
					line-height: 30px;
					background:rgba(186, 186, 186, 0.52);
					padding-left:7px;
					border-top: 2px solid rgba(0, 0, 0, 0.55);
					button{
						color: black;
					}
					&:first-child{
						 border-left: 2px solid rgba(0, 0, 0, 0.55);
					}
		    	}
		    }
			.repeat2{
				.td_cell{
					// overflow: hidden;
					&.colcell{
						width: 3%;
						height: 30px;
						line-height: 30px;
					}
				}
				& > .subblock{
					background: rgba(167, 167, 167, 0.5) none repeat scroll 0 0;
				}
				.subblock{
					.tr_row > .td_cell{
						// background: #848484 none repeat scroll 0 0;
					    // color: white;
					    font-weight: bold;
					    height: 30px;
					    line-height: 30px;
					    padding-left: 7px;
					    &.attribute_list{
					    	height: auto;
					    	color: black;
					    	font-weight: normal;
					    }
					}
					.tr_row{
						.td_cell{
							width:11.4%;
							&.table_btn{
								width:8%;
								padding-left:0;
							}
						}
						.td_cell.attribute_list{
							width: 100%;
						}

					}
					.repeat3{
						.td_cell{
						
							&.colcell{
								width: 3%;
								// border-left: 2px solid rgba(0, 0, 0, 0.55);
								height: 31px;
							}
						}
						.attribute_list{
							overflow-x: scroll;
						}
						.subblock{
							background:white;
							.td_cell.table_btn{
								&> a {
									width:12%;
									// &:last-child{
									// 	width: 28%;
									// 	span{
									// 		width:40%;
									// 		float: left;
									// 	}
									// 	select{
									// 		float: left;
									// 		width:60%;
									// 	}
									// }
								}
								.selecta{
								   	// background: #ddd none repeat scroll 0 0;
								    float: left;
								    width: 14%;
								    & > span{
								    	text-align: center;
	    								width: 100%;
	    								&:hover{
	    									cursor: pointer;
	    								}
								    }
								    .select_block {
									    background: white none repeat scroll 0 0;
									    height: 220px;
									    overflow-y: scroll;
									    position:relative;
									    width: 35px;
									    z-index: 999999999;
									    a{
										    color: black;
										    float: left;
										    height: 23px;
										    line-height: 23px;
										    text-align: center;
										    vertical-align: middle;
										    width: 100%;
										    &:hover{
										    	cursor: pointer;
										    	background:#ddd;
										    }
									    }
									}
								}
							}
							a.active{
								background:#999;
							}
							a.active:hover{
								background:#888;
							}
							.tr_row{
								.td_cell{
									// background:white;
									color: black;
									width:14.5%;
									height: 30px;
									&.attribute_list{
										width: 100%;
										height: auto;
									}
									&.table_btn{
										width:11.3%;
									}
								}

							}
						}
					}
				}
			}
		}

	}
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.34;
}
.clockpicker-span-am-pm{
	display:none;
}
.order_arrow{
    display: inline-block !important;
    text-align: center;
    width: 20px;
    &:first-child{
    	margin-left: 10px;
    }
    span{
    	color: rgba(255, 255, 255, 0.70);
    }
    span:hover{
    	color: rgba(255, 255, 255, 1);
    }

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style:italic; 
}
::-moz-placeholder { /* Firefox 19+ */
  font-style:italic; 
}
:-ms-input-placeholder { /* IE 10+ */
  font-style:italic; 
}
:-moz-placeholder { /* Firefox 18- */
  font-style:italic; 
}

.arrows{
	width: 100%;
	float: left;
	height:50px;
	.arrows_block{
		display: table;
    	margin: 0 auto;
		.btn{
			font-size: 30px;
			color: rgba(0, 0, 0, 0.60);
			&:hover{
				color: rgba(0, 0, 0, 0.80);
			}
		}

	}

}
.custom_button{
		background: white none repeat scroll 0 0;
	    border: 0 none;
	    border-radius: 5px;
	    box-shadow: 0 0 7px 0 #ccc inset;
	    height: 27px;
	    margin-left: 3px;
	   	&:hover{
	    	background:#EAEAEA;
	    }
}
.modality_selector {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: white none repeat scroll 0 0;
    display: block;
    height: auto;
    position: absolute;
    width: 380px;
    border: 1px solid #ccc;
    z-index: 9999;
    // margin-left: 69px;
    margin-top: 35px;
    box-sizing: border-box;
    padding: 30px 20px;
    .common {
    	margin-bottom: 15px;
    	margin-top: 10px;
	}
	div.more_block{
		margin-top: 15px;
		.form-group{
			margin-top: 20px;
	    	label{
    			width: 100%;
	    		margin-right:20%;
	    	}
	    	input{
	    		width: 222px;
	    	}
	    	button{
	    		width: 106px;
	    		margin-top: 5px;
	    	}
		}
	}
    a{
	    border: 1px solid #ccc;
	    box-shadow: 0 0 11px 0 #bebebe;
	    color: #585858;
	    display: inline-block;
	    margin: 3px;
	    padding: 2px 10px;
	    text-align: center;
	    width: 106px;
    }

    .clear{
	    // background: white none repeat scroll 0 0;
	    // border: 0 none;
	    // border-radius: 5px;
	    // box-shadow: 0 0 7px 0 #ccc inset;
	    // height: 27px;
	    margin-bottom: 15px;
	    // margin-left: 3px;
	    margin-right: 70%;
	    width: 106px;
	    // &:hover{
	    // 	background:#EAEAEA;
	    // }
    }
    a.close{
	   	background: transparent none repeat scroll 0 0;
	    border: medium none;
	    box-shadow: none;
	    font-size: 14px;
	    height: 20px;
	    padding: 0;
	    position: absolute;
	    right: 6px;
	    top: 6px;
	    width: 20px;
	    &:hover{
	    	background:none;
    		color: #404040;
    		text-decoration: none;
	    }
    }
    a.more{
    	box-shadow:none;
    	border:none;
    	i{
    		margin-left: 5px;
    	}
    	&:hover{
    		color: #585858;
			background:white;
			text-decoration: underline;
			font-weight: bold;
    	}
    }
    a:hover{
    	background:#ddd;
    	color: #404040;
    	text-decoration: none;
    }
}
.block-1-1, .block-1-2, .block-2-1, .block-2-2{
    border: 1px solid #ccc;
    margin-bottom: 18px;
    padding: 18px 15px 15px;
    margin-right: 15px;
    width: 32%;
    label,input{
    	margin-top: 5px;
    }
}
.block-2-1,.block-2-2{
	// height:121px;
}
.block-1-2{
	.block_seid{
		width: 49%;
		float: left;
		padding-left: 15px;
    	padding-right: 15px;
	}
	.minus{
	    float: left;
	    height: 60px;
	    line-height: 60px;
	    vertical-align: middle;
	    width: 1%;
	    &.dummy{
	    	text-indent: 10000px;
	    }
	}
}
.block-2-1 {
    padding-top: 22px;
}
.block-2-2{
	.block_seid{
		width: 49%;
		float: left;
		padding-left: 15px;
    	padding-right: 15px;
	}
	.minus{
	    float: left;
	    height: 60px;
	    line-height: 60px;
	    vertical-align: middle;
	    width: 1%;
	}
	.row:last-child{
		margin-left: 0;
    	margin-top: 4px;
    	&>div{
    		padding-left:0;
    	}
	}
}
.deleteRejctedI{
    // border-radius: 3px;
    // color: #999;
    float: left;
    height: 100%;
    line-height: 30px;
    margin-left: 7px;
    text-align: center;
    width: 25px;
    span{
    	color: #FF0000;
    	font-size: 16px;
    	&:hover{
    		color: #BA0000;
    	}
    }
    &:hover{
	  	color: #555;
	}
}
.clearform_button{
    color: #999;
    position: absolute;
    right: 26px;
    top: -23px;
    // float: left;
    // height: 23px;
    // line-height: 24px;
    // margin-left: 2px;
    // text-align: center;
    // width: 44px;
	&:active,&:visited{
		color: #999;
	}
    &:hover{
	  	color: #555;
	}
}
.user {
    background: #ffffff none repeat scroll 0 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 3px 3px 9px 4px rgba(0, 0, 0, 0.37);
    color: #7d7d7d;
    display: block;
    font-weight: bold;
    position: fixed;
    right: 200px;
    top: 0;
    z-index: 9999;
    span{
	    display: inline-block;
	    // height: 32px;
	    padding: 6px 32px;
	    width: 200px;
	    &:hover{
	    	cursor: pointer;
	    	color: #4D4D4D;
	    }
    }
    .username{
    	border-right:1px solid #ccc;
    }
    i.config{
	    position: absolute;
	    right: 10px;
	    top: 9px;
    }
    ul{
    	list-style: outside none none;
    	padding: 0;
    	margin-bottom: 6px;
    	li{
		   	border-top: 1px solid #ccc;
		    padding: 6px 32px;
		    a{
		    	color: #7d7d7d;
    			display: block;
    			&:hover{
    				color: #4D4D4D;
    				cursor: pointer;
    			}
		    }
    	}
    }
}
#kc-container-wrapper {
    background: black none repeat scroll 0 0;
    color: white;
    display: block;
    height: 400px;
    left: 50%;
    margin-left: -250px;
    padding: 20px;
    position: fixed;
    top: 120px;
    width: 608px;
    z-index: 99999;
}

.vex-dialog-input{
	float: left;
    width: 100%;
}
.execute{
	float:left;
	height:100%;
}
.vex.vex-theme-os.deleterejectedinstances{
	.vex-content{
		width: 530px;
		.vex-dialog-form{
			padding: 10px 5px;
			.vex-dialog-message{
				font-size: 23px;
			    margin-bottom: 35px;
			}
			.vex-dialog-input{
				.form-group{
					label{
						// font-weight: normal;
					}
				}
			}
		}
	}
}
.filter{
	&.hidden_filters{
		width: 81%;
	}
	.col-md-3{
		input{
			padding-left:7px;
			padding-right:0;
		}
		.row{
			height:35px;
		}
		.datetime{
			height: 70px;
			& > .block_seid{
				& > .col-md-12{
					padding-left:0;
					padding-right:0;
				}
			}
		}
	}
	.buttons_block {
	   	border: 1px solid #ccc;
	    display: block;
	    float: left;
	    padding: 11px 17px 16px;
	    width: 197px;
	    .btn {
		    margin-top: 3px;
		    width: 161px;
		}
		button{
		    background-color:$hoverBlue;
		}
	}
	.main_filter_block{
		float: left;
	    position: relative;
	    width: 80%;
	}
}
.input{
	position:relative;
	span{
		color: #919191;
		position:absolute;
		right: 7px;
    	top: 12px;
		&:hover{
			cursor: pointer;
		}
	}
}
.tooltip_container{
	// position:relative;
	position: absolute;
    z-index: 999999999;
	.dir-tooltip{
	   	background: rgba(0, 0, 0, 0.71) none repeat scroll 0 0;
	    border-radius: 5px;
	    box-sizing: border-box;
	    color: white;
	    display: block;
	    float: left;
	    padding: 2px 10px;
	    // position: absolute;
	    // top: -77px;
	    top: 0;
	    box-shadow: 3px 3px 8px 2px rgba(0, 0, 0, 0.41);
	}
}
// .text_value{
// 	height: 100%;
//     overflow: scroll;
//     position: absolute;
//     width: 100%;
// }
div[tooltip]{
	position:relative;
	// overflow:visible;
}
.vex.vex-theme-os.edit-patient{
	.vex-content {
	    width: 90%;
	    padding:30px;
	    .vex-dialog-input{
	    	table{
	    		tr{
	    			&:hover{
	    				background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    					color: black;
	    			}
					td{
						input,textarea{
							float: left;
							width: 97%;
						}
						span{
							float: right;
						    height: 33px;
						    line-height: 33px;
						    text-align: center;
						    width: 3%;
						    display: none;
						    &:hover{
						    	cursor: pointer;
						    }
						}
					}
					td.first_td{
						padding-left:5%;
					}
					td:hover span{
						color:#7e7b7b;
						display: inline-block;
					}
	    		}
	    	}
		}
	}
}
.editform fieldset.schema-form-fieldset {
	border: 1px solid #ccc;
    margin: 10px 0 10px 38px;
    padding: 10px;

	&> legend{
		border: 0 none;
	    margin-bottom: 4px;
	    width: auto;
	    padding: 0 14px;
		.glyphicon{
			padding-left:10px;
		}
		&:hover{
			cursor: pointer;
		}
	}
	sf-decorator{
		label.control-label{
			display: none;
		}
	}
}
.vex.vex-theme-os.edit-patient{
	.vex-dialog-form{
		.vex-dialog-message{
			font-size: 20px;
		    font-weight: bold;
		    margin-bottom: 30px;
		}
		.addPatientAttribut{
			margin-bottom: 20px;
		}
		.dropdown{
			max-height: 300px;
			overflow-y:scroll;
			width: 34%;
			box-shadow: 4px 6px 16px 5px #ccc;
			z-index: 99999;
			position:absolute;
			background:white;
			margin-top: -20px;
			.dropdown_element{
				padding-left:7px;
				display: inline-block;
	    		width: 100%;
				color:black;
				&.selected{
					background:rgba(3, 0, 255, 0.5);
				}
				&:hover{
					background:#ccc;
					cursor: pointer;
					text-decoration: none;
				}
			}
		}
		.item1,.item1first {
	    	min-height: 35px;
		    line-height: 35px;
		    vertical-align: middle;
		}
		.item1,.item1input,{
		    margin-left: 20px;
		}
		.item2input{
			margin-left: 20px;
		}
		.item1input:nth-of-type(1){
			margin-top: 35px;
		}
		.item2input:nth-of-type(1){
			float: left;
		    margin-left: 2%;
		    padding-top: 35px;
		    width: 98%;
		}
		select{
			height: 29px;
    		margin: 2px 0;
		}
	}
}
.vex.vex-theme-os.info-dialog{
	.vex-content{
		width:580px;
		color: black;
		.vex-dialog-message{
			display: none;
		}
		.head{
			text-align: center;
			font-weight: bold;
			h1,h3,h4{
				color: black;
				font-weight: bold;
				margin: 0;
			}
		}
		.info-block{
			border:1px solid black;
			float: left;
			width: 100%;
			.content{
				background: url(../img/factoryblack.png);
				background-repeat:no-repeat;
				background-position:20px 5px;
				padding-left:120px;
				margin-top: 42px;
				height: 105px;
    			p{
				    line-height: 20px;
    				font-size: 18px;
    			}
			}
			.pre_footer{
				background: url(../img/factorywhite.png);
				background-repeat:no-repeat;
				padding-left:120px;
				background-position:170px top;
				height: 25px;
				span{
					font-weight: bold;
					color: black;
				    height: 25px;
				    line-height: 40px;
				    vertical-align: bottom;
				    font-size: 17px;
				}
			}
			.footer{
				height: 60px;
			    margin-bottom: 30px;
			    margin-top: 20px;
				.footer_left{
					background: url(../img/book.png);
					background-repeat:no-repeat;
					height: 61px;
					background-position:60px center;
				}
				.footer_right{
					background: url(../img/ce.png);
					background-repeat:no-repeat;
					height: 61px;
					background-position:32px center;
					span{
						color: black;
						display: inline-block;
					    height: 60px;
					    line-height: 108px;
					    padding-left: 105px;
					    vertical-align: bottom;
					    font-weight: bold;
					    font-size: 17px;
					}
				}
			}
		}
	}
}
.hover, .hover .td_cell, .hover .td_cell a, .hover .tr_row, .hover .th .table_btn{
	background:$hoverBlue !important;
	color:white !important; 
	display:block;
	// display: table;
 //    width: 100%;
}
.hover.gray .thead, .hover.gray .tr_row{
	background:#666 !important;
}

.hover_cell:hover{
	background: #3b6b8c !important;
}