.filter{
  &.filter_loader{
    position: relative;
    text-align: center;
    min-width: 100%;
    float: left;
    //line-height: 90px;
    .filter_block{
      border:none;
      width: 100%;
    }
    mat-progress-spinner{
      position: absolute;
      top: 50%;
      margin-top: -20px;
      font-size: 30px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .filter_block{
    .dynamic-attributes{
      width: 100%;
    }
    .add_block{
      width: 100%;
      display: inline-grid;
      grid-template-columns: calc( 50% - 10px) calc( 50% - 15px) 24px;
      dcm-drop-down{
        //width:calc( 100% - 24px);
        float: left;
        .dropdown_input{
          line-height: 26px;
          height: 26px;
        }
      }
      input{
        margin-left: 15px;
        border: none;
        border-bottom: 1px solid #ccc;
      }
      i.material-icons{
        float: right;
        background: rgb(6 29 47 / 84%);
        color: white;
        cursor: pointer;
        width:24px;
      }
    }
    ul.modified_list{
      list-style: none;
      padding:0;
      li{
        width: 100%;
        display: inline-grid;
        grid-template-columns: calc( 50% - 10px) calc( 50% - 15px) 24px;
        & > label.value{
          margin-left: 15px;
          border-bottom:1px solid #ccc;
          padding-bottom: 4px;
        }
        & > .label{
          text-align: right;
        }
        i.material-icons{
          float: right;
          background: rgb(6 29 47 / 84%);
          color: white;
          cursor: pointer;
          width:24px;
          height: 25px;
        }
      }
    }
  }
}
.filter_template_function{
  .clearform_button{
    background: transparent;
    ul.buttons,ul.templates{
      list-style: none;
      padding: 0;
      float: left;
      width: 100%;
      margin: 0;
      li{
        color: rgba(0, 0, 0, 0.61);
        background: rgba(255, 255, 255, 0.64);
        padding: 0 5px;
        border:1px solid #cccccc;
      }
    }
    ul.buttons{
      li{
        float: left;
      }
    }
  }
  &:hover .template_list{
    display: block;
  }
  .template_list{
    position: absolute;
    right: 66px;
    top: 6px;
    max-width: 350px;
    max-height: 215px;
    overflow: auto;
    padding: 20px 15px;
    //display: none;
    background:rgba(255, 255, 255, 0.85);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28);
    ul.templates{
      margin: 0;
      //background: white;
      background: rgba(255, 255, 255, 0.85);
      color: rgba(0, 0, 0, 0.61);
      min-width: 250px;
      padding: 0;
      list-style: none;
      position: relative;
      z-index: 9999;
      float: left;
      li{
        //padding: 0 10px;
        float: left;
        width: 100%;
        border-bottom: 1px solid #cccccc;
        &:hover{
          color: #000;
          background: rgba(255, 255, 255, 0.95);
          cursor: pointer;
        }
        a{
          float: left;
          width: 85%;
          padding-left: 10px;
          text-decoration: none;
        }
        .glyphicon-remove{
          float: right;
          line-height: 20px;
          width: calc(15% - 17px);
          display: inline-block;
          text-align: center;
        }

      }
      &.not_found{
        padding: 2px 7px;
        width: 100%;
      }
    }
  }
  mat-radio-group{
    min-height: 60px;
  }
}

