<div class="patient_name_picker" [ngClass]="{'open':dialogOpen}">
    <div class="input_field">
        <div class="input_block">
            <input type="text" [(ngModel)]="internModel" placeholder="{{placeholder}}" title="{{title}}" (ngModelChange)="onInternModelChange($event)">
            <span class="glyphicon glyphicon-remove" *ngIf="internModel" (click)="clear()"></span>
        </div>
        <span class="glyphicon glyphicon-pencil" (click)="toggleDialog()"></span>
    </div>
    <div class="overlay" *ngIf="dialogOpen" (click)="dialogOpen = false"></div>
    <div class="dialog" [hidden]="!dialogOpen">
        <div class="dialog_block">
            <h5>Person Name Components:</h5>
            <div class="dicom_components" (keyup)="onComponentChange()">
                <input type="text" [(ngModel)]="familyName" placeholder="Family Name" title="Family Name">
                <span>^</span>
                <input type="text" [(ngModel)]="givenName" placeholder="Given Name" title="Given Name">
                <span>^</span>
                <input type="text" [(ngModel)]="middleName" placeholder="Middle Name" title="Middle Name">
                <span>^</span>
                <input type="text" [(ngModel)]="namePrefix" placeholder="Prefix" title="Name Prefix">
                <span>^</span>
                <input type="text" [(ngModel)]="nameSuffix" placeholder="Suffix" title="Name Suffix">
            </div>
        </div>
        <div class="dialog_block"  *ngIf=" namePrefix || givenName || middleName || familyName || nameSuffix">
            <h5>DICOM version ( Will be used as filter ):</h5>
            <div>
                {{asFilterModel}}
            </div>

        </div>
    </div>
</div>