.patient_name_picker{
  position: relative;
  color: black;
  .input_field{
    display: grid;
    grid-template-columns: auto 26px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    input{
      width: 100%;
      border:none;
      background: transparent;
    }
    span.glyphicon{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #161d23;
      color: white;
      &:hover{
        cursor: pointer;
      }
    }
    .input_block{
      position: relative;
      span.glyphicon-remove{
        display: none;
        position: absolute;
        right: 3px;
        top: 7px;
        background: transparent;
        color: black;
        &:hover{
          cursor: pointer;
        }
      }
    }
    &:hover .input_block span.glyphicon-remove{
      display: block;
    }
  }
  .dialog{
    position: absolute;
    background: white;
    padding: 20px;
    -webkit-box-shadow: 3px 4px 8px #cccccc;
    -moz-box-shadow:  3px 4px 8px #cccccc;
    box-shadow:  3px 4px 8px #cccccc;
    z-index: 1001;
    .dialog_block{
      margin-bottom: 10px;
      float: left;
      padding-bottom: 10px;
      width: 100%;
      .table{
        min-width: 600px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        display: grid;
        .tr{
          display: grid;
          grid-template-columns: 100px 1fr 1fr 1fr 70px 70px;
          &.active{
            .td,.th{
              color:black;
              border: 1px solid #000000c4;
              box-shadow: 0px 0px 6px 0px #000000c4;
              input{
                width: 100%;
                min-width: 50px;
                color: black;
                &::placeholder{
                  color: #666666;
                }
              }
            }
          }
          .td,.th{
            color:#3333338f;
            input{
              width: 100%;
              height: 100%;
              min-width: 50px;
              color: #3333338f;
              &::placeholder{
                color: #3333338f;
              }
            }
            span{
              padding: 3px 7px;
              height: 30px;
              line-height: 30px;
            }
          }
          .th{
            color: black;
          }
        }
      }
    }
    h5{
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }
    input{
      color:black;
    }
  }
  .dicom_components{
    display: grid;
    grid-template-columns: 90px 10px 90px 10px 90px 10px 60px 10px 60px;
    float: left;
    span{
      display: flex;
      justify-content: center;
    }
  }
  &.open{
    .input_field{
      input{
        z-index: 1002;
        position: relative;
        background: white;
        color: black;
      }
      &:hover .input_block span.glyphicon-remove{
        display: block;
        z-index: 10004;
      }
    }
  }
}