.patient_name_picker{
  position: relative;
  .input_field{
    display: grid;
    grid-template-columns: auto 26px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    input{
      width: 100%;
      border:none;
      background: transparent;
    }
    span.glyphicon{
      display: flex;
      justify-content: center;
      align-items: center;
      background: #161d23;
      color: white;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .dialog{
    position: absolute;
    background: white;
    padding: 20px;
    -webkit-box-shadow: 3px 4px 8px 6px #cccccc;
    -moz-box-shadow:  3px 4px 8px 6px #cccccc;
    box-shadow:  3px 4px 8px 6px #cccccc;
    z-index: 1001;
    .dialog_block{
      margin-bottom: 10px;
      float: left;
      padding-bottom: 10px;
      width: 100%;
    }
    h5{
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
    }
  }
  .dicom_components{
    display: grid;
    grid-template-columns: 90px 10px 90px 10px 90px 10px 60px 10px 60px;
    float: left;
    span{
      display: flex;
      justify-content: center;
    }
  }
  &.open{
    .input_field{
      input{
        z-index: 1001;
      }
    }
  }
}