<div class="main_content monitoring">
    <div class="row filter">
        <div class="main_filter_block">
            <div class="col-md-3 block-1-1">
                <div class="row">
                    <label for="exporterID" class="col-md-6 text-right control-label">Exporter PK:</label>
                    <div class="col-md-6">
                        <input id="exporterID" type="number" [(ngModel)]="pk" class="col-md-12"/>
                    </div>
                </div>
                <div class="row">
                    <label for="status" class="col-md-6 text-right control-label">Status:</label>
                    <div class="col-md-6">
                        <select id="status" [(ngModel)]="status" class="col-md-12">
                            <option>TO SCHEDULE</option>
                            <option>SCHEDULED</option>
                            <option>IN PROCESS</option>
                            <option>COMPLETED</option>
                            <option>WARNING</option>
                            <option>FAILED</option>
                            <option>CANCELED</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <label for="limit" class="col-md-6 text-right control-label">Page Size:</label>
                    <div class="col-md-6">
                        <input id="limit" type="number" min="1" [(ngModel)]="limit" class="col-md-12" />
                    </div>
                </div>
            </div>
            <div class="col-md-3 block-2-1">
                <div class="row">
                    <label class="col-md-6 text-right control-label">Updated before:</label>
                    <div class="col-md-6">
                        <p-calendar  dataType="string" [(ngModel)]="updatedBefore" dateFormat="yy-mm-dd" monthNavigator="true" yearNavigator="true" yearRange="1800:2100" placeholder="Updated before"></p-calendar>
                    </div>
                </div>
                <div class="row">
                    <label for="dicomDeviceName" class="col-md-6 text-right control-label">Device name:</label>
                    <div class="col-md-6">
                        <input id="dicomDeviceName" type="text" min="1" [(ngModel)]="dicomDeviceName" class="col-md-12" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-default submit col-md-12" (click)="search(0)" title="Refresh">
                            <span class="glyphicon glyphicon-refresh"></span>
                            SUBMIT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-condensed">
        <thead>
        <tr>
            <th colspan="2">
                <button class="btn btn-link btn-xs"
                        [disabled]="!hasNewer(matches)"
                        (click)="search(newerOffset(matches))"
                        title="Newer">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </button>
                <button class="btn btn-link btn-xs"
                        [disabled]="!hasOlder(matches)"
                        (click)="search(olderOffset(matches))"
                        title="Older">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
            </th>
            <th>Modality</th>
            <th title="Number of instances">Nr.Inst.</th>
            <th title="Export Task ID">Id</th>
            <th>Status</th>
            <th>Failures</th>
            <th title="Scheduled time">Scheduled</th>
            <th title="Processing start time">Started</th>
            <th title="Processing end time">Finished</th>
            <th>Study UID</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let match of matches">
            <tr>
                <td [attr.rowspan]="(match.showProperties ? 2 : 1)" [innerHtml]="match.offset+1+'.'"></td>
                <td>
                    <a (click)="$event.preventDefault();match.showProperties = !match.showProperties" href="" title="Show Properties">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
<!--                    <a *ngIf="isRole('admin')" (click)="$event.preventDefault();cancel(match)" href="" title="Cancel">
                        <span class="glyphicon glyphicon-ban-circle"></span>
                    </a>
                    <a *ngIf="isRole('admin')" (click)="$event.preventDefault();reschedule(match)" href="" title="Reschedule">
                        <span class="glyphicon glyphicon-repeat"></span>
                    </a>
                    <a *ngIf="isRole('admin')" (click)="$event.preventDefault();delete(match)" href="" title="Delete">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>-->
                </td>
                <td [innerHtml]="match.properties.modality"></td>
                <td [innerHtml]="match.properties.numberOfInstances" ></td>
                <td [innerHtml]="match.properties.id"></td>
                <td [innerHtml]="match.properties.status" title="{{match.properties.outcomeMessage}}"></td>
                <td [innerHtml]="match.properties.failures" title="{{match.properties.errorMessage}}"></td>
                <td [innerHtml]="match.properties.scheduledTime| date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td [innerHtml]="match.properties.processingStartTime| date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td [innerHtml]="match.properties.processingEndTime| date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td [innerHtml]="match.properties.studyUID"></td>
            </tr>
            <tr *ngIf="match.showProperties">
                <td colspan="10">
                    <table class="table table-bordered table-condensed attribute_list">
                        <tr *ngFor="let key of match.properties | getKey">
                            <th [innerHtml]="key._KEY"></th>
                            <td [innerHtml]="key._VALUE"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr [hidden]="true"></tr>
        </ng-container>
        </tbody>
    </table>
</div>