<div class="patient_name_picker" [ngClass]="{'open':selectorOpen}">
    <div class="input_field">
        <div class="input_block">
            <input class="model_input" type="text" [(ngModel)]="model" placeholder="{{placeholder}}" title="{{title}}" (ngModelChange)="filterChanged()">
            <span class="glyphicon glyphicon-remove" *ngIf="model" (click)="hardClear()"></span>
        </div>
        <i class="material-icons filter_button" (click)="togglePicker()">
            subdirectory_arrow_right
        </i>
    </div>
    <div class="overlay" *ngIf="selectorOpen" (click)="selectorOpen = false"></div>
    <div class="dialog" [hidden]="!selectorOpen">
        <div class="dialog_block">
            <ng-container *ngIf="selectorOpen">
                <div class="content_block">
                    <h5 class="title" *ngIf="title">{{title}}</h5>
                    <ng-container *ngIf="issuers && issuers.length <= viewLimit">
                        <div class="table widget_table">
                            <div class="tr">
                                <div class="th" *ngFor="let issuer of issuers">{{issuer.label}}</div>
                            </div>
                            <div class="tr">
                                <div class="td" *ngFor="let issuer of issuers;trackBy: trackById">
                                    <input type="text" class="issuer_model" [placeholder]="issuer.label" [(ngModel)]="filterModel[issuer.key]" (ngModelChange)="set()">
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="issuers && issuers.length > viewLimit">
                        <div class="issuers" *ngFor="let issuer of issuers">
                            <div class="issuer" title="{{issuer.key}}">
                                <label class="issuer_label">{{issuer.label}}</label>
                                <input type="text" class="issuer_model" [(ngModel)]="filterModel[issuer.key]" (ngModelChange)="set()">
                            </div>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>
