<div class="main_content queues monitoring">
  <monitoring-tabs></monitoring-tabs>
  <div class="tab-content">
    <filter-generator [schema]="filterSchema" [model]="filterObject" (submit)="onSubmit(0)"></filter-generator>
    <table class="table table-bordered table-condensed" *ngIf="_.size(externalRetrieveEntries) > 0">
      <thead>
      <tr>
        <th>
          <div class="arrow_block">
            <button class="btn btn-link btn-xs"
                    [disabled]="!hasNewer(externalRetrieveEntries)"
                    (click)="onSubmit(newerOffset(externalRetrieveEntries))"
                    title="Newer">
              <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <button class="btn btn-link btn-xs"
                    [disabled]="!hasOlder(externalRetrieveEntries)"
                    (click)="onSubmit(olderOffset(externalRetrieveEntries))"
                    title="Older">
              <span class="glyphicon glyphicon-menu-right"></span>
            </button>
          </div>
        </th>
          <th>
          <div class="action_block">
            <input type="checkbox" (change)="checkAll($event)">
            <a *ngIf="isRole('admin')" class="text-white" (click)="$event.preventDefault();executeAll('cancel')" href="" title="Cancel selected">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </a>
            <a *ngIf="isRole('admin')" class="text-white" (click)="$event.preventDefault();executeAll('reschedule')" href="" title="Reschedule selected">
              <span class="glyphicon glyphicon-repeat"></span>
            </a>
            <a *ngIf="isRole('admin')" class="text-white" (click)="$event.preventDefault();executeAll('delete')" href="" title="Delete selected">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
          </div>
        </th>
        <th>Status</th>
        <th class="hideOn1000px">Study Instance UID</th>
        <th class="hideOn1200px">Remote AET</th>
        <th class="hideOn1100px">Destination AET</th>
        <th class="hideMobile hideOn800px">Scheduled</th>
        <th class="hideMobile hideOn1400px">Started</th>
        <th class="hideMobile">Finished</th>
        <th class="hideMobile hideOn1200px" title="Number of Instances">Nr. of Inst.</th>
        <th class="hideMobile hideOn1200px">Instance / sec</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let match of externalRetrieveEntries">
        <tr>
          <td [attr.rowspan]="(match.showProperties ? 2 : 1)" [innerHtml]="match.offset+1+'.'"></td>
          <td>
              <input type="checkbox" [(ngModel)]="match.checked">
              <a (click)="$event.preventDefault();match.showProperties = !match.showProperties" href="" title="Show Properties">
              <span class="glyphicon glyphicon-list"></span>
            </a>
            <a *ngIf="isRole('admin')" (click)="$event.preventDefault();cancel(match)" href="" title="Cancel">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </a>
            <a *ngIf="isRole('admin')" (click)="$event.preventDefault();reschedule(match)" href="" title="Reschedule">
              <span class="glyphicon glyphicon-repeat"></span>
            </a>
            <a *ngIf="isRole('admin')" (click)="$event.preventDefault();delete(match)" href="" title="Delete">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
          </td>
          <td [innerHtml]="match.properties.status" title="{{match.properties.outcomeMessage}}"></td>
          <td [innerHtml]="match.properties.StudyInstanceUID" class="hideOn1000px"></td>
          <td [innerHtml]="match.properties.RemoteAET" class="hideOn1200px"></td>
          <td [innerHtml]="match.properties.DestinationAET" class="hideOn1100px"></td>
          <td class="hideMobile hideOn800px" [innerHtml]="match.properties.scheduledTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
          <td class="hideMobile hideOn1400px" [innerHtml]="match.properties.processingStartTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
          <td class="hideMobile" [innerHtml]="match.properties.processingEndTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
          <td [innerHtml]="match.properties.NumberOfInstances" class="hideOn1200px"></td>
          <td [innerHtml]="match.properties.InstancePerSec" class="hideOn1200px"></td>
        </tr>
        <tr *ngIf="match.showProperties">
          <td colspan="9">
            <table class="table table-bordered table-condensed attribute_list">
              <tr *ngFor="let key of match.properties | getKey">
                <th [innerHtml]="key._KEY"></th>
                <td *ngIf="key._KEY === 'createdTime' || key._KEY === 'updatedTime' || key._KEY === 'scheduledTime' || key._KEY === 'processingStartTime' || key._KEY === 'processingEndTime';else nodate_content" [innerHtml]="key._VALUE | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <ng-template #nodate_content>
                  <td [innerHtml]="key._VALUE"></td>
                </ng-template>
              </tr>
            </table>
          </td>
        </tr>
        <tr [hidden]="true"></tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>