<div class="main_content queues monitoring">
  <monitoring-tabs></monitoring-tabs>
  <div class="tab-content">
    <filter-generator [schema]="filterSchema" [model]="filterObject" (submit)="onSubmit(0)"></filter-generator>
    <table class="table table-bordered table-condensed" *ngIf="_.size(externalRetrieveEntries) > 0">
      <thead>
      <tr>
        <th colspan="2">
          <button class="btn btn-link btn-xs"
                  [disabled]="!hasNewer(externalRetrieveEntries)"
                  (click)="onSubmit(newerOffset(externalRetrieveEntries))"
                  title="Newer">
            <span class="glyphicon glyphicon-menu-left"></span>
          </button>
          <button class="btn btn-link btn-xs"
                  [disabled]="!hasOlder(externalRetrieveEntries)"
                  (click)="onSubmit(olderOffset(externalRetrieveEntries))"
                  title="Older">
            <span class="glyphicon glyphicon-menu-right"></span>
          </button>
        </th>
        <th>Status</th>
        <th>Failures</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Scheduled</th>
        <th>Started</th>
        <th>Finished</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let match of externalRetrieveEntries">
        <tr>
          <td [attr.rowspan]="(match.showProperties ? 2 : 1)" [innerHtml]="match.offset+1+'.'"></td>
          <td>
            <a (click)="$event.preventDefault();match.showProperties = !match.showProperties" href="" title="Show Properties">
              <span class="glyphicon glyphicon-list"></span>
            </a>
            <a *ngIf="isRole('admin')" (click)="$event.preventDefault();cancel(match)" href="" title="Cancel">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </a>
            <a *ngIf="isRole('admin')" (click)="$event.preventDefault();reschedule(match)" href="" title="Reschedule">
              <span class="glyphicon glyphicon-repeat"></span>
            </a>
            <a *ngIf="isRole('admin')" (click)="$event.preventDefault();delete(match)" href="" title="Delete">
              <span class="glyphicon glyphicon-remove-circle"></span>
            </a>
          </td>
          <td [innerHtml]="match.properties.status" title="{{match.properties.outcomeMessage}}"></td>
          <td [innerHtml]="match.properties.failures" title="{{match.properties.errorMessage}}"></td>
          <td [innerHtml]="match.properties.createdTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
          <td [innerHtml]="match.properties.updatedTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
          <td [innerHtml]="match.properties.scheduledTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
          <td [innerHtml]="match.properties.processingStartTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
          <td [innerHtml]="match.properties.processingEndTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
        </tr>
        <tr *ngIf="match.showProperties">
          <td colspan="9">
            <table class="table table-bordered table-condensed attribute_list">
              <tr *ngFor="let key of match.properties | getKey">
                <th [innerHtml]="key._KEY"></th>
                <td *ngIf="key._KEY === 'createdTime' || key._KEY === 'updatedTime' || key._KEY === 'scheduledTime' || key._KEY === 'processingStartTime' || key._KEY === 'processingEndTime';else nodate_content" [innerHtml]="key._VALUE | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <ng-template #nodate_content>
                  <td [innerHtml]="key._VALUE"></td>
                </ng-template>
              </tr>
            </table>
          </td>
        </tr>
        <tr [hidden]="true"></tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>