.main_input_block{
  position: relative;
  .main_input{
    width: 100%;
    height: 100%;
  }
  .material-icons{
    background: rgba(28, 36, 43, 0.92);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    &:hover{
      cursor: pointer;
    }
  }
}