<div class="vex vex-theme-os copymove" xmlns="http://www.w3.org/1999/html">
    <div class="vex-dialog-form">
        <h5>{{ title }}</h5>
        <div class="row" *ngIf="clipboard.action === 'move'">
            <div class="col-md-3">Select rejected type:</div>
            <div class="col-md-3">
                <select id="reject" [(ngModel)]="reject" name="reject" class="col-md-9">
                    <option *ngFor="let rjn of rjnotes" title="{{rjn.codeMeaning}}" value="{{rjn.codeValue}}^{{rjn.codingSchemeDesignator}}">{{rjn.label}}</option>
                </select>
            </div>
        </div>

        <div class="targetobject" *ngIf="target.modus === 'mwl'">
            <h5>Selected target MWL</h5>
            <span *ngIf="target && target.attrs && target.attrs['00100010'] && target.attrs['00100010'].Value && target.attrs['00100010'].Value[0].Alphabetic;else noname">Patient Name:<b>{{target.attrs['00100010'].Value[0].Alphabetic}}</b></span><br>
            <ng-template #noname>Patient ID: <b>{{target.attrs['00100020'].Value[0]}}</b></ng-template>
            <span *ngIf="target && target.attrs && target.attrs['00400100'] && target.attrs['00400100'].Value && target.attrs['00400100'].Value[0] && target.attrs['00400100'].Value[0]['00400001'] && target.attrs['00400100'].Value[0]['00400001'].Value && target.attrs['00400100'].Value[0]['00400001'].Value[0]">Scheduled Station AE Title: {{target.attrs['00400100'].Value[0]['00400001'].Value[0]}}</span>
            <br>
        </div>
        <div class="targetobject" *ngIf="target.modus === 'patient'">
            <h5>Selected target patient</h5>
            <span *ngIf="target && target.attrs && target.attrs['00100010'] && target.attrs['00100010'].Value && target.attrs['00100010'].Value[0].Alphabetic;else noname"><b>{{target.attrs['00100010'].Value[0].Alphabetic}}</b> with the Patient ID <b>{{target.attrs['00100020'].Value[0]}}</b></span><br>
            <ng-template #noname>Patient ID <b>{{target.attrs['00100020'].Value[0]}}</b></ng-template>
            <div *ngIf="clipboard.action != 'merge'">
                (An empty study will be automatically created, so it can be used as target study!)
            </div>
        </div>
        <div class="targetobject" *ngIf="target.modus === 'study' || target.modus === 'series' || target.modus === 'instance'">
            <h5>Selected target study</h5>
            Study instance UID: <b>{{target.attrs['0020000D'].Value[0]}}</b> from the patient  <b>{{target.attrs['00100010'].Value[0].Alphabetic}}</b> with the Patient ID <b>{{target.attrs['00100020'].Value[0]}}</b><br>
        </div>
        <hr>
        <h5>Selected objects to {{clipboard.action}}</h5>
        <!-- <a class="clear_clipboard" title="Clear clipboard" href="" (click)="clearClipboard()">
            Clear <span class="glyphicon glyphicon-remove"></span>
        </a> -->
        <div id="clipboard" class="clipboard">
            <div class="content" id="clipboard_content">
                <div class="header">
                    <div *ngIf="clipboard.action === 'merge' || clipboard.hasPatient === true">
                        Patient ID
                    </div>
                    <div class="study_block" [ngClass]="{'haspatient':clipboard.hasPatient === true}" *ngIf="clipboard.action != 'merge'">Study Instance UID
                        <div *ngIf="showClipboardHeaders.series || showClipboardHeaders.instance">Series Instance UID
                            <div *ngIf="showClipboardHeaders.instance">
                                <span class="sopclass">Referenced SOP Class UID</span>
                                <span class="sopinstance">Referenced SOP Instance UID</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div mat-dialog-content>
                <div class="body">
                    <ng-container *ngIf="clipboard.action === 'merge'">
                        <div class="block" *ngFor="let value of clipboard.patients">
                            {{ value.PatientID }}
                            <i (click)='removeClipboardElement("patient",{"patientkey":value})' class="remove glyphicon glyphicon-remove"></i>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="clipboard.action != 'merge'">
                        <div class="block" *ngFor="let value of getKeys(clipboard.otherObjects)">
                            <div *ngIf="!clipboard.otherObjects[value].StudyInstanceUID" class="patient_block block_part">
                                {{value}}
                                <i (click)='removeClipboardElement("patient",{"patientkey":value})' class="remove glyphicon glyphicon-remove"></i>
                            </div>
                            <div *ngIf="clipboard.otherObjects[value].StudyInstanceUID" class="study_block block_part" [ngClass]="{'haspatient':clipboard.hasPatient === true}">
                                {{clipboard.otherObjects[value].StudyInstanceUID}}
                                <i (click)='removeClipboardElement("study",{"studykey":value})' class="remove glyphicon glyphicon-remove"></i>
                                <ng-container *ngIf="clipboard.otherObjects[value] && clipboard.otherObjects[value].ReferencedSeriesSequence">
                                    <div class="series_block block_part" *ngFor="let seriesequence of getKeys(clipboard.otherObjects[value].ReferencedSeriesSequence); let key = index;" [ngClass]="{'no-series':(!seriesequence || !(seriesequence && seriesequence.ReferencedSOPSequence)),'series':(seriesequence && seriesequence.ReferencedSOPSequence),'scroll-active':clipboardHasScrollbar}">
                                        <ng-container *ngIf="seriesequence && seriesequence.SeriesInstanceUID">
                                            {{seriesequence.SeriesInstanceUID}}
                                        </ng-container>
                                        <i *ngIf="seriesequence && seriesequence.SeriesInstanceUID" (click)='removeClipboardElement("serie", {"studykey":value, "serieskey":key})' class="remove glyphicon glyphicon-remove"></i>
                                        <ng-container *ngIf="seriesequence && seriesequence.ReferencedSOPSequence">
                                            <div class="sop_block block_part" *ngFor="let sopseq of getKeys(seriesequence.ReferencedSOPSequence); let key2 = index;">
                                                <span class="sopclass">
                                                    {{sopseq.ReferencedSOPClassUID}}
                                                </span>
                                                <span class="sopinstance">
                                                    {{sopseq.ReferencedSOPInstanceUID}}
                                                </span>
                                                <i (click)='removeClipboardElement("instance", {"studykey":value, "serieskey":key, "instancekey":key2})' class="remove glyphicon glyphicon-remove"></i>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        </div>
        <div class="dialogbuttons">
            <button class="save" type="button" (click)="dialogRef.close(reject)">{{saveLabel}}</button>
            <button class="cancle" type="button" (click)="dialogRef.close(null)">CANCEL</button>
        </div>
    </div>
</div>