<div class="vex vex-theme-os confirm" xmlns="http://www.w3.org/1999/html">
    <div class="vex-dialog-form">
        <h5 *ngIf="parameters.title">{{ parameters.title }}</h5>
        <div class="content">
            {{ parameters.content }}
        </div>
        <div class="dialogbuttons">
            <button class="save" type="button" (click)="dialogRef.close('ok')">OK</button>
            <button class="cancle" type="button" (click)="dialogRef.close(null)">CANCLE</button>
        </div>
    </div>
</div>
