<div>
    <input placeholder="Search in this part..." [(ngModel)]="partSearch" (keyup)="showAll()">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <div *ngFor="let formelement of formelements" class="form-row">
            <df-element [formelement]="formelement" [formelements]="formelements" [form]="form" [partSearch]="partSearch"></df-element>
        </div>
        <div class="form-row">
            <button type="submit" [disabled]="!form.valid">Save</button>
        </div>
    </form>
    <!--<button (click)="submitFunction()">submittesT</button>-->
    <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
</div>