<div class="dynamicform" [formGroup]="form">
    <div *ngIf="formelement.show || partSearch != ''">
        <label [attr.for]="formelement.key">{{formelement.label}}</label><br>
    </div>
    <!--form:{{form.controls.arraytest.controls | json}}-->
    <div [ngSwitch]="formelement.controlType">
        <!--<br> in ngswitch {{formelement |json}}<br>-->
        <div *ngIf="formelement.show || partSearch != ''">
            <input *ngSwitchCase="'text'" [formControlName]="formelement.key" [id]="formelement.key" [type]="formelement.type" />
        </div>
        <div *ngIf="formelement.show || partSearch != ''">
            <select *ngSwitchCase="'dropdown'" [id]="formelement.key" [formControlName]="formelement.key">
                <option value="">-</option>
                <option *ngFor="let opt of formelement.options" [value]="opt.key">{{opt.value}}</option>
            </select>
        </div>
        <div *ngIf="formelement.show || partSearch != ''">
            <div *ngSwitchCase="'radio'">
                <div *ngFor="let opt of formelement.options">
                    <input  [id]="formelement.key" [formControlName]="formelement.key" [value]="opt.value" type="radio">{{opt.key}}<br>
                </div>
            </div>
        </div>
        <div *ngIf="formelement.show || partSearch != ''">
            <div *ngSwitchCase="'checkbox'" [formArrayName]="formelement.key">
                <div *ngFor="let opt of formelement.options;let checkindex=index" >
                    <input  [id]="formelement.key" [name]="opt.value" [value]="opt.value" (change)="checkboxChange($event,form, formelement)" [checked]="opt.active" type="checkbox">{{opt.key}}<br>
                </div>
            </div>
        </div>
        <div *ngIf="formelement.show || partSearch != ''">
            <div *ngSwitchCase="'arrayobject'"  [formArrayName]="formelement.key">
                <div *ngFor="let item of formelement.options; let i=index" name="" [formGroupName]="i" >
                    <div *ngFor="let element of item.element">
                        <df-element [formelement]="element" [form]="form.controls[formelement.key].controls[i]" [formelements]="formelements"></df-element>
                    </div>
                </div>
                <div (click)="addElement(formelement.options, formelement, form.controls[formelement.key].controls)">add</div>
            </div>
        </div>
        <div *ngIf="formelement.show || partSearch != ''">
            <div *ngSwitchCase="'arrayelement'"  [formArrayName]="formelement.key">
                <div *ngFor="let item of formelement.value; let i=index">
                    <input *ngIf="formelement.type == 'number'" formControlName="{{i}}" type="number">
                    <input *ngIf="formelement.type != 'number'" formControlName="{{i}}" [type]="formelement.type">
                    <span (click)="removeArrayElement(formelement, i, form)">x</span>
                </div>
                <div (click)="addArrayElement(formelement.value, form.controls[formelement.key].controls, form)">add</div>
            </div>
        </div>
        <div *ngIf="formelement.show || partSearch != ''">
            <div *ngSwitchCase="'button'">
                <a class="btn btn-default" [routerLink]="[formelement.url]" title="{{formelement.description}}">{{formelement.title}}</a>
            </div>
        </div>
        <div *ngIf="formelement.show || partSearch != ''">
            <div *ngSwitchCase="'buttondropdown'">
                <label title="{{formelement.description}}">{{formelement.title}}</label>
                <select (change)="navigateTo($event.target.value)" *ngIf="formelement.options.length > 0">
                    <option [value]="">-</option>
                    <option *ngFor="let opt of formelement.options" [value]="opt.url">{{opt.title}}</option>
                </select>
                <a class="btn btn-default" [routerLink]="[formelement.addUrl]" title="{{formelement.description}}">Add</a>
                <a class="btn btn-default" (click)="clone(formelement,form.controls[formelement.key].controls)" title="{{formelement.description}}">clone</a>
            </div>
        </div>
        <div *ngIf="formelement.show || partSearch != ''">
            <span class="description">{{formelement.description}}</span>
        </div>
        <div class="toggle" *ngSwitchCase="'togglebutton'">
            <h4 (click)="toggleTab(formelement.order)">{{formelement.title}}</h4>
        </div>
    </div>
    <!--<div class="errorMessage" *ngIf="formelement.controlType != 'array' && !isValid">{{formelement.label}} is required</div>-->
</div>